/* app css stylesheet */

@import "non-degree.css";

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


h1 {
    
    margin: 0.67em 0;
}

.push-40 {
  margin-bottom: 40px !important;
}

.push-25-t {
  margin-top: 25px !important;
}

.push-60-t {
  margin-top: 60px !important;
}

.push-80-t {
  margin-top: 80px !important;
}

.font-s15 {
  font-size: 15px !important;
}


.font-w100 {
  font-weight: 100 !important;
}

.report_table1 pre, .report_table2 pre {
  white-space: pre-wrap;
  font-size: inherit;
  
}

.text-bbb {
  color: #bbb;
}

.push-25 {
    margin-bottom: 25px !important;
}


.push-40 {
    margin-bottom: 40px !important;
}

.push-40-t {
  margin-top: 40px !important;
}

.push-70-t {
  margin-top: 70px !important;
}

.font-s12 {
  font-size: 12px !important;
}

.font-s16 {
  font-size: 16px !important;
}

.font-s50 {
  font-size: 50px !important;
}


.font-s60 {
  font-size: 60px !important;
}

.font-s100 {
  font-size: 100px !important;
}

.bootbox.modal {
  margin-top: 100px;
}

.bootbox.modal>.modal-dialog>.modal-content>.modal-header {
  background-color: #5c90d2;
  padding: 12px 20px;
  color: white;
}

.bootbox.modal>.modal-dialog>.modal-content>.modal-body {
  font-size: 15px;
}


.report_table2 pre {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report_table2.table > tbody > tr > td {
  padding: 16px 10px;
}


/*fix the modal open offset*/
body.modal-open {
  overflow:hidden;
  padding-right:inherit !important;
}

/*.modal-open .modal {
    overflow: hidden;
  
}*/


.modal-open .modal.update-modal {
    overflow: hidden;
  
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



.bg-green {
  /*background-color: #6BDE98 ! important;*/
  /*background-color: #5EDB9C ! important;*/
  /*background-color: #6297DE ! important;*/
  background-color: #70b9eb ! important;


}

/*.badge-notify{
  background-color:red;
  position:relative;
  top:-19px;
  left:-15px;
}*/

/*.pdfViewer {

  height: 1500px;
  width: 800px;
}*/

.pdfobject-container {
   width: auto;
   height: 100%;
}

.st-sort-ascent:before {
  content: '\25B2';
}

.st-sort-descent:before {
  content: '\25BC';
}

.container .progress {
  height: 40px;
}

.container .progress-bar {
  height: 40px;
  line-height:40px;
}

.st-selected td {
  background-color: #357EBD;
  color:#FFFFFF;
}

#upgrid-navbar {
  margin-bottom: 0;
}

#upgrid-sidebar {
    font-size:1.6rem;
    font-weight:500;
    color: #337ab7;
    list-style-type: none;
    margin: 0;
    padding: 70px 0 0 0;
    width: 18%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;

}

/*#upgrid-sidebar li a:not{
   color: #337ab7;
}*/
/*

#upgrid-sidebar li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#upgrid-sidebar li a.active {
    background-color: #337ab7;
    color: white;
}*/

#upgrid-sidebar li a:focus {
    background-color: #337ab7;
    color: white;
}
/*
#upgrid-sidebar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}*/

.datatable tr th input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }



  /*for progressing circle*/
  .sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 500%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

/*progress cube*/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
/*spinner*/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*greyed out rows*/
.greyout-row {
  /*opacity: 0.7;*/
  /*color: #aaaaaa;*/
  opacity: 0.5;
}

/*table border customize*/
.cell-bordered > th, .cell-bordered > td {
  border:1px solid rgb(240,240,240);
}

#profile > h4 {
  color: #555; 
  padding:20px 15px 20px 15px; 
  width:50%;
  border-radius: 8px 8px 0 0;
}

#profile > fieldset {
  padding-left: 15px;
}

#profile hr {
  width:50%;

}

#profile fieldset label {
  font-size:1.7rem;
}

/**/


#brand a:hover{
  background: white;
  color: #666;
}

#confirmtable tbody:nth-child(even) {
  background:f9f9f9;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

/*.tablepagenum button.active {
  color:#ffffff;
}*/

.table {
  margin-bottom:30px;
}


.modal-dialogfull {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-contentfull {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

/*.viewer .block-content {
   height:80vh;
}

.viewer .block-contentfull {
  height: 100vh;
}*/

#profileloadingtable .block-content {
    height: 450px;
    overflow: scroll;
}

#profileloadingtable thead .pagination {
  margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.table .tablepagenum .btn-default.active:focus {
    color: #f4f4f4;
    background-color: #5c90d2;
}

.table tfoot button.btn.btn-default {
    color: #777;
}

.table tfoot button.btn.btn-default.active {
    color: #f4f4f4;
    background-color: #5c90d2;
    border-color: #5281bd;
}



/*loader*/
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*checkbox bg*/

.css-checkbox input + span {

    background: #fefbe9;
    border-radius: 2px;
 }


 .css-checkbox input + span:after { 

  color: #fefbe9;

 }


 .css-checkbox.css-input-disabled input + span {

    background: #e3e3e3;
    border-color: #b8b8b8;
 }


 .css-checkbox.css-input-disabled input + span:after { 

  color: #e3e3e3;

 }


/*

.shakeme {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
} */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/*invisible*/
.invisible {
  display:none;
}

/*@-webkit-keyframes shakeme {
  0% {
    -webkit-transform: translate(2px, 2px) rotate(20deg);
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-20deg);
  }
  40% {
    -webkit-transform: translate(2px, 2px) rotate(20deg);
  }
  60% {
    -webkit-transform: translate(-2px, 2px) rotate(-20deg);
  }
  80% {
    -webkit-transform: translate(4px, -4px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(-2px, 2px) rotate(-20deg);
  }
}*/
.shakeme {
  -webkit-animation-name: pulseme;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-duration: 1;
}

.pulseme {
  -webkit-animation-name: pulseme;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.8;
}

.shrinkeme {
  -webkit-animation-name: shrinkeme;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.8;
}


table input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.nav-main a:hover, .nav-main a:focus {
    
    background-color: rgba(0, 0, 0, 0.3);

  }

.bg-info {
    background-color: #70b9eb ! important;
}

.bg-success-light {
    background-color: #e0f5e9 ! important;
}


.table-hover > tbody > tr:hover, .table-hover>tbody>tr:hover>td {
    background-color: #edf6fd;
}


.nav-main.logout a:hover, .nav-main.logout a:focus {
    background-color: transparent;
    color: #fff;
}

/*
.nav-main.logout li:hover, .nav-main.logout li:focus {
    color: #fff;
}*/

@keyframes pulseme {
  0% {transform: scale(1);}
  20% {transform: scale(1.7);} 
  50% {transform: scale(1.3); } 
  70% {transform: scale(.9);} 
  85% {transform: scale(1.3);} 
  100% {transform: scale(1);}
}

@keyframes sonar { 
  0% {transform: scale(.9); opacity:1;}
  100% {transform: scale(2);opacity: 0;}
}

@keyframes shrinkeme {
  0% {transform: scale(1);}
  20% {transform: scale(0.3); } 
  50% {transform: scale(0.7); } 
  70% {transform: scale(1.1);} 
  85% {transform: scale(0.7);} 
  100% {transform: scale(1);}
}

.expand-header>tr>.open~.angle-right{
 
    background:black;
}

.expand-header>tr>.angle-right>i {
  -webkit-transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
}


.js-table-sections-header.open>tr>td:nth-child(2)>i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.js-table-sections-header>tr>td:nth-child(2)>i {
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
}

/*body open add bg color to the parent row*/
.js-table-sections-header.open > tr {
    background-color: white;
}

.features {
  display:none;
}

.clientlist, .clientlist ul {
  list-style: none;
}

ul.help-sidebar-list li{
  margin-bottom: 12px;
  font-weight:100;
}

.table .css-checkbox-primary input:checked + span {
    
    border-color: transparent;
}

#bootstrap-duallistbox-nonselected-list_, #bootstrap-duallistbox-selected-list_ {
  font-size:12px;
  overflow-x: scroll;
}

.nav-sub-header > li > a {
  color: #fff;
}

table tbody tr td select {
  width: 100% !important;
}

a.block.show-hide {
  transition: all linear 0.5s;
}

a.block.show-hide.ng-leave {
  opacity: 0;
}

#client_support a:hover,#client_support a:focus {
    
    font-weight: 500;
}

input[type="radio"][name="yesno"] {
    display: none;
}

#tab>.btn:first-child.active {
  background-color:#aaa;
  color:white;
}

#tab>.btn:nth-child(2).active {
  background-color:#5c90d2;
  color:white;
}

#tab>.btn {
  color: #ccc;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.1s;
}

.animate-show.ng-hide {
  /*line-height: 0;*/
  opacity: 0;
  
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/

#myModal .slimScrollDiv{
  height: 100% !important;
}

/* @media print {
    body * {
        visibility: hidden;
    }
    #print-content * {
        visibility: visible;
    }

  }*/

.viewer .block-content {
   height:80vh;
}

.viewer .block-contentfull {
  height: 100vh;
}

.block-content.fullscreen-container {
  /*height:500px;*/
  height:80vh;
}


/*
Full screen Modal 
*/

.fullscreen-modal.modal {
  top: 20px;
  bottom: 20px;
}

.fullscreen-modal .modal-dialog {
  width: calc(100vw - 60px);
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.fullscreen-modal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.fullscreen-modal .block-content.fullscreen-container {
  height:calc(100vh - 88px);
}

.block-content.fullscreen-container.share-link {
  height: 100vh;
}

/*@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1200px;
  }
}*/

.bg-warning-lighter {
  background: #fdfced;
}

.bg-gray-lighterer {
  background: #fcfcfc
}

.cell_narrow {
  width: 140px !important;
}

.table.report_table2 tr>td {
  vertical-align: middle !important;
}

/*test*/
/*.table.report_table2>tbody>tr>td:empty {
  background-color: #abe37d;
}*/

.table.report_table2>tbody>tr>td:not(:first-child) {
  text-align:center;
}

.table.report_table2>tbody>tr>td:nth-child(2):empty {
  background-color: #faffd4;
}

.table.report_table2>tbody>tr>td:not(:nth-child(2)):empty::after {
  content: "N/A";
  font-size: 90%;
  font-weight: 700;
  color: #c9c9c9;
  
}


.table.report_table2>tbody>tr>td:nth-child(2):empty::after {
  content: "N/A";
  font-size: 90%;
  font-weight: 700;
  color: #f3b760;
  /*color:#ff8f8f;*/
}


.table.report_table2 > tbody > tr:hover>td:nth-child(2).bg-highlight {
  background-color: rgba(250, 255, 212, 0.5) !important;
}

.table.report_table2 > tbody > tr:hover>td.bg-gray-lighter {
  background-color: rgba(249, 249, 249, 0.5) !important;
}


.table.report_table2 > tbody > tr:hover>td>.updated-text {
  background-color: rgba(241,255,136,0.8);
}

/*.table.report_table2>tbody>tr>td:not(nth-child(2)):empty::after {
  content: "N/A";
  font-size: 90%;
  font-weight: 700;
  color: #c9c9c9;
 
}
*/


.table.report_table2>tbody>tr>td>pre:not(:first-child):empty::after {
  /*content: "N/A";*/
 
  color:#ff8f8f;
}

.note-left {
  text-align: left !important;
}

.reportall.table>tbody>tr>td {
    vertical-align: top;
}


/*scrollbar*/
.frame {
    overflow-y: auto;
    overflow-x: hidden;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 25px;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #f5f5f5; /* should match background, can't be transparent */
    background-color: #a4a4a4;
}


/*frame for dashboard*/
.frame {
    overflow-y: auto;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 25px;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-track {
    background-color: #fafafa;
    
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #f5f5f5; /* should match background, can't be transparent */
    background-color: #c1c1c1;
}

/**/


.sub-checkbox.css-checkbox input + span {
    background: #fff !important;
}

.sub-checkbox.css-checkbox input + span:after {
    color: #fff !important;
}

.sub-checkbox.css-checkbox input:checked + span {
    border-color: #ccc;
}

@media (min-width: 1281px) {
  .modal-lg {
    width: 1140px;
  }
}

@media (min-width: 1441px) {
  .modal-lg {
    width: 1300px;
  }
}


/*popover modification*/
/*.popover-content {
    white-space: pre-wrap;
}
*/


 .btn-white {
  background: white;
  border-color: #e9e9e9;
 }

 .pagination>.pagination>li>a {
  font-weight: 400;
 }

 .th-bordered {
  border:1px solid #e3e3e3;
  padding: 12px 10px !important;
 }

 .td-bordered {
  border: 1px solid #f0f0f0;
  border-color: #ececec;
 }

 .text-orange {
  color: #EBA270;
 }

 a.text-orange:hover{
    color: #EBA270;
    opacity: .75;
}

.table > thead > tr > th {
    border-bottom: 1px solid #e3e3e3;
}

.table-hover > tbody > tr:hover > .bg-gray-lighterer {
    background-color: #edf6fd;
}

.last_td {
  border-left: 1px solid #f0f0f0;;
}

tfoot>tr>td>div>button {
  font-weight: 400 !important;
}

.block>.block-content pre {
    font-family: inherit;
    background-color: inherit;
    border: 0;
    color: inherit;
    line-height: inherit;
    padding: 0;
    vertical-align: top;
    word-break: break-word;
    margin: 0;
}



.report_table1.table-bordered > tbody > tr > td, .report_table1.table-bordered > tfoot > tr > td, 
.reportall.table-bordered > tbody > tr > td, .reportall.table-bordered > tfoot > tr > td
 {
    border: 1px solid #e6e6e6;

}

.report_table2.table-bordered td {
  border: 1px solid #ececec;
}

.highlight {
  background-color: yellow !important;
}

.bg-highlight {
  background-color: #faffd4 !important;
}

.label-gray {
    background-color: #bababa;
}

.text-highlight {
  color: #fcce66;
}

.label-na {
  font-size: 90%;
}

.updated-text {
  background-color: #F1FF88;
}

.w_updated-text {
  color: yellow;
}

.release.btn.btn-default {
  border-color: #dadada;
}

.release.btn.btn-default:hover {
  border-color: #b1b1b1;
}

.help-title {
  font-size: 21px;
  color: #545454;
}

a.help-title.link-effect:before {
    
    background-color: #545454;
    
}

a.help-title:hover {
    color: #2d2d2d;
}

.help-ul {
  padding-left: 3px;
  margin-top: 17px;
}

ul.help-ul>li {
  line-height:33px;
  font-size:15px;
  font-weight:600;
}

#client_support ul.help-ul>li>a:hover{
    font-weight: 600;
}


/*box shadow*/
.header-navbar-fixed #header-navbar {
    
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}
  
.text-dark {
  color: #545454;
}

.help-section-title {
  font-size: 26px;
  color: #545454;
  font-weight:100;
  
}

.help-point {
  font-size: 22px;
  
}

.help-figure {
  font-size: 14px;
  font-weight: 100;
  margin-top:10px;
}

.help-strong {
  font-weight:600;
  color:#545454;
}

.support-img {
  border: 1px solid #eee;
}

#client_support p {
  font-weight: 300;
}

.action-btns>button.btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.action-btns>button.btn:nth-child(2) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-white:hover {
  background-color: #e1e1e1;
  border-color: #cacaca;
}


.btn-white:hover>a.text-primary.fa.fa-cloud-download, .btn-white:hover>a.text-orange.fa.fa-share-alt  {
  opacity: 0.75;
}


.service-badge {
  border-radius: 5px;
  z-index: auto; 
  width: 135px; right: auto; 
  height: 34px; 
  bottom: auto; 
  left: 0px; 
  top: 0px;   
  margin-bottom: 5px;
  padding: 8px 15px 8px 10px;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background: linear-gradient(to bottom, #fff, #f5f5f5);
  font-weight: 600;
  letter-spacing: 0.3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}

.bg-sky-lighter {
  background-color: #f5f8fa
}

.fa.fa-angle-right {
  font-weight:600;
}


#timeline-release .nav-users a > img, #timeline-update .nav-users a > img {
    position: absolute;
    left: 12px;
    top: inherit;
    width: 38px;
    height: 38px;
    border-radius: 0;
}

.table .label.label-default, .table .label.label-info, .table .label.label-success {
  border-radius: 28px;
  font-weight:400;
}


.search-icon {
  color: #999;
  /*font-size: 18px !important*/
}


/*table in index*/
 .table th:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .table .action-column{
        width: 230px;
    }
    .table .action-column:hover{
        text-decoration: none;
        cursor: default;
    }
    .table tfoot .pagination{
        float: right;
        margin: 0;
    }
    .table tfoot .pagination li{
        cursor: pointer;
    }
    .table tfoot select{
        width: 90px;
        float: right;
        margin-right: 8px;
    }

.btn-orange {
    color: #fff;
    background-color: #F9883E;
    border-color: #e66816;
}


.btn-orange:hover {
    color: #fff;
    background-color: #DB7837;
    border-color: #C95B13;

}

.btn-orange:focus {
  color: #fff;
}

.btn-blue {
  background: #00A1E9;
}

.badge-whoops {
  border: none;
}


.badge-gray {
  background: #999999;
}
/*update tooltip*/
/*data-tooltip-class = "update-tooltip"*/
            .update-tooltip.tooltip .tooltip-inner {
                color: #fff;
  /*background-color: #d9edf7;
  border-color: #bce8f1;
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  border-color: #9acfea;*/
                background-color: rgba(35, 156, 236, 0.95);
                border-radius:3px;
            }
            /* Hide arrow */
            .update-tooltip.tooltip .tooltip-arrow { 
                /*border-top-color: rgba(94,157,236,0.9);*/
                border-top-color: rgba(35, 156, 236, 0.95);
            }



#report-manager-title {
  border-left: 5px solid;
  padding: 10px 15px;
}

.cart-report-row {
  padding: 0 15px;
}


/*#intro-para-1::first-letter {

    float: left;
    width: 2em;
    font-size: 310%;
    
    line-height: 100%;
    font-family: 'Georgia', Times, serif;
   
    margin-right: 5px;
}*/


.modal .block>.block-content {
  position: relative; 
}


.whoops_block {
  min-width: 610px;
}

.enhancement_block, .cart_block {
  min-width: 850px;
}

.report-popover {
  border-radius: 6px;
  word-break: break-word;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);

  font-family: consolas, courier, monaco, menlo, monospace;
  font-weight: 400;
}

.report-popover>.popover-inner {
  border-radius: 3px 3px 0 0;
}

.report-popover .popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-family: consolas, courier, monaco, menlo, monospace;
}
.report-popover .popover-content {
    padding: 9px 14px;
    font-size: 13px;
}


.mfp-img {
  max-height:none !important;
  max-width:700px !important;
}

.intro-icon {
  max-width: 80px;
}

/*ribbon update*/
.ribbon-update>.ribbon-box {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding: 0 12px 0 6px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    z-index: 500;
}

.ribbon-update.ribbon-danger .ribbon-box {
    background-color: #ea6c6c;
}


.ribbon-update.ribbon-danger.ribbon-modern .ribbon-box:before {
    border-color: #ea6c6c;
    border-left-color: transparent;
    border-bottom-color: transparent;
}


/*ribbon-city*/
.ribbon-update.ribbon-city .ribbon-box {
    background-color: #ff6b6b;
}

.ribbon-update.ribbon-city.ribbon-modern .ribbon-box:before {
    border-color: #ff6b6b;
    border-left-color: transparent;
    border-bottom-color: transparent;
}


/*ribbon-flat*/
.ribbon-update.ribbon-flat .ribbon-box {
    background-color: #44b4a6;
}

.ribbon-update.ribbon-flat.ribbon-modern .ribbon-box:before {
    border-color: #44b4a6;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

/*ribbon-success*/
.ribbon-update.ribbon-success .ribbon-box {
    background-color: #46c37b;
}

.ribbon-update.ribbon-success.ribbon-modern .ribbon-box:before {
    border-color: #46c37b;
    border-left-color: transparent;
    border-bottom-color: transparent;
}



.ribbon-update.ribbon-modern .ribbon-box:before {
    top: 0;
    right: 100%;
    border: 8px solid;
}


.ribbon-update>.ribbon-box:before {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: "";
}
/*end of ribbon-update*/

.update-popover {
  width:100%;
  max-width: none;
}



.edit-pencil {
  padding: 5px;
}

.edit-pencil>i {
  cursor: pointer;
}

#subuserform input, #subuserform select {
  cursor: inherit;;
}

.whoops-info {
  cursor: pointer;
}

.show-name-ellipsis {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*customized tabs*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/
.board{
   
height: 100%;
background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    width: 80%; 
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa;
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}




.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 50%;
}


#modal-large-edit .nav-tabs > li {
    width: 33%;
}

.nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 48%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
   /* .board {
width: 90%;
height:auto !important;
}*/
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}


/*end customized tabs*/


#client-email {
  display:none;
}


.table-hover.client-table > tbody > tr:hover>td:nth-child(2) #client-email{
    display: inline-block;
}

.tab-share .tab-pane{
  padding: 0;
}


.tab-share .block.block-link-hover3 {
  margin-bottom: 0;
}


.content-grid .day-grid:first-child .day-number{
  color:hsl(204, 75%, 68%);
}

.content-grid .day-grid:nth-child(2) .day-number{
  color:hsl(204, 75%, 60%);
}

.content-grid .day-grid:nth-child(3) .day-number{
  color:hsl(204, 75%, 52%);
}

.content-grid .day-grid:nth-child(4) .day-number{
  color:hsl(204, 75%, 44%);
}

.content-grid .block {
  border:1px solid #e1e1e1;
  border-radius: 2px;
}


#whoops-days>.block-content, #enhancement-days>.block-content, #reports-days>.block-content {
  border-bottom: 1px solid #e1e1e1;
}


.section-title {
  font-size: 19px;
  font-weight: 400;
  padding: 3px 10px;
  margin-top: 10px;
  border-left: 5px solid #5c90d2;
}


.breadcrumb.xdf-bread > li + li:not(:nth-child(2)):before {
    display: inline-block;
    padding: 0;
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.5);
    content: "|";
    width: 20px;
    text-align: center;
}

.xdf-content {
    font-size: 20px;
    font-weight: 100;
}

.label_new {
    font-size: 80%;
    vertical-align: top;
    font-weight: 700;
}


.ex-table-headercell {
  padding: 5px 15px;
  border-left: 0;
  border-right: 0;
}

.course.add {
  background: #f0f8ed;
}

.course.rm {
  background: #f8eded;
}

.categoryheader {
  font-size: 18px;
  color:#999999;
  background-color: #f4f4f4;
  border-left: 3px solid #999;
  padding: 4px 10px;
}

.categoryheader.add {
  color: #3c763d;
  background-color: #dff0d8;
  border-left: 3px solid #3c763d;

}

.categoryheader.rm {
  color: #a94442;
  background-color: #f2dede;
  border-left: 3px solid #a94442;

}


.non-degree-table.table-bordered td {
    border: 1px solid #e5e5e5;
}

/*.non-degree-table.table-hover> tbody > tr:hover>td {
  background-color: rgba(237, 246, 253, 0.5) !important;
}

    */


.update-popover-category {
    width: initial;
    max-width: none;
}

.zebra-row-gray:nth-child(even)>td:last-child {
  background:#f9f9f9;
}

.zebra-row-gray:nth-child(odd)>td:last-child {
  background:#fefefe;
}

.hover-underline:hover {
  text-decoration: underline;
}