#mysite_nav {position:fixed; z-index:2; right:10px; top: 100px;}	
#mysite_nav li {position: relative;margin-left: -15px;list-style: none;}
#mysite_nav li input{position: absolute;left: 0;margin-left: 0;opacity: 0;z-index: 2;cursor: pointer;height: 1em;width:1em;top: 0;}
#mysite_nav input + ol{display: none;}
#mysite_nav input + ol > li { height: 0; overflow: hidden; margin-left: -14px !important; padding-left: 1px; }
#mysite_nav li label {cursor: pointer;padding-left: 17px;background: no-repeat 0px 1px;}
#mysite_nav input:checked + ol {margin: -22px 0 0 -44px;padding:27px 0 0 80px;height: auto;display: block;}
#mysite_nav input:checked + ol > li { height: auto;}
#mysite_nav {     
	float: right;
    width: 15%; 
}
#content-main {
    float: left;
    width: 85%;
}