<!-- Error Content -->
        <div class="content bg-white text-center pulldown overflow-hidden" style="top:0px">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <!-- Error Titles -->
                    <h1 class="push-100-t font-s60 font-w300 text-warning animated zoomInDown">Internal Server Error</h1>
                    <h2 class="h3 font-w300 push-100 push-70-t animated fadeInUp">The server encountered an internal error or misconfiguration and was unable to complete your request.</h2>
                    <br><br><br>
                    <!-- END Error Titles -->

                  
                </div>
            </div>
        </div>
        <!-- END Error Content -->

        <!-- Error Footer -->
        <div class="content pulldown text-muted text-center push-10-t" style="top:0px">
            Would you like to let us know about it?<br>
            <a class="link-effect" href="mailto:info@gridet.com?subject=Internal Server Error">Report it</a> or <a class="link-effect" href="javascript:void(0)" data-ui-sref="login">Go back to the Login screen</a>
        </div>
        <!-- END Error Footer -->