
    <body>
        <!-- Maintenance Content -->
        <div class="content bg-white text-center pulldown overflow-hidden">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="font-s128 font-w300 text-city animated flipInX push-50 push-30-t"><img src="/static/img/G-rid-6-logo.png" alt="" height="130" style=""></h1>

                    <h1 class="h2 font-w400 push-50 animated fadeInLeftBig">Coming soon...</h1>
                    
                </div>
            </div>
        </div>
        <!-- END Maintenance Content -->

        <!-- Maintenance Footer -->
        <div class="pulldown push-30-t text-center animated fadeInUp">
             <a class="link-effect font-w600" href="http://www.gridet.com" target="_blank">www.gridet.com</a><br><br>
            <span class="font-w600">Copyright &copy; 2016 <span  style="color:#646464;">Gridology Education & Technology, Inc.</span></span>
        </div>
        <!-- END Maintenance Footer -->

        <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
      
    </body>
