
        <!-- Error Content -->
        <div class="content bg-white text-center pulldown overflow-hidden" style="top:0px">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <!-- Error Titles -->
                    <h1 class="font-s128 font-w300 text-city animated flipInX push-50"><img src="img/G-rid-6-logo.png" alt="" height="130" style=""></h1>
                    
                    <h2 class="h3 font-w300 push-50 animated fadeInUp">The link has expired. <br>Please contact the orginal sender.</h2>
                    <br><br><br>
                    <!-- END Error Titles -->

                  
                </div>
            </div>
        </div>
        <!-- END Error Content -->



        <!-- Error Footer -->
        <div class="content pulldown text-muted text-center push-10-t" style="top:0px">
            
            <a class="link-effect font-w600" href="http://www.gridet.com" target="_blank">www.gridet.com</a><br><br>
            <span class="font-w600">Copyright &copy; 2016 <span  style="color:#646464;">Gridology Education & Technology, Inc.</span></span>
        </div>
        <!-- END Error Footer -->