        <div class="content content-boxed">



              <!-- -->

             
                         
                            <div class="block" id="loadingtable">
                                <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
                                    <li class="active">
                                        <a href="#btabs-alt-static-justified-home" data-toggle="tab"><i class="fa fa-home"></i> Whoops Report</a>
                                    </li>
                                    <li>
                                        <a href="#btabs-alt-static-justified-profile" data-toggle="tab"><i class="fa fa-pencil"></i> Enhancement Report</a>
                                    </li>
                                   
                                </ul>
                                <div class="block-content tab-content">
                                    <div class="tab-pane active" id="btabs-alt-static-justified-home" style="padding-top: 10px">
                                        
                                      <div class="">
                    
                        <table class="table table-hover table-vcenter client-table" st-pagination-scroll st-table="whoops_data" st-pipe="whoops_pipe">
                            <colgroup>
                           
                            <col width="35%" />
                            <col width="35%" />
                            <col width="20%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                           


                            <tr>
                               
                                <th st-sort="contact_name" class="text-left">Program</th>
                                
                                <!-- <th st-sort="university" class="text-left">University</th> -->
                                <th class="text-center">

                                    Client

                                </th>
                                
                                <th class="text-center" style="min-width: 95px">Created</th>
                                <th class="text-right" style="width:40px">View</th>
                            </tr>
                            <tr>
                               

                                <th colspan="4" class="border-l border-r" style="background: #f0f4f8;">

                              
                              
                                <input st-search="customer_program" class="form-control" placeholder="whoops report search ..." type="text" />
                     
                              
                      
                               
                                    

                                    

                                </th>

                                
                            </tr>
                        </thead>

                        <tbody ng-repeat="row in whoops_data">

                            <tr>
                    
                        <td>
                                {{row.customer_program.split('|')[0]}} ({{row.customer_program.split('|')[1]}} )
                        </td>

                        
                        <td class="text-center">
                            {{row.customer}}
                        </td>
                      
                        <td class="text-center">
                          

                           {{row.created | amUtc | amDateFormat:'MMM DD, YYYY, HH:mm'}}
                       </td>
                                        <td class="text-right" style="width:40px">
                                           
                                           <a type="button" data-ui-sref="admin-backdoor-reader({type: 'whoops', object_id: row.object_id})" target="_blank" class="btn btn-minw btn-rounded btn-info" type="button">View</a>


                                        </td>
                                    </tr>



                                </tbody>


                <tfoot>
                    <tr>
                        <td colspan="2">
                           
                        </td>
                        <td colspan="2" class="text-center">
                            <br>
                            <br>
                            <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


                                    </div>
                                    <div class="tab-pane" id="btabs-alt-static-justified-profile"  style="padding-top: 10px">
                                        <div class="">
                    
                        <table class="table table-hover table-vcenter client-table" st-pagination-scroll st-table="enhancement_data" st-pipe="enhancement_pipe">
                            <colgroup>
                           
                            <col width="35%" />
                            <col width="35%" />
                            <col width="20%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                           


                            <tr>
                               
                                <th st-sort="contact_name" class="text-left">Program</th>
                                
                                <!-- <th st-sort="university" class="text-left">University</th> -->
                                <th class="text-center">

                                    Client

                                </th>
                                
                                <th class="text-center" style="min-width: 95px">Created</th>
                                <th class="text-right" style="width:40px">View</th>
                            </tr>
                            <tr>
                               

                                <th colspan="4" class="border-l border-r" style="background: #f0f4f8;">

                               
                                <input st-search="customer_program" class="form-control" placeholder="enhancement report search ..." type="text" />

                              
                              
                                    

                                    

                                </th>

                                
                            </tr>
                        </thead>

                        <tbody ng-repeat="row in enhancement_data">

                            <tr>
                    
                        <td>
                                {{row.customer_program.split('|')[0]}} ({{row.customer_program.split('|')[1]}} )

                        </td>

                        
                        <td class="text-center">
                            {{row.customer}}

                        </td>
                      
                        <td class="text-center">
                          

                           {{row.created | amUtc | amDateFormat:'MMM DD, YYYY, HH:mm'}}
                       </td>
                                        <td class="text-right" style="width:40px">

                                           <a type="button" data-ui-sref="admin-backdoor-reader({type: 'enhancement', object_id: row.object_id}) " target="_blank" class="btn btn-minw btn-rounded btn-info" type="button">View</a>
                                          
                                          
                                          


                                        </td>
                                    </tr>


                                </tbody>


                <tfoot>
                    <tr>
                        <td colspan="2">
                           
                        </td>
                        <td colspan="2" class="text-center">
                            <br>
                            <br>
                            <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
                                    </div>
                                    
                                </div>
                            </div>
                          

        </div>



<div class="modal fullscreen-modal viewer fade update-modal" id="EnhancementReport"  role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#WhoopsReport', 'fullscreen_toggle');" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop2()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Enhancement Report 

                                &nbsp;&nbsp;<span class="badge badge-danger" style=" background-color: #d26a5c;">{{e_show_update}} Updates</span>

                                </h3>
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" id="scrolltop_enhancement_page">

                    <!-- SlimScroll Container -->
                   <!--  <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->

                   <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                    <div ng-include src="'/static/views/Home/partials/enhancement_template_pro.html'"></div>
                    </div>


                  <!--   </div> -->
                    <!-- END SlimScroll Container -->
                
                        <div style="position: fixed;bottom: 20px;right: 44px;">
                            <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" data-dismiss="modal" ng-click="scrolltop2(); release_updates(release_customer_program_id)"><i class="si si-mouse"></i> Update</button>

                        </div>


            </div>
                            </div>
      
    </div>
  </div>
</div>



   <!-- Modal of Pdf Viewer-->
      <div class="modal viewer fade update-modal" id="WhoopsReport"  role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b" id="whoops_loading">
              <div class="block-header bg-primary-dark">
                <ul class="block-options">
                                    <li>
                                        <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                     </li>

                                    <li>
                                        <button type="button" ng-click="togglefull(); actualscreen = !actualscreen" data-js-blur><i ng-class="{'si si-size-fullscreen': !actualscreen, 'si si-size-actual': actualscreen }"></i></button>
                                      </li>
                                      
                                      <li>
                                        <button data-dismiss="modal" type="button" ng-click="scrolltop1()" data-js-blur><i class="si si-close"></i></button>
                                      </li>
                                    </ul>
                                    <h3 class="block-title">Whoops Report 
                                    &nbsp;&nbsp;<span class="badge badge-danger" style=" background-color: #d26a5c;">{{w_update}} Updates</span>
                                    </h3>

                                  </div>
                                  
                                  <div class="block-content fullscreen-container frame" style="width:auto;padding:0; " id="scrolltop_whoops_page">

               
                        <!-- SlimScroll Container -->
                       


                        <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                        <div ng-include src="'/static/views/Home/partials/whoops_template_pro.html'"></div>
                        
                        </div>
                         
                        
                        <!-- END SlimScroll Container -->
                        <div style="position: fixed;bottom: 20px;right: 110px;">
                            <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" data-dismiss="modal" ng-click="scrolltop1(); w_release_updates(release_customer_program_id)"><i class="si si-mouse"></i> Update</button>

                        </div>

                </div>
            </div>
          
        </div>
      </div>
    </div>



