<div class="content content-boxed">
    <div class="block" id="emailloading">
        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
            <li class="active">
                <a href="#btabs-alt-static-justified-pending" data-toggle="tab" ng-click="preview_notification()">
                	<i class="fa fa-home"></i> 
                	Pending 
                </a>
            </li>
            <li>
                <a href="#btabs-alt-static-justified-history" data-toggle="tab" ng-click='email_history()'>
                	<i class="fa fa-pencil"></i> 
                	History
                </a>
            </li>
        </ul>
        <div class="block-content tab-content">
            <div class="tab-pane active" id="btabs-alt-static-justified-pending" style="padding-top: 10px">
            	<!-- <button class="btn btn-primary" style='float:right' type="button" ng-click='send_notification()'> &nbspSend&nbsp </button> -->
            	<!-- Begain of Email -->
				<table class="table table-hover">
					<colgroup>
						<col width='8'>
						<col width='18%'>
						<col width='38%'>
						<col width='18%'>
						<col width='18%'>
					</colgroup>
					<thead>
						<tr style="cursor:default">
							<th class='text-center decoration_none bg-gray-lighterer' style="cursor:default"></th>
							<th class='text-center decoration_none' style="cursor:default">Email address</th>
							<th class='text-center decoration_none' style="cursor:default">School</th>	
							<th class='text-center decoration_none' style="cursor:default">Client Name</th>	
							<th class='text-center decoration_none' style="cursor:default">Last Sent</th>			
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2">
								<select ng-model="active_user" ng-init='active_user="active"' ng-change="preview_notification()" class="form-control" id="select-type" name="select-type">
                                    <option value="">----</option>
                                    <option value="active">active</option>
                                    <option value="inactive">inactive</option>
                                </select>
							</td>
							<td>
								<select ng-model="demo_user" class="form-control" ng-change="preview_notification()" id="select-demo" name="select-demo">
	                                <option value="">select an account type</option>
	                                <option value="regular">clients</option>
	                                <option value="demo">demo</option>
	                            </select>
							</td>
							<td colspan="2">
								<select ng-model="nondegree_user" class="form-control" ng-change="preview_notification()" id="select-nondegree" name="select-nondegree">
                                    <option value="">select a product line</option>
	                                <option value="non_degree">exec ed</option>
	                            </select>
							</td>
						</tr>
						<tr ng-repeat='email in emailarr track by $index' style="cursor:pointer">
							<td class="text-center bg-gray-lighterer">
								<label class="css-input css-checkbox css-checkbox-primary">
									<input type="checkbox" checked disabled/><span></span>
								</label>
							</td>
							<td class='text-center' ng-click=' checkcontent(email)' data-toggle="modal" data-target="#modal-fadein">{{ email.email_address }}</td>
							<td class='text-center' ng-click=' checkcontent(email)' data-toggle="modal" data-target="#modal-fadein">
								{{ email.school }}<br />
								{{ email.university }}
							</td>
							<td class='text-center' ng-click=' checkcontent(email)' data-toggle="modal" data-target="#modal-fadein">{{ email.client_name }}</td>
							<td class='text-center' ng-click=' checkcontent(email)' data-toggle="modal" data-target="#modal-fadein">{{ email.last_sent }}</td>
						</tr>
					</tbody>
				</table>	
				<!-- Email contentModal -->
				<div class="modal fade" id="modal-fadein" tabindex="-1" role="dialog" aria-hidden="true">
		            <div class="modal-dialog modal-lg">
		                <div class="modal-content">
		                    <div class="block block-themed block-transparent remove-margin-b">
		                        <div class="block-header bg-primary-dark">
		                            <ul class="block-options">
		                                <li>
		                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
		                                </li>
		                            </ul>
		                            <h3 class="block-title">Email Content</h3>
		                        </div>
		                        <div class="block-content" ng-bind-html='email_content'>
		                        </div>
		                    </div>
		                    <div class="modal-footer">
		                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"> Cancel </button>
		                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" ng-click='individual_send()'> &nbsp&nbspSend&nbsp&nbsp </button>
		                    </div>
		                </div>
		            </div>
		        </div>

			<!-- End of Email -->
        	</div>
			<div class="tab-pane" id="btabs-alt-static-justified-history" style="padding-top: 10px">
			<!-- Begain of History -->
				<h1>History</h1>
				<table st-table = 'history_arr' class="table table-hover">
					<colgroup>
						<col width='20%'>
						<col width='30%'>
						<col width='20%'>
						<col width='30%'>
					</colgroup>
					<thead>
						<tr>
							<th class='text-center decoration_none' style="cursor:default">Email address</th>
							<th class='text-center decoration_none' style="cursor:default">School</th>	
							<th class='text-center decoration_none' style="cursor:default">Client Name</th>	
							<th class='text-center decoration_none' style="cursor:default">Sent Time</th>	
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='email in history_arr track by $index' style="cursor:pointer">
							<td class='text-center' ng-click=' check_history_content(email)' data-toggle="modal" data-target="#modal2-fadein">{{ email.customer__email }}</td>
							<td class='text-center' ng-click=' check_history_content(email)' data-toggle="modal" data-target="#modal2-fadein">
								{{ email.school }}<br />
								{{ email.university }}
							</td>
							<td class='text-center' ng-click=' check_history_content(email)' data-toggle="modal" data-target="#modal2-fadein">{{ email.client_name }}</td>
							<td class='text-center' ng-click=' check_history_content(email)' data-toggle="modal" data-target="#modal2-fadein">{{ email.date_modified }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" class="text-center">
								<div class='block-content'>
									<nav>
										<ul class="pagination">
											<li ng-class='previous_class()'><a ng-click='previous_page()'><i class="fa fa-angle-left"></i></a></li>
											<li ng-repeat='page in pagination_number_arr' ng-class = 'page_class({{ page }})'><a ng-click='page_change(page)'>{{ page }}</a></li>
											<li  ng-class='next_class()'><a ng-click='next_page()'><i class="fa fa-angle-right"></i></a></li>
										</ul>	
									</nav>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="modal fade" id="modal2-fadein" tabindex="-1" role="dialog" aria-hidden="true">
		            <div class="modal-dialog modal-lg">
		                <div class="modal-content">
		                    <div class="block block-themed block-transparent remove-margin-b">
		                        <div class="block-header bg-primary-dark">
		                            <ul class="block-options">
		                                <li>
		                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
		                                </li>
		                            </ul>
		                            <h3 class="block-title">Email Content</h3>
		                        </div>
		                        <div class="block-content" ng-bind-html='email_content'>
		                        </div>
		                    </div>
		                    <div class="modal-footer">
		                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"> OK </button>
		                    </div>
		                </div>
		            </div>
		        </div>
			<!-- End of History -->
			</div>
		</div>
	</div>
</div>	



