<div class="content content-boxed">
    <!-- Section -->
    <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('/static/img/Mountain.jpg'); background-position: 50% 45%">
        <div class="bg-black-op">
            <div class="content">
                <div class="block block-transparent block-themed text-center">
                    <div class="block-content">
                        <h1 class="h1 font-w700 text-white animated fadeInDown push-5">Admin Interface</h1>
                        <h2 class="h4 font-w400 text-white-op animated fadeInUp">Welcome, Account Manager.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>