        <div class="content content-boxed">



                <!-- Customers -->
                <div class="block" id="loadingtable">
                    
                    <div class="block-content">




                    <div class="row push-30">

                    <div class="col-sm-6 border-r">
                      <div class="row">
                        <div class="col-sm-12">
                        <div class="h2 text-muted push-20 push-15-t">Whoops Report</div>
                      </div>

                      </div>

                      <div class="row push-20">
                        <div class="col-sm-12">
                          {{whoops_id}}
                          <select class="js-data-whoops" style="width: 100%" ng-model="whoops_id">
                                                            <option value="" selected="selected"></option>
                                                        </select>
                          </div>
                      </div>


                      <div class="row">
                      <div class="col-sm-12">
                        <button>View Report</button>

                      </div>
                        
                      </div>
                    </div>


                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-12">
                        <div class="h2 text-muted push-20 push-15-t">Enhancement Report</div>
                      </div>

                      </div>

                      <div class="row push-20">
                        <div class="col-sm-12">
                        {{enhancement_id}}
                          <select class="js-data-enhancement" style="width: 100%" ng-model="enhancement_id" ng-change="get_depart()">
                                                            <option value="" selected="selected"></option>
                                                        </select>
                          </div>
                      </div>


                      <div class="row">
                      <div class="col-sm-12">
                        <button>View Report</button>

                      </div>
                        
                      </div>
                    </div>


                    </div>





                    </div>
                </div>
        </div>



<div class="modal fullscreen-modal viewer fade update-modal" id="EnhancementReport"  role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#WhoopsReport', 'fullscreen_toggle');" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop2()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Enhancement Report 

                                &nbsp;&nbsp;<span class="badge badge-danger" style=" background-color: #d26a5c;">{{e_show_update}} Updates</span>

                                </h3>
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" id="scrolltop_enhancement_page">

                    <!-- SlimScroll Container -->
                   <!--  <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->

                   <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                    <div ng-include src="'/static/views/Home/partials/enhancement_template_pro.html'"></div>
                    </div>


                  <!--   </div> -->
                    <!-- END SlimScroll Container -->
                
                        <div style="position: fixed;bottom: 20px;right: 44px;">
                            <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" data-dismiss="modal" ng-click="scrolltop2(); release_updates(release_customer_program_id)"><i class="si si-mouse"></i> Update</button>

                        </div>


            </div>
                            </div>
      
    </div>
  </div>
</div>



   <!-- Modal of Pdf Viewer-->
      <div class="modal viewer fade update-modal" id="WhoopsReport"  role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b" id="whoops_loading">
              <div class="block-header bg-primary-dark">
                <ul class="block-options">
                                    <li>
                                        <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                     </li>

                                    <li>
                                        <button type="button" ng-click="togglefull(); actualscreen = !actualscreen" data-js-blur><i ng-class="{'si si-size-fullscreen': !actualscreen, 'si si-size-actual': actualscreen }"></i></button>
                                      </li>
                                      
                                      <li>
                                        <button data-dismiss="modal" type="button" ng-click="scrolltop1()" data-js-blur><i class="si si-close"></i></button>
                                      </li>
                                    </ul>
                                    <h3 class="block-title">Whoops Report 
                                    &nbsp;&nbsp;<span class="badge badge-danger" style=" background-color: #d26a5c;">{{w_update}} Updates</span>
                                    </h3>

                                  </div>
                                  
                                  <div class="block-content fullscreen-container frame" style="width:auto;padding:0; " id="scrolltop_whoops_page">

               
                        <!-- SlimScroll Container -->
                       


                        <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                        <div ng-include src="'/static/views/Home/partials/whoops_template_pro.html'"></div>
                        
                        </div>
                         
                        
                        <!-- END SlimScroll Container -->
                        <div style="position: fixed;bottom: 20px;right: 110px;">
                            <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" data-dismiss="modal" ng-click="scrolltop1(); w_release_updates(release_customer_program_id)"><i class="si si-mouse"></i> Update</button>

                        </div>

                </div>
            </div>
          
        </div>
      </div>
    </div>



