<div class="content content-boxed">
    <div class="block" id="loadingtable">
        <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
            <li class="active">
                <a href="#btabs-alt-static-justified-pending" data-toggle="tab" ng-click="preview_notification()">
                	<i class="fa fa-home"></i> 
                	Pending 
                </a>
            </li>
            <li>
                <a href="#btabs-alt-static-justified-history" data-toggle="tab">
                	<i class="fa fa-pencil"></i> 
                	History
                </a>
            </li>
        </ul>
        <div class="block-content tab-content">
            <div class="tab-pane active" id="btabs-alt-static-justified-pending" style="padding-top: 10px">
            	<!-- Begain of Email -->
				<table class="table table-hover">
					<colgroup>
						<col width='8'>
						<col width='18%'>
						<col width='38%'>
						<col width='18%'>
						<col width='18%'>
					</colgroup>
					<thead>
						<tr style="cursor:default">
							<th class='text-center decoration_none bg-gray-lighterer' style="cursor:default"></th>
							<th class='text-center decoration_none' style="cursor:default">Email address</th>
							<th class='text-center decoration_none' style="cursor:default">School</th>	
							<th class='text-center decoration_none' style="cursor:default">Client Name</th>	
							<th class='text-center decoration_none' style="cursor:default">Username</th>			
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='email in emailarr track by $index' style="cursor:pointer">
							<td class="text-center bg-gray-lighterer">
								<label class="css-input css-checkbox css-checkbox-primary">
									<input type="checkbox" checked disabled/><span></span>
								</label>
							</td>
							<td class='text-center' ng-click=' checkcontent(email.content)' data-toggle="modal" data-target="#modal-fadein">{{ email.email_address }}</td>
							<td class='text-center' ng-click=' checkcontent(email.content)' data-toggle="modal" data-target="#modal-fadein">
								{{ email.school }}<br />
								{{ email.university }}
							</td>
							<td class='text-center' ng-click=' checkcontent(email.content)' data-toggle="modal" data-target="#modal-fadein">{{ email.client_name }}</td>
							<td class='text-center' ng-click=' checkcontent(email.content)' data-toggle="modal" data-target="#modal-fadein">{{ email.username }}</td>
						</tr>
					</tbody>
					<tfoot>
		        		<button class="btn btn-primary" style='float:right' type="button" ng-click='send_notification()'> &nbspSend&nbsp </button>
					</tfoot>
				</table>	
				<!-- Email contentModal -->
				<div class="modal fade" id="modal-fadein" tabindex="-1" role="dialog" aria-hidden="true">
		            <div class="modal-dialog">
		                <div class="modal-content">
		                    <div class="block block-themed block-transparent remove-margin-b">
		                        <div class="block-header bg-primary-dark">
		                            <ul class="block-options">
		                                <li>
		                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
		                                </li>
		                            </ul>
		                            <h3 class="block-title">Email Content</h3>
		                        </div>
		                        <div class="block-content" ng-bind-html='email_content'>
		                        </div>
		                    </div>
		                    <div class="modal-footer">
		                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"> Cancel </button>
		                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"> &nbsp&nbspSend&nbsp&nbsp </button>
		                    </div>
		                </div>
		            </div>
		        </div>

			<!-- End of Email -->
        	</div>
			<div class="tab-pane" id="btabs-alt-static-justified-history" style="padding-top: 10px">
			<!-- Begain of History -->
				<h1>History</h1>
			<!-- End of History -->
			</div>
		</div>
	</div>
</div>	



