<div class="content content-boxed">

  <!-- Customers -->
  <div class="block" id="loadingtable">

    <div class="block-content">
      <div class="">

        <div class="alert alert-warning" role="alert" ng-if="non_degree_schools.length===0">{{emptyExecutiveLabel}}</div>

        <table class="table table-hover" st-table="non_degree_schools" ng-if="non_degree_schools.length>0" style="table-layout: fixed;">

          <colgroup>

          <col width="10%" />
          <col width="20%" />

          <col width="80px" />
          <col width="15%" />
          <col width="15%" />
        </colgroup>

        <thead>
          <tr>
            <th class="text-left">Ceeb</th>
            <th class="text-left">School</th>
            <th class="text-center">Release Preview</th>
            <th class="text-center">History</th>
            <th class="text-center">Archived</th>

          </tr>

        </thead>

        <tbody>
          <tr ng-repeat="row in non_degree_schools">


            <td>



              <label class="label label-default text-success bg-success-light" style="
              border: 1px solid #46c37b;
              font-size: 9px;
              padding: 1px 4px;
              margin-left: 5px;    top: -3px; font-size: 80%;">{{row.ceeb}}</label>

            </td>

            <td>

              {{row.school}}
              <div class="text-muted push-5-t" style="font-size:80%">{{row.university | uppercase}}
              </div>

            </td>





            <td class="text-center">

              <button class="btn btn-default btn-white" ng-click="previewReport(row.object_id)" data-js-blur>
                <a class="fa fa-cloud-upload text-city" style="vertical-align: middle;">
                </a>
              </button>

            </td>

            <td class="text-center">
              <select id="js-data-active-{{row.object_id}}" ng-model="selectedReportId_active">
                <option></option>
              </select>
              <button class="btn btn-default btn-white" data-uib-tooltip="View report" data-tooltip-placement="top" ng-click="viewReport(selectedReportId_active)" data-js-blur>
                <a class="fa fa-file text-primary" style="vertical-align: middle;"></a>
              </button>
              <button class="btn btn-default btn-white" data-uib-tooltip="Edit report" data-tooltip-placement="top" ng-click="editReport(selectedReportId_active)" data-js-blur>
                <a class="fa fa-edit text-primary" style="vertical-align: middle;"></a>
              </button>
              <button class="btn btn-default btn-white" data-uib-tooltip="Archive report" data-tooltip-placement="top" ng-click="archiveReport(selectedReportId_active,row.object_id)" data-js-blur>
                <a class="fa fa-archive text-primary" style="vertical-align: middle;"></a>
              </button>

            </td>
            <td class="text-center">
              <select id="js-data-inactive-{{row.object_id}}" ng-model="selectedReportId_inactive">
                <option></option>
              </select>
              <button class="btn btn-default btn-white" ng-click="recoverReport(selectedReportId_inactive,row.object_id)" data-js-blur>Recover</button>
            </td>



          </tr>

        </tbody>


        <tfoot ng-show="non_degree_schools.length>25">
          <tr>



            <td colspan="3">
              <br><br>
              <div class="btn-group pull-left ng-scope tablepagenum">

                <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>

              </div>
            </td>

            <td colspan="3" class="text-center">
              <br><br>
              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
            </td>


          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>
</div>


<!-- Modal of release pop-up window-->
<div class="modal fullscreen-modal fade" id="previewReport"  role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b" id="previewReport_loading">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button ng-click="printReport_preview()" type="button" data-js-blur><i class="si si-printer"></i></button>
            </li>
            <li>
              <button type="button" ng-click="togglefullen_preview(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
            </li>
            <li>
              <button data-dismiss="modal" type="button" ng-click="scrolltop_preview(); readyToRelease=false" data-js-blur><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Preview Report</h3>
        </div>
        <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" du-scroll-container id="scrolltop_preview">
          <!-- SlimScroll Container -->
          <div class="block cart_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="top-report_preview">
            <div class="block-content block-content-full bg-white" style="height:100%;" id="print-content_preview">
              <!-- ########### -->
              <!-- dynamic templates -->
              
                <div ng-include src="'/static/views/Home/partials/reports/non_degree_previewreport.html'"></div>
              
              <!-- Footer -->
             
            </div>
          </div>
          <div style="position: fixed;bottom: 80px;right: 44px;">
            <a  data-js-blur href="#top-report_preview" style="font-size: 30px;background: #eee;opacity: 0.6;width: 44px;display: block;text-align: center;border-radius: 8px;" du-smooth-scroll><i class="fa fa-arrow-up"></i></a>
          </div>
          <!-- END SlimScroll Container -->
          <div style="position: fixed;bottom: 20px;right: 44px;">
              <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" ng-click="releaseConfirm()" popover-enable="$parent.releaseConfirmEnable" popover-is-open="$parent.releaseConfirmIsOpen" uib-popover-template="'releaseConfirmTemplate.html'" ><i class="si si-mouse"></i> Release</button>

              <script type="text/ng-template" id="releaseConfirmTemplate.html">
                  <label>Are you sure you want to release this Tracking Report?</label>
                  <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" ng-click="releaseReport(); scrolltop_preview(); toggleRCIsOpen(); toggleRCEnable()" data-dismiss="modal">Yes</button>
                  <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" ng-click="toggleRCIsOpen()">No</button>
              </script>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal of view report pop-up window-->
<div class="modal fullscreen-modal fade" id="viewReport"  role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b" id="viewReport_loading">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button ng-click="printReport_view()" type="button" data-js-blur><i class="si si-printer"></i></button>
            </li>
            <li>
              <button type="button" ng-click="togglefullen_view(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
            </li>
            <li>
              <button data-dismiss="modal" type="button" ng-click="scrolltop_view()" data-js-blur><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">History Report</h3>
        </div>
        <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" du-scroll-container id="scrolltop_view">
          <!-- SlimScroll Container -->
          <div class="block cart_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="top-report_view">
            <div class="block-content block-content-full bg-white" style="height:100%;" id="print-content_view">
              <!-- ########### -->
              <!-- dynamic templates -->
              
                <div ng-include src="'/static/views/Home/partials/reports/non_degree_viewreport.html'"></div>
              
              <!-- Footer -->
             
            </div>
          </div>
          <div style="position: fixed;bottom: 20px;right: 44px;">
            <a  data-js-blur href="#top-report_view" style="font-size: 30px;background: #eee;opacity: 0.6;width: 44px;display: block;text-align: center;border-radius: 8px;" du-smooth-scroll><i class="fa fa-arrow-up"></i></a>
          </div>
          <!-- END SlimScroll Container -->
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal of edit report pop-up window-->
<div class="modal fullscreen-modal fade" id="editReport"  role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b" id="editReport_loading">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button ng-click="printReport_edit()" type="button" data-js-blur><i class="si si-printer"></i></button>
            </li>
            <li>
              <button type="button" ng-click="togglefullen_edit(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
            </li>
            <li>
              <button data-dismiss="modal" type="button" ng-click="scrolltop_edit()" data-js-blur><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Edit Report</h3>
        </div>
        <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" du-scroll-container id="scrolltop_edit">
          <!-- SlimScroll Container -->
          <div class="block cart_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="top-report_edit">
            <div class="block-content block-content-full bg-white" style="height:100%;" id="print-content_edit">
              <!-- ########### -->
              <!-- dynamic templates -->
              
                <div ng-include src="'/static/views/Home/partials/reports/non_degree_editreport.html'"></div>
              
              <!-- Footer -->
             
            </div>
          </div>
          <div style="position: fixed;bottom: 80px;right: 44px;">
            <a  data-js-blur href="#top-report_edit" style="font-size: 30px;background: #eee;opacity: 0.6;width: 44px;display: block;text-align: center;border-radius: 8px;" du-smooth-scroll><i class="fa fa-arrow-up"></i></a>
          </div>
          <div style="position: fixed;bottom: 20px;right: 44px;">
              <button data-js-blur type="button" class="btn btn-default" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" ng-click="saveReport()"><i class="si si-mouse"></i> Save</button>
          </div>
          <!-- END SlimScroll Container -->
        </div>
      </div>
    </div>
  </div>
</div>