<div class="content content-narrow" ng-controller="FormController">
                    <!-- Simple Wizards -->
   
    <div class="row">
        <div class="col-lg-12">
            <!-- Simple Classic Progress Wizard (.js-wizard-simple class is initialized in js/controllers.js -> FormsWizardCtrl Controller) -->
            <!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
            <div class="js-wizard-simple block">
                <!-- Step Tabs -->
                <ul class="nav nav-tabs nav-justified" data-js-tabs>
                    <li class="active">
                        <a href="#simple-classic-progress-step1" data-toggle="tab" data-js-blur>1. Client Info</a>
                    </li>
                    <li>
                        <a href="#simple-classic-progress-step2" data-toggle="tab" data-js-blur>2. Contract Details</a>
                    </li>
                    <li>
                        <a href="#simple-classic-progress-step3" data-toggle="tab" data-js-blur>3. University Programs</a>
                    </li>
                    
                </ul>
                <!-- END Step Tabs -->

                <!-- Form -->
                <form class="form-horizontal" onsubmit="return false;">
                    <!-- Steps Progress -->
                    <div class="block-content block-content-mini block-content-full border-b">
                        <div class="wizard-progress progress progress-mini remove-margin-b">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        </div>
                    </div>
                    <!-- END Steps Progress -->

                    <!-- Steps Content -->
                    <div class="block-content tab-content">
                        <!-- Step 1 -->
                        <div class="tab-pane fade fade-right in push-30-t push-50 active" id="simple-classic-progress-step1">
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-account-name" class="col-md-4 control-label">Account Name</label>
                                    <div class="col-md-8 input-group">
                                    <input ng-model="" class="form-control" type="text" id="simple-classic-progress-account-name" name="simple-classic-progress-account-account-name" placeholder="Please enter the account name">
                                    <span class="input-group-addon">.00</span>
                                    </div>
                                </div>


                            </div>
                            <!-- <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <label for="simple-classic-progress-lastname">Last Name</label>
                                    <input class="form-control" type="text" id="simple-classic-progress-lastname" name="simple-classic-progress-lastname" placeholder="Please enter your lastname">
                                </div>
                            </div> -->
                            <div class="form-group">
                                      
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-password" class="col-md-4 control-label">Password</label>
                                    <div class="col-md-8">
                                    <input class="form-control" type="password" id="simple-classic-progress-password" name="simple-classic-progress-password" placeholder="Please enter the password">
                                    </div>
                                </div>
         
                            </div>
                            
                            <div class="form-group">
                                      
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-conform-password" class="col-md-4 control-label">Confirm Password</label>
                                    <div class="col-md-8">
                                    <input class="form-control" type="password" id="simple-classic-progress-confirm-password" name="simple-classic-progress-confirm-password" placeholder="Please confirm the password">
                                    </div>
                                </div>
         
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-email" class="col-md-4 control-label">Email</label>
                                    <div class="col-md-8">
                                    <input class="form-control" type="email" id="simple-classic-progress-email" name="simple-classic-progress-email" placeholder="Please enter the email">
                                    </div>
                                </div>
                            </div>


				            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-title" class="col-md-4 control-label">Title</label>
                                    <div class="col-md-8">
                                    <select class="form-control" id="simple-classic-progress-title" name="simple-classic-progress-title">
                                        <option value="">Please select the title</option>
                                        <option value="Master">Master</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Miss">Miss</option>
                                        <option value="Ms">Ms</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Mx">Mx</option>
                                        <option value="Dr">Dr</option>
                                    </select>
                                    </div>





                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-name" class="col-md-4 control-label">Client Name</label>
                                    <div class="col-md-8">
                                    <input class="form-control" type="text" id="simple-classic-progress-name" name="simple-classic-progress-account-name" placeholder="Please enter the client's name">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-position" class="col-md-4 control-label">Position</label>
                                    <div class="col-md-8">
                                    <input class="form-control" type="text" id="simple-classic-position" name="simple-classic-progress-position" placeholder="Please enter the position">
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="radio-group3">Service Level</label>
                                    <br>
                                    <label class="css-input css-radio css-radio-primary push-10-r">
                                            <input type="radio" name="radio-group3" checked><span></span> Basic
                                    </label>
                                    <label class="css-input css-radio css-radio-primary">
                                            <input type="radio" name="radio-group3"><span></span> Silver
                                    </label>

                                    <label class="css-input css-radio css-radio-primary push-10-r">
                                            <input type="radio" name="radio-group3"><span></span> Gold
                                    </label>
                                    <label class="css-input css-radio css-radio-primary">
                                            <input type="radio" name="radio-group3"><span></span> Platinum
                                    </label>


                                </div>
                            </div> -->

                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-progress-level" class="col-md-4 control-label">Position Level</label>
                                    <div class="col-md-8">
                                    <select class="form-control" id="simple-classic-progress-level" name="simple-classic-progress-level">
                                        <option value="">Please select the position level</option>
                                        <option value="University">University</option>
                                        <option value="School">School</option>
                                        <option value="Academic_Department">Academic Department</option>
                                        <option value="Administrative_Department">Administrative Department</option>
                                        <option value="Program">Program</option>
                                       
                                    </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <label for="simple-classic-phone" class="col-md-4 control-label">Phone</label>
                                    <div class="col-md-8">
                                    <input class="form-control" type="text" id="simple-classic-phone" name="simple-classic-progress-phone" placeholder="e.g. 200-111-2222.">
                                    </div>
                                </div>
                            </div>
                                        
                                
                        </div>
                        <!-- END Step 1 -->

                        <!-- Step 2 -->
                        <div class="tab-pane fade fade-right in push-30-t push-50" id="simple-classic-progress-step2">

                        <!-- <button ng-click="submit()">abcd</button> -->

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <label for="simple-classic-progress-level" class="col-md-3 control-label">Ceeb</label>
                                    <div class="col-md-9">
                                    <select class="form-control" id="simple-classic-ceeb" name="simple-classic-progress-ceeb" style="width:50%">
                                        <option value="">Please select the Ceeb</option>
                                        <option value="2162">2162: Columbia University - Graduate School of Arts and Sciences</option>
                                        <option value="2092_GSAS">2092_GSAS: nyu - The Graduate School of Arts and Sciences–Camden</option>
                                        <option value="2111">2111: Columbia University - School of Engineering & Applied Science</option>
                                        <option value="2507">2507: nyu - Robert F. Wagner Graduate School of Public Service</option>
                                        
                                       
                                    </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <label for="simple-classic-progress-dept" class="col-md-3 control-label">Department</label>
                                    <div class="col-md-9">
                                    <select class="form-control" id="simple-classic-dept" name="simple-classic-progress-dept" style="width:50%">
                                        <option value="">Please select the department</option>
                                        <option value="2162">Dean's Office</option>
                                        <option value="2092_GSAS">Decision, Risk, and Operations</option>
                                        <option value="2111">Accounting</option>
                                        <option value="2507">Executive MBA Programs</option>
                                        
                                       
                                    </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <label for="radio-group4" class="col-md-3 control-label">Account Type</label>
                                    <div class="col-md-9">
                                    <label class="css-input css-radio css-radio-primary push-10-r">
                                            <input type="radio" name="radio-group4"><span></span> Main
                                    </label>
                                    <label class="css-input css-radio css-radio-primary">
                                            <input type="radio" name="radio-group4" checked><span></span> Sub
                                    </label>
                                    </div>



                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <label for="radio-group3" class="col-md-3 control-label">Service Level</label>
                                    <div class="col-md-9">
                                    <label class="css-input css-radio css-radio-primary push-10-r">
                                            <input type="radio" name="radio-group5" checked><span></span> Basic
                                    </label>
                                    <label class="css-input css-radio css-radio-primary">
                                            <input type="radio" name="radio-group5">
                                            <span></span> Silver&nbsp;&nbsp;
                                    </label>

                                    <label class="css-input css-radio css-radio-primary push-10-r">
                                            <input type="radio" name="radio-group5"><span></span> Gold
                                    </label>
                                    <label class="css-input css-radio css-radio-primary">
                                            <input type="radio" name="radio-group5"><span></span> Platinum
                                    </label>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                             	<div class="col-sm-10 col-sm-offset-1">
	                            <label for="datepicker1" class="col-md-3 control-label">Expiration Date</label>
	                            <div class="col-md-9">
	                                <input data-js-datepicker class="form-control" type="text" id="datepicker1" name="datepicker1" data-date-format="mm/dd/yy" placeholder="mm/dd/yy" style="width:50%">
	                            </div>
	                            </div>
	                        </div>


                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <label for="radio-group3" class="col-md-3 control-label">Competing Schools</label>
                                    <div class="col-md-9 control-label" style="text-align:left" id="listboxes">
                                   		
                                   <!-- <select ng-options="p for p in prefix" multiple="multiple" size="10" ng-model="schools" id="competingschools">
									      
									    </select> -->


                                   		<select multiple="multiple" size="10" ng-model="schools" id="competingschools">
									    </select>
                                    </div>

                                </div>
                            </div>

                             
<!-- 
                            <div class="form-group">
	                            <label class="col-md-4 control-label" for="example-datetimepicker3">Full options</label>
	                            <div class="col-md-6">
	                                <div data-js-datetimepicker="{showTodayButton: true, showClear: true, showClose: true}" class="input-group date">
	                                    <input class="form-control" type="text" id="example-datetimepicker3" name="example-datetimepicker3" placeholder="Choose a date..">
	                                    <span class="input-group-addon">
	                                        <span class="fa fa-calendar"></span>
	                                    </span>
	                                </div>
	                            </div>
	                        </div>
 -->




                        </div>
                        <!-- END Step 2 -->

                        <!-- Step 3 -->
                        <div class="tab-pane fade fade-right in push-30-t push-50" id="simple-classic-progress-step3">


                        <div class="col-sm-12 push-30">
                           <button type="button" class="btn btn-minw btn-square btn-success pull-right">
                                <i class="glyphicon glyphicon-plus">
                                </i> Add a user program
                            </button>
                            <br>
                            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-bordered table-hover block" style="table-layout: fixed;" class="formtable">
                            <colgroup>
                                     <col width="31%"/>
                                      <col width="12%"/>
                                      <col width="13%"/>
                                      <col width="13%"/>
                                      <col width="13%"/>
                                      <col width="13%"/>
                                      <col width="5%"/>
                                    </colgroup>

                                <thead>
                                <tr>
                                    <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                                </tr>

                                <tr class="bg-info text-white">
                                    <th st-sort="">Program</th>
                                    <th st-sort="">Degree</th>
                                    <th st-sort="">Program Status</th>
                                    <th st-sort="">Whoops Release</th>
                                    <th st-sort="">Enhancement Release</th>
                                    <th st-sort="">Confirm</th>
                                    <th class="text-right"></th>
                                </tr>
                                
                                </thead>

                                <tbody ng-repeat="row in displayedCollection">
                                <tr class="text-primary font-w600">
                                    <td>{{row.name}}</td>
                                    <td>{{row.degree}}</td>

                                    <td>    
                                        <select ng-model="row.whoops_status" 
                                          ng-options="p for p in done"
                                          >
                                          <option value="">---</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-model="row.whoops_release" 
                                          ng-options="p for p in released"
                                          >
                                          <option value="">---</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select ng-model="row.enhancement_release" 
                                          ng-options="p for p in released"
                                          >
                                          <option value="">---</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select ng-model="row.confirm" 
                                          ng-options="p for p in confirmed"
                                          >
                                          <option value="">---</option>
                                        </select>

                                    </td>

                                    <td class="">
                                    
                                    <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash-o">
                                        </i>
                                    </button>

                                    </td>
                                </tr>


                        <tr class="bg-gray-lighter">
                             
                             <td colspan="2" class="text-muted">
                                 <small>Competing Program</small>
                             </td>

                             <td class="text-muted">
                                 <small>1st Review</small>
                             </td>

                             <td class="text-muted">
                                 <small>2nd Review</small>
                             </td>

                             <td class="text-muted">
                                 <small>Final Review</small>
                             </td>

                             <td colspan="2">

                             </td>
                         </tr>
                        <tr class="bg-gray-lighter" ng-repeat = "row1 in subrows">
                         
                        <td colspan="2">
                        <label>{{row1.order}}</label>
                                    <form class="form-inline">
                                    <div class="form-group" style="margin-bottom:0">
                                       
                                        <div class="col-md-12">
                                            <select data-js-select2 class="form-control" id="example-select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one..">
                                                <option></option>
                                                <option value="1">2092_GSAS: nyu - The Graduate School of Arts and Sciences–Camden - Biology - MS</option>
                                                <option value="2">2092_GSAS: nyu - The Graduate School of Arts and Sciences–Camden - English - MA</option>
                                                <option value="3">2162: Columbia University - Graduate School of Arts and Sciences - Anthropology - MA</option>
                                                <option value="4">2162: Columbia University - Graduate School of Arts and Sciences - East Asian Languages and Cultures - MA - Master of Arts</option>
                                                <option value="5">2162: Columbia University - Graduate School of Arts and Sciences - Journalism - MA - Master of Arts</option>
                                                <option value="6">2092_GSAS: nyu - The Graduate School of Arts and Sciences–Camden - Childhood Studies - MA - Master of Arts</option>
                                                <option value="7">2092_GSAS: nyu - The Graduate School of Arts and Sciences–Camden - Chemistry - MS - Master of Science</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                </form>
                                </td>

                                <td>
                                    <span class="label label-success">Done</span>
                                    
                                </td>
                                   
                                <td>
                                <span class="label label-default">In Progress</span>
                                </td>
                                   
                                <td>
                                    <select ng-model="competing" 
                                          ng-options="p for p in done"
                                          >
                                          <option value="">---</option>
                                    </select>
                                </td>
                                <td colspan="2"></td>
                                    
                                </tr>


                                </tbody>


                            </table>

                    </div>


            <!-- 
                    <form class="form-horizontal" action="index.html" method="post" onsubmit="return false;">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="example-select2">Normal</label>
                            <div class="col-md-8">
                                <select data-js-select2 class="form-control" id="example-select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one..">
                                    <option></option>
                                    <option value="1">HTML markup</option>
                                    <option value="2">CSS</option>
                                    <option value="3">JavaScript</option>
                                    <option value="4">PHP</option>
                                    <option value="5">MySQL</option>
                                    <option value="6">Ruby</option>
                                    <option value="7">AngularJS</option>
                                </select>
                            </div>
                        </div>
                        
                        
                    </form>
            -->

                          
                            
                        </div>
                        <!-- END Step 3 -->
                    </div>
                    <!-- END Steps Content -->

                    <!-- Steps Navigation -->
                    <div class="block-content block-content-mini block-content-full border-t">
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="wizard-prev btn btn-default" type="button" data-js-blur><i class="fa fa-arrow-left"></i> Previous</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="wizard-next btn btn-default" type="button" data-js-blur>Next <i class="fa fa-arrow-right"></i></button>
                                <button class="wizard-finish btn btn-primary" type="submit" data-ui-sref="admin" data-js-blur><i class="fa fa-check"></i> Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- END Steps Navigation -->
                </form>
                <!-- END Form -->
            </div>
            <!-- END Simple Classic Progress Wizard -->
        </div>
        
    </div>
</div>
              