


<div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          
                              
    <div class="block-content fullscreen-container share-link" style="width:auto;padding:0;">

    			<div ng-show="message" class="text-center" style="color: red;">{{message}}</div>

            	<div class="block whoops_block" style="padding:7px 12px 12px 12px;margin:0; background:#f5f5f5" ng-show="type==='whoops'">
                    <div ng-include src="'/static/views/Home/partials/whoops_template.html'"></div>
                </div>

                <div class="block enhancement_block" style="padding:7px 12px 12px 12px;margin:0; background:#f5f5f5" ng-show="type==='enhancement'">
                    <div ng-include src="'/static/views/Home/partials/enhancement_template.html'"></div>
                </div>


    </div>
</div>


