        <div class="content content-boxed">

                <!-- Stats -->
                <div class="row text-uppercase">
                    <div class="col-xs-6 col-sm-6">
                        <div class="block block-rounded">
                            <div class="block-content block-content-full">
                                <div class="font-s12 font-w700">Total</div>
                                <a class="h2 font-w300 text-primary">{{update_client.length}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="block block-rounded">
                            <div class="block-content block-content-full">
                                <div class="font-s12 font-w700">Active</div>
                                <a class="h2 font-w300 text-primary">{{update_client.length}}</a>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-xs-12 col-sm-4">
                        <div class="block block-rounded">
                            <div class="block-content block-content-full">
                                <div class="font-s12 font-w700">Unedited</div>
                                <a class="h2 font-w300 text-primary" href="javascript:void(0)">3</a>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- END Stats -->
                

              

                <button class="btn btn-info push-30" ng-click="testOnDemand()"><i aria-hidden="true" ng-class="{'fa fa-refresh': !ondemand, 'fa fa-refresh fa-spin': ondemand }"></i>&nbsp;&nbsp;ON DEMAND</button>
                

                <!-- Customers -->
                <div class="block" id="loadingtable">
                    
                    <div class="block-content">
                        <div class="table-responsive">

                        <div class="alert alert-warning" role="alert" ng-show="update_client.length===0">{{emptyUpdateLabel}}</div>

                            <table class="table table-hover table-vcenter"  st-table="update_client" data-js-table-sections-update ng-show="update_client.length>0" style="table-layout: fixed;">

                                    <colgroup>
                                      <col width="10%"/>
                                      <col width="15%"/>
                                      
                                      <col width="20%"/>
                                      <col width="15%"/>
                                      <col width="15%"/>
                                      <col width="15%"/>
                                      <col width="60px"/>
                                    </colgroup>

                                <thead>
                                <tr>
                                    
                                    <th class="text-center"><i class="icon-user"></i></th>
                                    <th st-sort="contact_name" class="text-left">Name</th>
                                    <th st-sort="university" class="text-left">University</th>
                                    <th st-sort="department" class="text-left">Department</th>
                                    <th st-sort="email" class="text-left">Email</th>
                                    <th class="text-center">Updates</th>
                                    <th class="text-center"><i class="fa fa-refresh"></i></th>

                                </tr>

                                </thead>

                                <tbody class="js-table-sections-header" ng-repeat-start="row in update_client">
                                    <tr>
                                      <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="/static/img/avatar6.jpg" alt="">
                                        </td>

                                        <td>{{row.contact_name}}</td>
                                       
                                        <td>{{row.university}}</td>

                                        <td>{{row.department}}

                                            <span ng-if="row.department===null">
                                                N/A
                                            </span>
                                        </td>

                                        <td><a href="mailto:{{row.email}}">{{row.email}}</a></td>

                                        <td class="text-center">
                                           
                                                                <button class="btn btn-default btn-white" type="button" style="position: relative; margin-right:6px" ng-click="updated_whoops(row.id)" ng-disabled="row.has_update.whoops_update===0">
                                                                <i data-uib-tooltip="Whoops" data-tooltip-placement="top" class="fa fa-wrench" ng-disabled="row.has_update.whoops_update===0" ng-class="{'text-success': row.has_update.whoops_update===0, 'text-warning': row.has_update.whoops_update!==0}">
                                                                </i><span ng-if="row.has_update.whoops_update>0" class="badge badge-danger" style="position: absolute;top:-10px;right:-10px; background-color: #d26a5c;">{{row.has_update.whoops_update}}</span>
                                                                </button>

                                                                <button class="btn btn-default btn-white" style="position: relative;" ng-click="updated_enhancement(row.id)" ng-disabled="row.has_update.enhancement_update===0">
                                                                  <i data-uib-tooltip="Enhancement" data-tooltip-placement="top" class="fa fa-rocket" ng-disabled="row.has_update.enhancement_update===0" ng-class="{'text-success': row.has_update.enhancement_update===0, 'text-warning': row.has_update.enhancement_update!==0}">
                                                                 </i><span ng-if="row.has_update.enhancement_update>0" class="badge badge-danger" style="position: absolute;top:-10px;right:-10px; background-color: #d26a5c;z-index: 1;">{{row.has_update.enhancement_update}}</span>
                                                                 </button>
                                                               
                                                            

                                        </td>

                                        <td>

                                        </td>

                                    </tr>
                                
                                    </tbody>


                                    <tbody ng-repeat-end class="bg-gray-lighter">
                                    <tr ng-repeat="row1 in dropdown_list">
                                    <td></td>
                                    <td colspan="3">
                                    {{row1.customer_program.program_display.split('--')[1]}} ({{row1.customer_program.program_display.split('--')[2].split('-')[0]}})
                                    </td>

                                    <td>
                                    </td>

                                    <td class="text-center">

                                        <button class="btn btn-default btn-white" style="position: relative;" ng-click="need_for_confirm(row1.customer_program_id, row1.type, row1.customer_program.program_display, row.id)" data-toggle="modal" data-target="#WhoopsReport" ng-if="row1.type==='whoops'">
                                                                  <i data-uib-tooltip="Enhancement" data-tooltip-placement="top" class="fa fa-file-text-o text-info">
                                                                 </i> &nbsp;<span class="text-primary">View</span>

                                                                <!--  <span ng-if="row1.update_nums>0" class="badge badge-danger" style="position: absolute;top:-10px;right:-10px; background-color: #d26a5c;z-index: 1;">{{row1.update_nums}}</span> -->
                                        </button>

                                        <button class="btn btn-default btn-white" style="position: relative;" ng-click="need_for_confirm(row1.customer_program_id, row1.type, row1.customer_program.program_display, row.id)" data-toggle="modal" data-target="#EnhancementReport" ng-if="row1.type==='enhancement'">
                                                                  <i data-uib-tooltip="Enhancement" data-tooltip-placement="top" class="fa fa-file-text-o text-info">
                                                                 </i> &nbsp;<span class="text-primary">View</span>
                                                                 <!-- <span ng-if="row1.update_nums>0" class="badge badge-danger" style="position: absolute;top:-10px;right:-10px; background-color: #d26a5c;z-index: 1;">{{row1.update_nums}}</span> -->
                                        </button>

                                        
                                    </td>


                                    <td>
                                            <button class="btn btn-default btn-white" style="position: relative;" ng-click="ondemand_one(row1.customer_program_id, row1.type, row.id)">
                                                                  <i data-uib-tooltip="Ondemand" data-tooltip-placement="top"  ng-class="{'fa fa-refresh text-primary': !ondemand_single, 'fa fa-refresh fa-spin text-primary': ondemand_single }">
                                            </i>
                                        </button>

                                    </td>

                                    
                                    </tr>
                                    </tbody>
                                <tfoot ng-show="update_client.length>25">
                                    <tr>
                                      

                                      
                                      <td colspan="3">
                                         <br><br>
                                        <div class="btn-group pull-left ng-scope tablepagenum" >
                                         
                                          <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                                          <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>
                                          
                                        </div>
                                      </td>

                                      <td colspan="3" class="text-center">
                                        <br><br>
                                        <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
                                      </td>


                                    </tr>
                                  </tfoot>
                            </table>
                        </div>
                        <!-- <div class="text-center push">
                            <button class="btn btn-xs btn-default" type="button">
                                <i class="fa fa-arrow-down push-5-r text-primary"></i>Load More..
                            </button>
                        </div> -->
                    </div>
                </div>
        </div>



<div class="modal fullscreen-modal viewer fade" id="EnhancementReport"  role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#WhoopsReport', 'fullscreen_toggle');" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop2()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Enhancement Report 

                                &nbsp;&nbsp;<span class="badge badge-danger" style=" background-color: #d26a5c;">{{e_show_update | keylength}} Updates</span>

                                </h3>
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" id="scrolltop_enhancement_page">

                    <!-- SlimScroll Container -->
                   <!--  <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->

                   <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                    <div ng-include src="'/static/views/Home/partials/enhancement_template_pro.html'"></div>
                    </div>


                  <!--   </div> -->
                    <!-- END SlimScroll Container -->
                
                        <div style="position: fixed;bottom: 20px;right: 44px;">
                            <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" data-dismiss="modal" ng-click="scrolltop2(); release_updates(release_customer_program_id)"><i class="si si-mouse"></i> Release</button>

                        </div>


            </div>
                            </div>
      
    </div>
  </div>
</div>



   <!-- Modal of Pdf Viewer-->
      <div class="modal viewer fade" id="WhoopsReport"  role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b" id="whoops_loading">
              <div class="block-header bg-primary-dark">
                <ul class="block-options">
                                    <li>
                                        <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                     </li>

                                    <li>
                                        <button type="button" ng-click="togglefull(); actualscreen = !actualscreen" data-js-blur><i ng-class="{'si si-size-fullscreen': !actualscreen, 'si si-size-actual': actualscreen }"></i></button>
                                      </li>
                                      
                                      <li>
                                        <button data-dismiss="modal" type="button" ng-click="scrolltop1()" data-js-blur><i class="si si-close"></i></button>
                                      </li>
                                    </ul>
                                    <h3 class="block-title">Whoops Report 
                                    &nbsp;&nbsp;<span class="badge badge-danger" style=" background-color: #d26a5c;">{{w_update | keylength}} Updates</span>
                                    </h3>

                                  </div>
                                  
                                  <div class="block-content fullscreen-container frame" style="width:auto;padding:0; " id="scrolltop_whoops_page">

               
                        <!-- SlimScroll Container -->
                       


                        <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                        <div ng-include src="'/static/views/Home/partials/whoops_template_pro.html'"></div>
                        
                        </div>
                         
                        
                        <!-- END SlimScroll Container -->
                        <div style="position: fixed;bottom: 20px;right: 110px;">
                            <button data-js-blur type="button" class="btn btn-default release" style="font-size: 16px;background: #fff;opacity: 0.8;width: auto;display: block;text-align: center;border-radius: 8px; border-width: 5px;" data-dismiss="modal" ng-click="scrolltop1(); w_release_updates(release_customer_program_id)"><i class="si si-mouse"></i> Release</button>

                        </div>

                </div>
            </div>
          
        </div>
      </div>
    </div>



