<div class="block block-themed block-transparent remove-margin-b" id="sharedTrackingReport_loading">
  <div class="block-content fullscreen-container share-link frame" style="width:auto;padding:0;" du-scroll-container >
    <div class="block cart_block" id="top-sharedTrackingReport" style="padding:7px 12px 12px 12px;margin:0; background:#f5f5f5">
      <div ng-include src="'/static/views/Home/non_degree_report.html'"></div>
    </div>
    <!--   Scroll top button -->
    <div style="position: fixed;bottom: 20px;right: 44px;">
      <a  data-js-blur href="#top-sharedTrackingReport" style="font-size: 30px;background: #eee;opacity: 0.6;width: 44px;display: block;text-align: center;border-radius: 8px;" du-smooth-scroll><i class="fa fa-arrow-up"></i></a>
    </div>
  </div>
</div>