

<div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          
                              
    <div class="block-content fullscreen-container share-link" style="width:auto;padding:0;">

           
            <!-- SlimScroll Container -->
            <!-- <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->

            	<div class="block enhancement_block" style="padding:7px 12px 12px 12px;margin:0; background:#f5f5f5">
                    <div ng-include src="'/static/views/Home/partials/enhancement_template.html'"></div>
                </div>


            <!-- </div> -->
            <!-- END SlimScroll Container -->
            

    </div>
</div>
