
files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On

commands:
  00upgrade_setuptools:
    command: /opt/python/run/venv/bin/pip install --upgrade setuptools
  01create_log_directory:
    command: mkdir -p /var/log/app
  02change_log_dir_permission:
    command: chmod g+s /var/log/app && setfacl -d -m g::rw /var/log/app/
  03change_log_dir_owner:
    command: chown wsgi:wsgi /var/log/app
  04config_eb_logging:
    command: /opt/elasticbeanstalk/bin/log-conf -n 'applog' -l'/var/log/app/*' -t taillogs,bundlelogs,publishlogs

container_commands:
  01collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "settings.prod_settings"
#    PYTHONPATH: "/opt/python/current/app/ceebadmin:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "wsgi.py"
