
<!-- Page Content -->
<div class="content content-boxed">
  <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
  
  <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
  <div class="block block-rounded">
    <div class="block-header">
            <!-- <div class="block-options">
                <code>.data-js-table-checkable</code>
              </div> -->
              <!-- <h3 class="block-title">Checkable Table</h3> -->
              <div class="col-sm-7">
                <h1 class="page-heading">
                  Enhancement Report <small>  Stay abreast of competing programs.</small>
                </h1>

              </div>

              <div ng-if="accountType ==='main'" class="col-sm-5" style="margin-top:1.5em;" >
                <button href="#myModalConfirm" id="openBtn1" data-toggle="modal" ng-click="confirmDialog()" ng-disabled="unconfirmedprogram_nums === 0" ng-class="{'css-input-disabled btn btn-success':unconfirmedprogram_nums === 0, 'btn btn-warning': unconfirmedprogram_nums !== 0}" style="position:relative;" class="pull-right" >

                  <i ng-class="{'si si-pencil':unconfirmedprogram_nums !== 0, 'si si-check':unconfirmedprogram_nums === 0}"></i>
                  <span ng-show="!unconfirmedprogram_nums==0">UNCONFIRMED</span>
                  <span ng-show="unconfirmedprogram_nums===0">CONFIRMED</span>

                  <span class="badge progress-bar-danger" data-uib-tooltip="Please confirm the rest competing programs" data-tooltip-placement="top"  ng-if="unconfirmedprogram_nums !== 0" style="position:absolute;top:-10px;right:-10px;background:red;color:white;text-align:center;box-shadow:0 0 1px #333;">{{unconfirmedprogram_nums}}
                  </span>

                </button>
              </div>
              
              

            </div>
            <div class="block-content">
              <!-- for test use -->
              <!-- <button ng-click="setAllToUnconfirmed()">SetBack (for test)</button> -->
              <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
              <!-- <div class="alert alert-warning" role="alert" ng-if="displayeddata.length===0 && accountType ==='main'">{{message}}</div> -->

              <div class="alert alert-warning" role="alert" ng-if="accountType !=='main'&& unconfirmedprogram_nums !== 0">{{messageSub}}</div>

              <div class="progress" style="margin-bottom:30px;" ng-if="finalreleased_enhancement>0&&unconfirmedprogram_nums===0">
                
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':width + '%'}" ng-if="finalreleased_enhancement>0&&unconfirmedprogram_nums===0">{{finalreleased_enhancement}} / {{customerprogram_nums}} reports available</div>

                


              </div>
              </div>
              


              
              <div class="block" id="loadingtable">
              <div class="block-content">

                <table class="table table-hover" refresh-table st-pipe="enhancementpipe" st-table="displayeddata"  data-js-table-sections-fixed>
                
                <colgroup>
                <col width="5%"/>
                <col width="7%"/>
                <col width="53%"/>
                <col width="15%"/>
                
                <col width="15%"/>
                <col width="5%"/>
                </colgroup>

                <thead>
                    <tr class="bg-info" style="border-top: 1px solid rgb(233, 233, 233); border-bottom: 1px solid rgb(233, 233, 233); color:white;">
                  <th></th>
                  <th></th>
                  <th st-sort="programName" style="padding-left:15px;" class="h4 font-w700">program</th>
                  <th st-sort="degreeName" style="padding-left:15px;" class="h4 font-w700 text-center">degree</th>
                 
                  <th st-sort="enhancement_status" style="padding-left:15px;" class="h4 font-w700 text-center">status</th>
                  <th  style="padding-left:15px;" class="h4 font-w700">update</th>
                  <!-- st-sort="reportUpdate" -->
                </tr>

                <tr>
                  <!-- border-left: 1px solid #ddd; border-right:1px solid #ddd -->

                  <th class="text-center" style="width: 70px;">
                    
                    <!-- <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b" ng-class="{'css-input-disabled':availablenum===0}">
                      <input type="checkbox" id="check-all" name="check-all" ng-model="$storage.checkAllenhancement" ng-change="selectAll()" ng-disabled="availablenum===0"><span></span>
                    </label> -->
                  </th>
                  <th>
                  </th>
                  
                  <th>
                   <input st-search="programName" placeholder="Search for a program..."  type="search" class="form-control" style="height:auto; width:100%;">
                 </th>

                 <th>
                  <!-- <select st-search="degreeName" class="form-control" st-input-event="change">
                    <option value="">Select...</option>
                    <option ng-repeat="row in degreeSelection" value="{{row}}">{{row}}</option>
                  </select> -->

                  <input st-search="degreeName" placeholder="degree..."  type="search" class="form-control" style="height:auto; width:100%;">
                </th>

                
                <th>
                  <select st-search="enhancement_status" class="form-control" st-input-event="change">
                    <option value="">Select...</option>
                    
                    <option value="True">Complete</option>
                    <option value="False">In Progress</option>
                  </select>
                </th>

                <th></th>
              </tr>
 
                </thead>

                <tbody class="js-table-sections-header bg-gray-lighter" ng-repeat-start="row in displayeddata"  ng-click="openTableCompeting(row.objectId, $index, row.competing)">
                    <tr style="">
                        <td>
                              <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.enhancement_status!=='True'}"  data-uib-tooltip="Add to the 'Report Manager'" data-tooltip-placement="top" >
                                  <input type="checkbox" ng-model="$storage.upgrid[row.programName+'|'+row.degreeName]['enhancement']" ng-true-value=true ng-false-value="undefined" ng-change="selectOne(row.programName, row.degreeName, row.objectId, row.whoops_status, row.enhancement_status, row.confirm, row.notes)" ng-disabled="row.enhancement_status!=='True'"><span></span>
                              </label>

                        </td>

                        <!-- angle -->
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>

                        <td class="font-w600">{{row.programName}}</td>
                        <td class="font-w600 text-center">
                            <span >{{row.degreeName}}</span>
                        </td>
                        <td class="text-center">


                        <span ng-if="row.enhancement_status==='True'">

                          <div class="btn-group">
                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#EnhancementReport" ng-click = "EnhancementViewer(row.objectId, row.programName, row.degreeName);" data-js-blur>
                              <span data-uib-tooltip="View" data-tooltip-placement="top">
                            <a class="fa fa-eye text-primary"></a>
                            </span>
                            </button>

                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal1" ng-click = "htmlShare(row.objectId);" data-js-blur>
                               <span data-uib-tooltip="Share" data-tooltip-placement="top">
                            <a class="fa fa-share-alt text-city"></a>
                            </span>
                            </button>

                          </div>

                        </span>
                        <span ng-if="row.enhancement_status==='False'"><span class="label label-default"><i class="fa fa-refresh"></i> In Progress</span>

                      </span>

                      <span ng-if="row.enhancement_status!=='True'&&row.enhancement_status!=='False'">

                        <span class="label label-default" data-uib-tooltip="Please contact the account manager to upgrade your service!" data-tooltip-placement="top">Not in Service</span>

                         <!-- <div class="btn-group">
                            <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click = "pdfViewer(row.programId, row.competing)" data-js-blur>
                              <span data-uib-tooltip="View" data-tooltip-placement="top">
                            <a class="fa fa-eye text-primary"></a>
                            </span>
                            </button>

                            <button class="btn btn-default" data-toggle="modal" data-target="#myModal1" ng-click = "pdfShare(row.programId, row.competing)" data-js-blur>
                               <span data-uib-tooltip="Share" data-tooltip-placement="top">
                            <a class="fa fa-share-alt text-city"></a>
                            </span>
                            </button>

                          </div> -->

                      </span>

                        </td>

                        <td style="text-align:center;">
                            <!-- <span ng-if="row.reportUpdate===true"> --><span>
                            <span class="glyphicon glyphicon-exclamation-sign text-primary" ng-if="$index===2">
                            </span>
                          </span></td>

                       
                    </tr>
                </tbody>

                <tbody ng-repeat-end>
                    <tr ng-repeat="competing in row.competing">
                        <td></td>
                        <td class="text-center text-muted">{{competing.order}}.</td>
                        <td class="text-left font-w600 text-primary">
                          {{competing.program_name}}<br><span class="text-muted"><small>{{competing.school}}  ({{competing.university}})</small></span>
                        </td>
                        <td class="text-center font-w600 text-primary" style="vertical-align: top">{{competing.program_degrees}}</td>
                        <td></td>
                        <td></td>
                        
                    </tr>
                   
                    
                   
                </tbody>
                <tfoot>
                                  <tr>
                                    <td colspan="3" class="text-center" style="border-top:0">
                                      <br>
                                      <div class="btn-group pull-left ng-scope">
                                        
                                        <button type="button" ng-class="{'active':itemsByPage1==25}" ng-click="itemsByPage1=25" class="btn btn-default" data-js-blur>25</button>
                                        <button type="button" ng-class="{'active':itemsByPage1==50}" ng-click="itemsByPage1=50" class="btn btn-default" data-js-blur>50</button>
                                      </div>
                                    </td>
                                    
                                    <td colspan="3" class="" style="border-top:0">
                                      <br>
                                       <div st-template="views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage1" st-displayed-pages="5" class="pull-right"></div>
                                    </td>

                                    <!-- <td colspan="3" class="pull-right" style="border-top:0">
                                      <br>
                                    
                                       <div st-template="views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage1" st-displayed-pages="5" class="pull-left"></div>
                                    </td> -->
                                  </tr>
                                </tfoot>
                
            </table>

      </div>
      </div>

    
    <!-- END Page Content -->


    <!-- Modal of Pdf Viewer-->
    <div class="modal viewer fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
              <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#myModal', 'fullscreen_toggle');" ng-click="togglefull()"><i class="si si-size-fullscreen"></i></button>
                                  </li>
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                   <h3 class="block-title">Enhancement Report</h3>
                              </div>
                              
                              <div class="block-content" style="width:auto;padding:0;">

                                <!-- progress circle -->
                                <div class="sk-fading-circle" ng-show="viewerLoading">
                                  <div class="sk-circle1 sk-circle"></div>
                                  <div class="sk-circle2 sk-circle"></div>
                                  <div class="sk-circle3 sk-circle"></div>
                                  <div class="sk-circle4 sk-circle"></div>
                                  <div class="sk-circle5 sk-circle"></div>
                                  <div class="sk-circle6 sk-circle"></div>
                                  <div class="sk-circle7 sk-circle"></div>
                                  <div class="sk-circle8 sk-circle"></div>
                                  <div class="sk-circle9 sk-circle"></div>
                                  <div class="sk-circle10 sk-circle"></div>
                                  <div class="sk-circle11 sk-circle"></div>
                                  <div class="sk-circle12 sk-circle"></div>
                                </div>


                                <div id = "my-container" style=""></div>

                              </div>
                            </div>
      <!-- <div class="modal-footer">
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div> -->
    </div>
  </div>
</div>


<!-- Modal of Share the Link-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Share the Report</h3>
                              </div>
                              <div class="block-content">
                                <div class="form-group">
                                  <div class="spinner" style="position:absolute;margin:0 auto;top:85px;left:280px;" ng-show="shareLoading">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                  </div>

                                  <label for="reportlink">Link: </label> 
                                  <label style="float:right" ng-show="copied">Copied!</label>
                                  <input type="url" ng-copy="copied=true" class="form-control" id="reportlink" ng-model= "url.text" select-on-click>
                                  

                                </div>
                                <!-- Target -->
                                <!-- Trigger -->

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button data-clipboard-target="#reportlink" type="button" class="btn btn-primary">Copy</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>



                      
                      <!-- Confirmation modal -->
                      <div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="block block-themed block-transparent remove-margin-b" id="confirmloading">
                              <div class="block-header bg-primary-dark">
                                <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Please confirm programs first</h3>
                              </div>
                              <div class="block-content" style="max-height:70vh;overflow-y:auto;">
            <table class="table table-hover" st-pipe="confirmpipe" st-table="displayeddata1" id="confirmtable" data-js-table-sections-fixed>
                
                <colgroup>
                  <col width="5%"/>
                  <col width="9%"/>
                  <col width="60%"/>
                  <col width="26%"/>
                </colgroup>

                <thead>
                    <tr>
                        
                        <th colspan="4" style="border-bottom:0; text-decoration: none; cursor: default;">
                                      <!--  <input st-search="programName" placeholder="Search for the program..."  type="search"/ class="form-control" style="height:auto; width:100%;"> -->
                            <div class="input-group input-group-lg" style="width:100%">
                            <div class="input-group-addon" style="font-size:15px">Search</div>
                            <input st-search="programName" class="js-icon-search form-control" type="text" placeholder="Program name...">
                        </div>
                         </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th st-sort="programName" class="text-primary">Program</th>
                        <th st-sort="degreeName" class="text-center text-primary">Degree</th>
                        
                    </tr>
                </thead>
                <tbody class="js-table-sections-header bg-gray-lighter" ng-repeat-start="row in displayeddata1"  ng-click="openCompeting(row.objectId,$index, row.competing)">
                    <tr>
                        <td>
                              <label class="css-input css-checkbox css-checkbox-primary" >
                                <input type="checkbox" ng-model="$storage.confirmation[row.objectId].checked" ng-click="confirmCheckOne()"><span></span>
                              </label>

                        </td>
                        <!-- angle -->
                        <td class="text-center">
                            <i class="fa fa-angle-right"></i>
                        </td>

                        <td class="font-w600">{{row.programName}}</td>
                        <td class="font-w600 text-center">
                            <span >{{row.degreeName}}</span>
                            <!-- <button ng-click="$event.stopPropagation();">click</button> -->
                        </td>
                       
                    </tr>
                </tbody>
                <tbody ng-repeat-end>
                    <tr ng-repeat="competing in row.competing">
                        <td></td>
                        <td class="text-center text-muted">{{competing.order}}.</td>
                        <td class="text-left font-w600 text-primary">
                          {{competing.program_name}}<br><span class="text-muted"><small>{{competing.school}}  ({{competing.university}})</small></span>
                        </td>
                        <td class="text-center font-w600 text-primary" style="vertical-align: top">{{competing.program_degree}}</td>
                    </tr>
                   
                    
                   
                </tbody>
                <tfoot>
                                  <tr>
                                    <td colspan="2" class="text-center" style="border-top:0">
                                      <br>
                                      <div class="btn-group pull-left ng-scope">
                                        
                                        <button type="button" ng-class="{'active':itemsByPage1==25}" ng-click="itemsByPage1=25" class="btn btn-default" data-js-blur>25</button>
                                        <button type="button" ng-class="{'active':itemsByPage1==50}" ng-click="itemsByPage1=50" class="btn btn-default" data-js-blur>50</button>
                                      </div>
                                    </td>
                                    <td style="border-top:0"></td>
                                    <td colspan="1" class="pull-right" style="border-top:0">
                                      <br>
                                    
                                       <div st-template="views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage1" st-displayed-pages="5" class="pull-left"></div>
                                    </td>
                                  </tr>
                                </tfoot>
                
            </table>

                            </div>
                          </div>
                          <div class="modal-footer" style="box-shadow: 0px -1px 1px #e4e4e4;">
                            <span class="pull-left">{{confirm_count}} out of {{displayeddata1.length}} selected</span>
                            <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="confirmSelected()" data-dismiss="modal" ng-disabled = "!confirm_button">Confirm</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END confirmation Modal -->

<div class="modal fullscreen-modal viewer fade" id="EnhancementReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#WhoopsReport', 'fullscreen_toggle');" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Enhancement Report</h3>
                              </div>
                              
                              <div class="block-content fullscreen-container" style="width:auto;padding:0;">

                    <!-- SlimScroll Container -->
                    <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}">

                   <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                    <div ng-include src="'views/Home/partials/enhancement_template.html'"></div>
                    </div>


                    </div>
                    <!-- END SlimScroll Container -->
            

            </div>
                            </div>
      
    </div>
  </div>
</div>

