
<!-- Page Content -->
<div class="content content-boxed">


  <div class="block block-rounded">
    <div class="block-header">
           
              <div class="col-sm-7">
                <h1 class="page-heading">
                  Client Support
                </h1>                
             

              </div>
            </div>
            <div class="block-content">
                

                                    <ul class="font-w400 push text-primary clientlist" style="font-size:15px;" id="client_support">
                                        <li><a scroll-to-item scroll-to="#help1" href="javascript:void(0)" class="link-effect" data-js-blur>1.  Log In Page</a>
                                            <ul>
                                                <li><a scroll-to-item scroll-to="#help11" href="javascript:void(0)" class="link-effect" data-js-blur>1.1  Log in</a></li>
                                                <li><a scroll-to-item scroll-to="#help12" href="javascript:void(0)" class="link-effect" data-js-blur>1.2  Remember Me</a></li>
                                                
                                            </ul>
                                        </li>

                                        <li><a scroll-to-item scroll-to="#help2" class="link-effect" href="javascript:void(0)" data-js-blur>2.  Navigation Bar</a></li>
                                        <li><a scroll-to-item scroll-to="#help3" class="link-effect" href="javascript:void(0)" data-js-blur>3.  Whoops! Report</a>
                                            <ul>
                                                <li><a scroll-to-item scroll-to="#help31" class="link-effect" href="javascript:void(0)" data-js-blur>3.1  Progress Bar</a></li>
                                                <li><a scroll-to-item scroll-to="#help32" class="link-effect"href="javascript:void(0)" data-js-blur>3.2  Program list</a></li>
                                                <li><a scroll-to-item scroll-to="#help33" class="link-effect" href="javascript:void(0)" data-js-blur>3.3  Review Status</a></li>
                                                <li><a scroll-to-item scroll-to="#help34" class="link-effect" href="javascript:void(0)" data-js-blur>3.4  Search Bar</a></li>
                                            </ul>
                                        </li>

                                         <li><a scroll-to-item scroll-to="#help4" class="link-effect" href="javascript:void(0)" data-js-blur>4.  Enhancement Report</a>
                                            <ul>
                                                <li><a scroll-to-item scroll-to="#help41" class="link-effect" href="javascript:void(0)" data-js-blur>4.1  Confirming desired programs</a></li>
                                                <li><a scroll-to-item scroll-to="#help42" class="link-effect" href="javascript:void(0)" data-js-blur>4.2  Selecting and manipulating reports</a></li>
                                              
                                            </ul>
                                        </li>

                                        <li><a scroll-to-item scroll-to="#help5" class="link-effect" href="javascript:void(0)" data-js-blur>5.   Report Manager</a>
                                            <ul>
                                                <li><a scroll-to-item scroll-to="#help51" class="link-effect" href="javascript:void(0)" data-js-blur>5.1  Creating report compilations</a></li>
                                                <li><a scroll-to-item scroll-to="#help52" class="link-effect" href="javascript:void(0)" data-js-blur>5.2  Report management review</a></li>
                                              
                                            </ul>
                                        </li>
                                        <li><a scroll-to-item scroll-to="#help6" class="link-effect" href="javascript:void(0)" data-js-blur>6.   User Profile</a>
                                            <ul>
                                                <li><a scroll-to-item scroll-to="#help61" class="link-effect" href="javascript:void(0)" data-js-blur>6.1  How to change account password</a></li>
                                                <li><a scroll-to-item scroll-to="#help62" class="link-effect" href="javascript:void(0)" data-js-blur>6.2  How to create additional subuser accounts</a></li>
                                              
                                            </ul>
                                        </li>

                                    </ul>


                                    </br><hr>

                                    <div class="row push-50-t push-50">
                            <div class="col-md-10 col-md-offset-1">
                                <h1 class="font-w300 text-black push-30" id="help1">1.  Login Page</h1>


                                <div class="img-container">
                                        <img class="" src="img/client/image03.png" alt="" style="width:300px">
                                        <div class="text-muted">Figure 1, The Login page</div>
                                    </div>

                                    </br>

                                <div>
                                <h3 class="font-w300 text-primary-dark push-30" id="help11">1.1  Login</h3>

                               
                                <p>To login, first input an email and password, then select the “login” button.</p>

                                <h3 class="font-w300 text-primary-dark push-30" id="help12">1.2  Remember Me</h3>

                                <p>Selecting the “Remember Me?” button stores the inputted email and password combination for future use, allowing the user to log in without having to input email or password beginning the next time that the site is accessed</p>
                                </div>
                                <!-- END Updating Content -->
                                </br>
                                <div>
                                <h1 class="font-w300 text-black push-30" id="help2">2.  Navigation Bar (Item 1 in Fig. 2, below)</h1>

                                <p>The Navigation Bar refers to the list of options found on the vertical, black bar on the left-hand side of the page. It allows for quick and simple navigation among the five primary sections of Upgrid: the ‘“Whoops!” Report,’ ‘Enhancement Report,’ ‘Reports Manager,’ ‘User Profile,’ and ‘Client Support.’</p>

                                <div class="img-container">
                                        <img class="" src="img/client/image05.png" alt="" style="width:600px">
                                        <div class="text-muted">Figure 2, The “Whoops!” Report</div>
                                    </div>

                                </div>

                                </br>

                                <!--  -->
                                <div>
                                <h1 class="font-w300 text-black push-30" id="help3">3.  “ Whoops!” Report</h1>

                                <p>The ‘“Whoops!” Report’ page allows for the viewing and manipulation of ‘Whoops Report’ program reports, which displays flaws detected on the user’s website content. The program reports can be manipulated in the following manner: individually, by selecting view, download, or share on the ‘“Whoops!” Report page. (see Section 4.2 Selecting and Manipulating Program Reports) or, in batches, by adding reports to the ‘Reports Manager’ for the printing or sharing of report compilations. (see Section 5.1 Creating Report Compilations).</p>

                                <h3 class="font-w300 text-primary-dark push-30" id="help31">3.1.  Progress Bar (Item 2 in Fig. 2, above)</h3>

                                <p>The Progress Bar displays the number of reports currently available or being processed.The table contains two programs in total, and only one of these two programs’ reviews has been completed.</p>

                                 <h3 class="font-w300 text-primary-dark push-30" id="help32">3.2.  Program list (Item 3 in Fig 2, above)</h3>

                                <p>Displays the list of programs</p>

                                 <h3 class="font-w300 text-primary-dark push-30" id="help33">3.3.  Review Status (Item 4 in Fig 2, above)</h3>

                                <p>The drop-down ‘STATUS’ menu allows the user to check the status of completion of their reports—selecting ‘completed’ displays those that are completed and selecting ‘in progress’ displays those that are still under review. If the status shows “In progress” it means the program is still under review. If the status shows <img class="" src="img/client/image04.png" alt="" style="width:35px">  , it means the program review is completed and the website of the program is error-free.</p>
                               

                                 <h3 class="font-w300 text-primary-dark push-30" id="help34">3.4.  Search Bar (Item 5 in Fig 2, above)</h3>

                                <p>The Search allows for the searching of the client’s database of programs, so that programs can be located with ease (and/or sorted by degree).</p>
                                </div>

                                </br>

                                 <div>
                                <h1 class="font-w300 text-black push-30" id="help4">4.  Enhancement Report</h1>

                                <p>The ‘Enhancement Report’ allows for the  viewing and manipulation of program reports. The program reports can be manipulated in the following manner: individually, by selecting view,, downloading, or share on the ‘Enhancement Report’ page. (see Section 4.2 Selecting and Manipulating Program Reports) or, in batches, by adding reports to the ‘Reports Manager’ for the printing or sharing of report compilations. (see Section 5.1 Creating Report Compilations)</p>

                                <h3 class="font-w300 text-primary-dark push-30" id="help41">4.1.  Confirming Desired Programs</h3>

                                <p>First-time users will be prompted to confirm their desired programs. To do so, select the appropriate checkboxes to the left of each program to confirm the desired programs. (Programs must first be confirmed moving on to the enhancement report.)</p>

                                <div class="img-container">
                                        <img class="" src="img/client/image06.png" alt="" style="width:500px">
                                        <div class="text-muted">Figure 3, Program Confirmation Page</div>
                                    </div>

                                    </br>

                               

                                 <h3 class="font-w300 text-primary-dark push-30" id="help42">4.2.  Selecting and Manipulating program Reports</h3>

                                <p>a. The programs in the Programs column represent those of the user’s own institution. (See Item 2 in Fig. 5, below) Competing programs are indexed according to the priority level determined previously during contract negotiation between Gridology and the user’s institution .</p>

                                <div class="img-container">
                                        <img class="" src="img/client/image07.png" alt="" style="width:600px">
                                        <div class="text-muted">Figure 4, The Enhancement Report Menu</div>
                                    </div>


                                </br>
                                <p>b. To the right of the competing programs column there are three buttons: View, Download and Share. (See Item 1 in Fig. 5, above) Selecting the ‘view’ button, <img class="" src="img/client/image12.png" alt="" style="width:35px"> , after selecting selecting a program via its checkbox displays the ‘Enhancement Report.’ 
                                <div class="img-container">
                                        <img class="" src="img/client/image09.png" alt="" style="width:600px">
                                        <div class="text-muted">Figure 5, The Enhancement Report</div>
                                    </div>
                                </br>

                                Select the ‘download’ button, <img class="" src="img/client/image08.png" alt="" style="width:35px"> , to the right of any program to download a copy of said program’s ‘Enhancement Report’: Select the ‘share’ button, <img class="" src="img/client/image11.png" alt="" style="width:35px"> ,to display the URL link for the program’s Enhancement Report. </p>

                                <div class="img-container">
                                        <img class="" src="img/client/image10.png" alt="" style="width:450px">
                                        <div class="text-muted">Figure 6, Sharing The Enhancement Report via the ‘Share’ button</div>
                                    </div>
                                


                                </div>

                                </br>

                                 <div>
                                <h1 class="font-w300 text-black push-30" id="help5">5.  Report Manager</h1>

                                <p>The ‘Report Manager’ stores and creates a compilation of the files selected in the ‘“Whoops!” Report’ and ‘Enhancement Report’ sections and allows for the printing or sharing of said compilation. </p>

                                <h3 class="font-w300 text-primary-dark push-30" id="help51">5.1.  Creating Report Compilations</h3>

                                <p>Select the check box to the left of each program will cause an icon to appear in the navigation bar to the right of the ‘Report Manager’ indicating the number of files currently stored in the ‘Report Manager.’ </p>
                                <div class="img-container">
                                        <img class="" src="img/client/image07.png" alt="" style="width:600px">
                                        <div class="text-muted">Figure 7, Here the Economics report has been selected to be added to the ‘Report Manager,’ as indicated by the icon to the right of the ‘Report Manager’ in the ‘Navigation Bar'.</div>
                                    </div>

                                    </br>

                                    <div class="img-container">
                                        <img class="" src="img/client/image17.png" alt="" style="width:600px">
                                        <div class="text-muted">Figure 8, The ‘Report Manager’</div>
                                    </div>

                                    </br>

                                <h3 class="font-w300 text-primary-dark push-30" id="help52">5.2.  Reports Manager Review</h3>

                                <p>a. Select the ‘Download All,’ <img class="" src="img/client/image18.png" alt="" style="width:200px"> , button downloads all the reports together as a batch file.</p>

                                 <p>b. To share the reports you have selected, please click the ‘Share the Links’ button. <img class="" src="img/client/image14.png" alt="" style="width:200px; height: 30px"></p>

                             

                                </div>


                                </br>

                                 <div>
                                <h1 class="font-w300 text-black push-30" id="help6">6.  User Profile</h1>

                               
                                <h3 class="font-w300 text-primary-dark push-30" id="help61">6.1.  How to Change Account Password</h3>

                                <p>To change the account password under ‘user profile' select the blue icon to the right of the password in the ‘Account’ section.  </p>

                                <div class="img-container">
                                        <img class="" src="img/client/image15.png" alt="" style="width:500px">
                                        
                                    </div>
                                </br>

                                <h3 class="font-w300 text-primary-dark push-30" id="help62">6.2.  How to create Sub-user Accounts</h3>
                                <p>It is possible to add up to 3 sub-users who can also access the system and review the reports: (Note: sub-users can only read the reports).</p>
                                
                                <p>a. Click the’+ Add a Colleague’ button, <img class="" src="img/client/image01.png" alt="" style="width:100px"></p>

                                <div class="img-container">
                                        <img class="" src="img/client/image02.png" alt="" style="width:400px">
                                        <div class="text-muted">Figure 10, Colleague Accounts section</div>
                                    </div>
                                </br>

                                 <p>b. Fill in the information to add sub-users, then click “submit”.</p>

                                 <div class="img-container">
                                        <img class="" src="img/client/image00.png" alt="" style="width:500px">
                                        
                                    </div>
                                </br>
                             

                                </div>


                            </div>
                        </div>
            


            </div>
    
   

                
      </div>
  </div>
  <!-- END Page Content -->
