
<!-- Page Content -->
<div class="content content-boxed">
  <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
  
  <!-- <button ng-click="addtest()">Add to table</button> -->
  <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
  <div class="block block-rounded">
    <div class="block-header">
            <!-- <div class="block-options">
                <code>.data-js-table-checkable</code>
              </div> -->
              <!-- <h3 class="block-title">Checkable Table</h3> -->
              <div class="col-sm-7">
                <h1 class="page-heading">
                  "Whoops!" Report <small>  Keep your website content flawless.</small>
                </h1>                
                
                <!-- <button class="btn btn-primary" type="button" ng-animate-children>
                  Messages
                  <span shake id="badgeMessage" class="badge" count="count" ng-show="count > 0">{{ count }}</span>
                </button>
                <button ng-click="addMessage()">Add Message</button> -->

              </div>
            </div>
            <div class="block-content">
              <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
              <div class="progress" style="margin-bottom:30px;" ng-show="availablenum>0">
                
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':width + '%'}" ng-if="availablenum!==0">{{availablenum}} / {{totalnum}} reports available</div>
              </div>

                </div>
    
    <!-- END Checkable Table -->

                <div class="block" id="loadingtable">
                               
                    <div class="block-content">


            

                  <table st-table="data" st-pipe="whoopspipe" class="table table-hover block">
                  <colgroup>
                  <col width="5%"/>
                  <col width="55%"/>
                  <col width="20%"/>
                  <col width="20%"/>
                </colgroup>
                <thead class="thead-inverse">
                  
                  <tr class="bg-info" style="border-top: 1px solid rgb(233, 233, 233); border-bottom: 1px solid rgb(233, 233, 233); color:white;">
                    <th></th>
                    <th st-sort="programName" style="padding-left:15px;" class="h4 font-w700">program</th>
                    <th st-sort="degreeName" style="padding-left:15px;" class="h4 font-w700 text-center">degree</th>
                    <th st-sort="whoops_status" style="padding-left:15px;" class="h4 font-w700">status</th>
                    
                  </tr>
                  <tr>

                  <!-- style="border-left: 1px solid rgb(240,240,240);border-right: 1px solid rgb(240,240,240);" -->
                    <!-- style="background-color: #edf6fd" -->
                <!-- <th>
                  <md-checkbox md-no-ink='' aria-label="Checkbox No Ink" ng-model="$storage.checkAllwhoops" ng-change="selectAll()" class="md-primary" ng-disabled="availablenum===0" style="margin-bottom:10px;"></md-checkbox>
                  
                </th> -->
                <th class="text-center" style="width: 70px;">
                  <!-- <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b" ng-class="{'css-input-disabled':availablenum===0}">
                    <input type="checkbox" id="check-all" name="check-all" ng-model="$storage.checkAllwhoops" ng-change="selectAll()" ng-disabled="availablenum===0"><span></span>
                  </label> -->
                </th>
                
                <th>
                 <input st-search="programName" placeholder="Search for a program..."  type="search" class="form-control" style="height:auto; width:100%;"/>
               </th>

               <th>
                <!-- <select st-search="degreeName"  class="form-control" st-input-event="change">
                  <option value="" style="text-align:center;">Select...</option>
                  <option ng-repeat="row in degreeSelection" value="{{row}}">{{row}}</option>
                </select> -->

                <input st-search="degreeName" placeholder="And a degree..."  type="search" class="form-control" style="height:auto; width:100%;"/>
              </th>
              <th>
                <select st-search="whoops_status" class="form-control" st-input-event="change">
                  <option value="">Select...</option>
                  <option value="True">Complete</option>
                  <option value="False">In Progress</option>
                </select>
              </th>
            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="row in data" ng-class="{'bg-gray-lighter':!row.whoops_status}" class="">

              <!-- <td>
                <md-checkbox md-no-ink='' aria-label="Checkbox No Ink" ng-model="$storage.upgrid[row.programName+row.degreeName].whoops" ng-change="selectOne()" class="md-primary" ng-disabled="row.status!=='T'||row.perfect==='T'"></md-checkbox>
              </td> -->

              <td class="text-center">
              <!-- checkbox one -->
                <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.whoops_status!=='True'||row.notes===false}" data-uib-tooltip="Add to the 'Report Manager'" data-tooltip-placement="top">

                  <input type="checkbox" ng-model="$storage.upgrid[row.programName+'|'+row.degreeName]['whoops']" ng-true-value=true ng-false-value="undefined" ng-change="selectOne(row.programName, row.degreeName, row.objectId, row.whoops_status, row.enhancement_status, row.notes, row.confirm)" ng-disabled="row.whoops_status!=='True'||row.notes===false"><span></span>


                </label>

              </td>


              <td class="font-w600">{{row.programName}}</td>
              <td style="text-align: center;" class="font-w600">{{row.degreeName}}</td>
              <td style="text-align:center;">
                <span ng-if="row.whoops_status==='True' && row.notes===false"><i class="fa fa-check-circle fa-2x" style="color:green" data-uib-tooltip="Congratulations! There are currently no errors found in your program’s content." data-tooltip-placement="top"></i>

                 
                </span>
                <span ng-if="row.whoops_status==='True' && row.notes===true">

                  <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#WhoopsReport" ng-click = "WhoopsViewer(row.objectId, row.programName, row.degreeName)" data-js-blur>
                    <span data-uib-tooltip="View" data-tooltip-placement="top">
                    <a class="fa fa-eye text-primary"></a>
                    </span>
                    </button>
                    
                    <button class="btn btn-default"  data-toggle="modal" data-target="#myModal1" ng-click ="htmlShare(row.objectId)" data-js-blur>
                      <span data-uib-tooltip="Share" data-tooltip-placement="top">
                    <a class="fa fa-share-alt text-city"></a>                    </span>


                    </button>
                    
                  </div>
                </span>
                <span ng-if="row.whoops_status==='False'">
                  <!-- <i class="fa fa-hourglass-half fa-1x"></i> -->
                  <!-- <span class="label label-default" style=font-weight:bold;""><span class="fa fa-clock-o"></span>&nbsp;&nbsp;In Progress</span> -->
                  <span class="label label-default"><i class="fa fa-refresh"></i> In Progress</span>
                </span>
                
                <!-- <span ng-if="row.whoops_status!=='True'&&row.whoops_status!=='False'">

                  <span class="label label-default" data-uib-tooltip="Please contact the account manager to upgrade your service!" data-tooltip-placement="top">Not in Service</span> 
                   -->
                  <!-- <div class="btn-group">
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click = "pdfViewer(row.objectId)" data-js-blur>
                    <span data-uib-tooltip="View" data-tooltip-placement="top">
                    <a class="fa fa-eye text-primary"></a>
                    </span>
                    </button>
                    
                    <button class="btn btn-default"  data-toggle="modal" data-target="#myModal1" ng-click = "pdfShare(row.objectId)" data-js-blur>
                      <span data-uib-tooltip="Share" data-tooltip-placement="top">
                    <a class="fa fa-share-alt text-city"></a>                    </span>


                    </button>
                  </div> -->
               <!--  </span> -->
              </td>
              
            </tr>
          </tbody>
            
          <!-- <tbody  ng-show="isLoading">
            <tr class="cell-bordered">
            <td colspan="4" style="padding-top:30px;padding-bottom:30px">
                
               <div class="block block-themed block-transparent remove-margin-b" id="loading">
               </div>
            </td>
          </tr>
          </tbody> -->

          <tfoot>
            <tr>
              

              
              <td colspan="2">
                <br/><br/>
                <div class="btn-group pull-left ng-scope tablepagenum" >
                 
                  <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                  <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>
                  <!-- data-toggle="tooltip" data-placement="top" title="25 per page" -->
                </div>
              </td>

              <td colspan="3" class="text-center">
                <br/><br/>
                <div st-template="views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
              </td>


            </tr>
          </tfoot>
        </table>  

                    </div>
                </div>

                
      </div>
  </div>
  <!-- END Page Content -->



  <!-- Modal of Pdf Viewer-->
  <div class="modal viewer fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#myModal', 'fullscreen_toggle');" ng-click="togglefull()"><i class="si si-size-fullscreen"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Whoops Report</h3>
                              </div>
                              
                              <div class="block-content" style="width:auto;padding:0;">

                                <!-- progress circle -->
                                <div class="sk-fading-circle" ng-show="viewerLoading">
                                  <div class="sk-circle1 sk-circle"></div>
                                  <div class="sk-circle2 sk-circle"></div>
                                  <div class="sk-circle3 sk-circle"></div>
                                  <div class="sk-circle4 sk-circle"></div>
                                  <div class="sk-circle5 sk-circle"></div>
                                  <div class="sk-circle6 sk-circle"></div>
                                  <div class="sk-circle7 sk-circle"></div>
                                  <div class="sk-circle8 sk-circle"></div>
                                  <div class="sk-circle9 sk-circle"></div>
                                  <div class="sk-circle10 sk-circle"></div>
                                  <div class="sk-circle11 sk-circle"></div>
                                  <div class="sk-circle12 sk-circle"></div>
                                </div>


                                <div id = "my-container" style=""></div>

                              </div>
                            </div>
      <!-- <div class="modal-footer">
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div> -->
    </div>
  </div>
</div>


<!-- Modal of Share the Link-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Share the Report</h3>
                              </div>
                              <div class="block-content">
                                <div class="form-group">
                                  <div class="spinner" style="position:absolute;margin:0 auto;top:85px;left:280px;" ng-show="shareLoading">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                  </div>

                                  <label for="reportlink">Link: </label> 
                                  <label style="float:right" ng-show="copied">Copied!</label>
                                  <input type="url" ng-copy="copied=true" class="form-control" id="reportlink" ng-model= "url.text" select-on-click>
                                  

                                </div>
                                <!-- Target -->
                                <!-- Trigger -->

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button data-clipboard-target="#reportlink" type="button" class="btn btn-primary">Copy</button>
                              </div>
                            </div>
                          </div>
                        </div>


                        </div>

   <!-- Modal of Pdf Viewer-->
  <div class="modal viewer fade" id="WhoopsReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="whoops_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" ng-click="togglefull(); actualscreen = !actualscreen" data-js-blur><i ng-class="{'si si-size-fullscreen': !actualscreen, 'si si-size-actual': actualscreen }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Whoops Report</h3>
                              </div>
                              
                              <div class="block-content fullscreen-container" style="width:auto;padding:0;">

           
                    <!-- SlimScroll Container -->
                    <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}">


                    <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                    <div ng-include src="'views/Home/partials/whoops_template.html'"></div>
                    
                    </div>
                     



                    </div>
                    <!-- END SlimScroll Container -->
            

            </div>
                            </div>
      
    </div>
  </div>
</div>
