
# packages that only needed in requirements.txt for prod deployment

/opt/python/ondeck/app/.ebextensions/packages/grid-core-db-0.27.tar.gz
/opt/python/ondeck/app/.ebextensions/packages/webtracking-db-0.2.tar.gz

