<!-- Login Content -->
        <div class="content overflow-hidden">
            <div class="row">


                <!-- <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 push-30-t">
                    


                   </div> -->
                   <section class="content content-boxed overflow-hidden">
                        <!-- Section Content -->
                        <div class="text-center push-50">
                            <div class="text-muted">Boost your efficiency today.</div>
                            <h2 class="h1 text-black">Choose the product.</h2>
                        </div>
                        <div class="row push-50">
                            <div class="col-sm-6 col-md-3 col-md-offset-3" data-toggle="appear" data-offset="50" data-class="animated fadeIn">
                                <!-- Starter -->
                                <a class="block block-bordered block-link-hover3 text-center" data-ui-sref="intro-regular">
                                    <div class="block-header" style="border-top: 3px solid #46c37b;">
                                        <h3 class="block-title">UPGRID</h3>
                                    </div>
                                    <div class="block-content block-content-full bg-gray-lighter">
                                        <div class="h1 font-w700 push-10 text-success">Regular</div>
                                        <div class="h5 font-w300 text-muted">SAS product</div>
                                    </div>
                                    <div class="block-content">
                                        <table class="table table-borderless table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td><strong>Competition</strong> analysis tool</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                                        <span class="btn btn-success"><i class="fa fa-arrow-circle-left" aria-hidden="true" data-ui-sref="intro-regular"></i> Go</span>
                                    </div>
                                </a>
                                <!-- END Starter -->
                            </div>
                            <div class="col-sm-6 col-md-3" data-toggle="appear" data-offset="50" data-timeout="200" data-class="animated fadeIn">
                                <!-- Premium -->
                                <a class="block block-bordered block-link-hover3 text-center" data-ui-sref="intro-exec">
                                    <div class="block-header" style="border-top: 3px solid #5c90d2;">
                                        <h3 class="block-title">UPGRID</h3>
                                    </div>
                                    <div class="block-content block-content-full bg-gray-lighter">
                                        <div class="h1 font-w700 text-primary push-10">Exec. Ed.</div>
                                        <div class="h5 font-w300 text-muted">SAS product</div>
                                    </div>
                                    <div class="block-content">
                                        <table class="table table-borderless table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td>Tool for <strong>Executive</strong> education</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="block-content block-content-mini block-content-full bg-gray-lighter">
                                        <span class="btn btn-primary" data-ui-sref="intro-exec">Go <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <!-- END Premium -->
                            </div>
                        </div>
                        <!-- END Section Content -->
                    </section>
            </div>
        </div>
        <!-- END Login Content -->

        <!-- Login Footer -->
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600"><span class="js-year-copy"></span> Copyright &copy; 2017 <span style="color:#5c90d2;">Gridology Education & Technology, Inc.</span></small>
        </div>
        <!-- END Login Footer -->
        

