<!-- Login Content -->
        <div class="content overflow-hidden">
            <div class="row">


                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 push-30-t">
                    <!-- Login Block -->
                    <div class="block block-themed animated fadeIn" id="loginblock" style="border: 1px solid #e5e5e5;border-top: 7px solid #00A1E9;border-radius: 7px;">
                        
                        <div class="block-content block-content-full block-content-narrow">
                            <h1 class="h2 font-w500 push-10-t push-30" style="font-size: 30px; font-weight: 500; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">UPGRID
                            <small class="text-muted" style="font-size:18px; font-weight: 200; color: #a7a7a7;"> &nbsp;- Competition Analysis, SaaS product</small></h1>


                            <p style="font-size: 16px;font-weight: 400;">

                            <h1 class="h2 font-w500 text-primary push-15 text-center text-uppercase" style="font-size: 18px;font-weight: 500;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><span style="text-decoration: underline">DEGREE-SIDE PRODUCTS</span></h1>
                            <hr style="margin-top:initial">
                            <div class="push-40-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px">
                                <div class="intro-icon">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/enhancement_icon.png" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                
                                                <a class="btn btn-sm btn-default img-lightbox" href="/static/img/reports/enhancement_shot.jpg">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <span style="font-size: 16px;font-weight: 400;">
                            <h4 class="push-10 text-left" style="font-weight: 400;padding-right:15px; text-decoration: underline;">Enhancement Report</h4>
                            This product helps you to stay abreast of your peers and to plan future changes by providing competition analysis via the Enhancement report:

                                <ul class="push-15-t" style="font-size: 16px; overflow: hidden; padding-left:20px">
                                <li>Enabling you to keep track of changes made by peer institutions to their programs</li>


                                </ul>
                                </span>
                            </p>

                            <hr>


                            <p id="intro-para-1" style="margin-top: 20px; font-size: 16px;font-weight: 400;">

                            <div class="push-40-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px">
                                <div class="intro-icon">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/whoops_icon.png" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                
                                                <a class="btn btn-sm btn-default img-lightbox" href="/static/img/reports/whoops_shot.jpg">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <span style="font-size: 16px;font-weight: 400;">
                            <h4 class="push-10" style="font-weight: 400;text-decoration: underline;">"Whoops!" Report</h4>
                            Upgrid offers Graduate Institutions a solution to ensure investments in and updates to your website design last into the long term, saving you money with the Whoops! Report: 
                            <ul class="push-15-t" style="font-size: 16px; padding-left:20px">
                            <li>Scanning for technical, content, or user-experience issues on an ongoing basis</li>

                            </ul></span></p>

                            
                            <hr class="push-30-t">

                            <div class="row push-10-t push-5">
                                
                                    <span class="col-sm-6" style="padding: 0px 15px">
                                    <a href="http://www.gridet.com/report-request-form-1/" style="color: #fff">
                                        <button class="btn btn-block btn-primary btn-blue" style="padding: 8px 12px;"><i class="icon-chart pull-left"></i> Free degree-side report</button></a>
                                    </span>


                                    <span class="col-sm-6" style="padding: 0px 15px">
                                        <button class="btn btn-block btn-primary btn-blue" data-ui-sref="login" style="padding: 8px 12px;"><i class="icon-arrow-right-circle pull-right"></i> Go to login page</button>

                                    </span>
                                        

                                        
                                  
                            </div>
                        </div>
                    </div>
                    <!-- END Login Block -->
                </div>

                <div class="col-sm-12 text-center push-5">
                    <a href="http://www.gridet.com"><img src="/static/img/G-rid-6.png" width="170"></a>
                </div>

            </div>
        </div>
        <!-- END Login Content -->

        <!-- Login Footer -->
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600"><span class="js-year-copy"></span> Copyright &copy; 2016 <span style="color:#5c90d2;">Gridology Education & Technology, Inc.</span></small>
        </div>
        <!-- END Login Footer -->
        

