<!-- Login Content -->
        <div class="content overflow-hidden">
            <div class="row">


                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 push-30-t">
                    <!-- Login Block -->
                    <div class="block block-themed animated fadeIn" id="loginblock" style="border: 1px solid #e5e5e5;border-top: 7px solid #00A1E9;border-radius: 7px;">
                        
                        <div class="block-content block-content-full block-content-narrow">
                            <h1 class="h2 font-w500 push-10-t push-30" style="font-size: 30px; font-weight: 500; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">UPGRID <span class="text-city font-w600" style="font-family: 'Playball', cursive; font-size: 23px; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);">Exec.Ed.</span><br>
                            <small class="text-muted push-30" style="float:right; font-size:18px; font-weight: 200; color: #a7a7a7;"> &nbsp;- Competition Analysis, SaaS product</small></h1>


                           


                             <h1 class="h2 font-w500 text-primary push-15 push-15-t text-center text-uppercase" style="font-size: 18px;font-weight: 500;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;clear:both"><span style="text-decoration: underline">Products for<br>EXECUTIVE AND CONTINUING EDUCATION</span>
</h1>
                            <hr style="margin-top:initial">



                            <h4 class="push-15">1) For institutions with <span class="text-city" style="font-style: italic;">Open-Enrollment</span> Offerings (Programs for Individuals)</h4>
                            <span style="font-size: 16px;font-weight: 400;">



                            
                                Stay on top of the latest changes that competitors are making to their category and course offerings, all while equipping yourself with specialized analytical tools that allow you to deepen your insight into underlying trends in the field.


                                <h4 class="push-10 text-left push-15-t" style="font-weight: 400;padding-right:15px; text-decoration: underline;">Complete Report on Peers from past to present and beyond</h4>



                                <ul class="push-15-t" style="font-size: 16px;overflow: hidden; padding-left:20px">
                               
                                <div class="push-5-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px">
                                <div class="intro-icon1">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/1.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                
                                           

                                                <a class="image-popup-vertical-fit btn btn-sm btn-default img-lightbox" href="/static/img/reports/1.jpg" title="Do you ever wonder how many courses and categories peers have been adding or removing? Our overview presents the most recent changes in an intuitive format. ">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                                <li>Gain access to <span class="text-city font-w600">a complete set of your competitors’ category and course offerings</span> with relevant data gathered automatically for you on an ongoing basis – keeping you up to date on the most recent happenings in your field.</li>

                                <div class="push-5-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px;clear: both">
                                <div class="intro-icon1">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/2.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                
                                                <a class="image-popup-vertical-fit btn btn-sm btn-default img-lightbox" href="/static/img/reports/2.jpg" title="Do you ever worry that competitors are outmaneuvering you with new offerings, more competitive pricing or more? Gain access to the latest changes that they are making to a whole host of metrics and more.">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                                <li>Revealing and displaying the <span class="text-city font-w600">changes and updates made by your peers</span> in an intuitive manner - keeping you informed of the latest strategic moves made by your peers.</li>



                                </ul>


                                <h4 class="push-10 text-left push-15-t" style="font-weight: 400;padding-right:15px; text-decoration: underline;">Peer Analysis Tools - deepen your insight</h4>

                                <ul class="push-15-t" style="font-size: 16px;overflow: hidden; padding-left:20px">
                            



                            <div class="push-5-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px;clear: both">
                                <div class="intro-icon1">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/3.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content" title="Caption. Can be aligned to any side and contain any HTML.">
                                                
                                                <a class="image-popup-vertical-fit btn btn-sm btn-default img-lightbox" href="/static/img/reports/3.jpg" title="Do you want to conduct research into how exactly it is that your peers arrived at their current offerings?  We provide historical snapshots of category and course offerings for your reference.">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                                <li>Gain access to the past with <span class="text-city font-w600">historical snapshots</span> of your peers, – allowing you to better analyze exactly why and how they have arrived at their present format.</li>

                                <div class="push-5-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px;clear: both">
                                <div class="intro-icon1">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/4.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                
                                                <a class="image-popup-vertical-fit btn btn-sm btn-default img-lightbox" href="/static/img/reports/4.jpg" title="Wouldn’t it be great if you could just compare your category and course information directly with that of your peers? Now you can with our intuitive side-by-side comparison tool!">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                                <li>Equip yourself with a <span class="text-city font-w600">side-by-side comparison tool</span> that will deepen your analysis into the similarities and differences in your peers’ categories, courses, locations, course types, scheduling, tuition data, and more.</li>


                                <div class="push-5-t" data-js-magnific="{advancedGallery: true}" style="float:right;margin-left:15px;clear: both">
                                <div class="intro-icon1">
                                    <div class="img-container">
                                        <img class="img-responsive" src="/static/img/reports/5.jpg" alt="">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                
                                                <a class="image-popup-vertical-fit btn btn-sm btn-default img-lightbox" href="/static/img/reports/5.jpg" title="Do you want to know who are using what popular keywords in their course offerings? We provide a straightforward search tool to allow you to quickly sift out crucial information from the massive amount of data that is the competition.">
                                                    <i class="fa fa-search-plus"></i> View
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                                <li>Dig deeper into competitors offerings with a specialized <span class="text-city font-w600">keyword search tool</span>, enhancing your ability to analyze trends in competitors offerings directly and with ease.</li>
                                



                                </ul>
                                </span>


                                <h4 class="push-15 push-15-t">2) For institutions with <span style="font-style: italic;" class="text-city">Customized</span> Offerings (Programs for Organizations)</h4>
                            <span style="font-size: 16px;font-weight: 400;">



                            
                                Deepen your access to and understanding of peer’s marketing strategies for and actions taken with their customized programs via an ongoing assessment and evaluation algorithm providing insights into both your own and your peers’ marketing efforts.

                                <br>

                                <div style="font-style: italic">Coming soon...</div>

                                </span>

                            
                            <hr class="push-30-t">

                            <div class="row push-10-t push-5">
                                
                                    <span class="col-sm-6" style="padding: 0px 15px">
                                    <a href="http://www.gridet.com/report-request-form-1/" style="color: #fff">
                                        <button class="btn btn-block btn-primary btn-blue" style="padding: 8px 12px;"><i class="icon-chart pull-left"></i> Free degree-side report</button></a>
                                    </span>


                                    <span class="col-sm-6" style="padding: 0px 15px">
                                        <button class="btn btn-block btn-primary btn-blue" data-ui-sref="login" style="padding: 8px 12px;"><i class="icon-arrow-right-circle pull-right"></i> Go to login page</button>

                                    </span>
                                        

                                        
                                  
                            </div>
                        </div>
                    </div>
                    <!-- END Login Block -->
                </div>

                <div class="col-sm-12 text-center push-5">
                    <a href="http://www.gridet.com"><img src="/static/img/G-rid-6.png" width="170"></a>
                </div>

            </div>
        </div>
        <!-- END Login Content -->

        <!-- Login Footer -->
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600"><span class="js-year-copy"></span> Copyright &copy; 2016 <span style="color:#5c90d2;">Gridology Education & Technology, Inc.</span></small>
        </div>
        <!-- END Login Footer -->
        

