<!-- Reminder Content -->
        <div class="content overflow-hidden">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <!-- Reminder Block -->
                    <div class="block block-themed animated fadeIn">
                        <div class="block-header bg-success">
                            <ul class="block-options">
                                <li>
                                    <a ui-sref="login"><i class="si si-login"></i></a>
                                </li>
                            </ul>
                            <h3 class="block-title">Upgrid Portal</h3>
                        </div>
                        <div class="block-content block-content-full block-content-narrow">

                            <!-- Reminder Title -->
                            <h1 class="h2 font-w600 push-30-t push-5">Password Reset</h1>
                            <br/>
                            
                            <!-- END Reminder Title -->

                            <!-- Reminder Form -->
                            <!-- jQuery Validation (.js-validation-reminder class is initialized in js/pages/base_pages_reminder.js) -->
                            <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <form class="js-validation-reminder form-horizontal push-30-t push-50">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            <input class="form-control" type="password" id="reminder-password1" name="reminder-password1" ng-model="password1" required placeholder="Please enter a new password...">
                                            <label for="reminder-password1">New Password</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success">
                                            <input class="form-control" type="password" id="reminder-password2" name="reminder-password2" ng-model="password2" required placeholder="Please confirm your new password...">
                                            <label for="reminder-password2">Repeat Password</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <button class="btn btn-block btn-success" type="submit" ng-click="reset()"><i class="si si-note pull-right"></i>Submit</button>

                                    </div>
                                </div>
                            </form>
                            <!-- END Reminder Form -->
                        
                          
                        </div>
                    </div>
                    <!-- END Reminder Block -->
                </div>
            </div>
        </div>


        <!-- END Reminder Content -->

        <!-- Reminder Footer -->
        <div class="push-10-t text-center animated fadeInUp">
            <small class="text-muted font-w600"><span class="js-year-copy"></span> Copyright &copy; 2016 <a href="http://gridet.com" style="color:#5c90d2;">Gridology Education & Technology, Inc.</a></small>
        </div>
        <!-- END Reminder Footer -->

