<div class="content content-boxed">

<!-- Section -->
                    <div class="bg-image img-rounded overflow-hidden push" style="background-image: url('img/photo29@2x.jpg');">
                        <div class="bg-black-op">
                            <div class="content">
                                <div class="block block-transparent block-themed text-center">
                                    <div class="block-content">
                                        <h1 class="h1 font-w700 text-white animated fadeInDown push-5">Admin Interface</h1>
                                        <h2 class="h4 font-w400 text-white-op animated fadeInUp">Welcome, Account Manager.</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Section -->

                    <!-- Stats -->
                    <div class="row text-uppercase">
                        <div class="col-xs-6 col-sm-6">
                            <div class="block block-rounded">
                                <div class="block-content block-content-full">
                                    <div class="font-s12 font-w700">Total</div>
                                    <a class="h2 font-w300 text-primary">{{client_num}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="block block-rounded">
                                <div class="block-content block-content-full">
                                    <div class="font-s12 font-w700">Active</div>
                                    <a class="h2 font-w300 text-primary">{{active_num}}</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-4">
                            <div class="block block-rounded">
                                <div class="block-content block-content-full">
                                    <div class="font-s12 font-w700">Unedited</div>
                                    <a class="h2 font-w300 text-primary" href="javascript:void(0)">3</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- END Stats -->

                    <!-- Customers -->
                    <div class="block" id="loadingclient">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <button type="button" id="addnew" data-toggle="modal" data-target="#modal-large" ng-click="addnew()"><span style="color:#4d66ce" data-js-blur><i class="fa fa-plus"></i> Add new</span></button>
                                </li>
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                </li> -->
                            </ul>
                            <h3 class="block-title">Client List</h3>
                        </div>
                        <div class="block-content">
                            <div class="table-responsive">
                                <table class="table table-hover table-vcenter" st-pagination-scroll  st-table="displayeddata" st-safe-src="client_data">

                                        <colgroup>
                                          <col width="5%"/>
                                          <col width="15%"/>
                                          <col width="10%"/>
                                          <col width="25%"/>
                                          <col width="17%"/>
                                          <col width="15%"/>
                                          <col width="13%"/>
                                        </colgroup>

                                    <thead>
                                    <tr>
                                        
                                        <th></th>
                                        <th st-sort="contact_name" class="text-left">Name</th>
                                        <th st-sort="is_active" class="text-left">Status</th>
                                        <th st-sort="university" class="text-left">University</th>
                                        <th st-sort="department" class="text-left">Department</th>
                                        <th st-sort="email" class="text-left">Email</th>
                                        <th class="text-center">Actions</th>

                                    </tr>

                                    </thead>
                                        <tr ng-repeat="row in displayeddata">
                                          <td class="text-center">
                                                <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar15.jpg" alt="">
                                            </td>

                                            <td>{{row.contact_name}}</td>
                                            <td>
                                                <span ng-if="row.is_active===true">
                                                    <span class="label label-primary">active</span>
                                                </span>

                                                <span ng-if="row.is_active===false">
                                                    <span class="label label-danger">inactive</span>
                                                </span>

                                            </td>

                                            <td>{{row.university}}</td>

                                            <td>{{row.department}}

                                                <span ng-if="row.department===null">
                                                    N/A
                                                </span>
                                            </td>

                                            <td><a href="mailto:{{row.email}}">{{row.email}}</a></td>

                                            <td class="text-right">
                                                <!-- <button class="btn btn-xs btn-default" type="button">
                                                    <i class="fa fa-pencil push-5-r text-success"></i>Edit
                                                </button>
                                                <button class="btn btn-xs btn-default" type="button">
                                                    <i class="fa fa-user-secret push-5-r text-info"></i></button> -->
                                                    <div class="btn-group">
                                                    <button class="btn btn-default" data-js-blur data-ui-sref="form" autoscroll="false">
                                                    <span data-uib-tooltip="Edit" data-tooltip-placement="top">
                                                    <a class="fa fa-pencil text-success"></a>
                                                    </span>
                                                    </button>
                                                    
                                                    <button class="btn btn-default" ng-click="impersonate(row.id)" data-js-blur>
                                                      <span data-uib-tooltip="Impersonate" data-tooltip-placement="top">
                                                    <a class="fa fa-user-secret text-info"></a>  
                                                      </span>
                                                    </button>

                                                    </div>

                                            </td>

                                        </tr>
                                    <tbody>
                                       
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                          

                                          
                                          <td colspan="3">
                                             <br/><br/>
                                            <div class="btn-group pull-left ng-scope tablepagenum" >
                                             
                                              <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                                              <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>
                                              
                                            </div>
                                          </td>

                                          <td colspan="4" class="text-center">
                                            <br/><br/>
                                            <div st-template="views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
                                          </td>


                                        </tr>
                                      </tfoot>
                                </table>
                            </div>
                            <!-- <div class="text-center push">
                                <button class="btn btn-xs btn-default" type="button">
                                    <i class="fa fa-arrow-down push-5-r text-primary"></i>Load More..
                                </button>
                            </div> -->
                        </div>
                    </div>
</div>




<!-- Large Modal -->
        <div class="modal" id="modal-large" role="dialog" aria-hidden="true" ng-controller="FormController">
            <div class="modal-dialog modal-lg" style="width: 100%;height: 100%;padding: 0;margin: 0;">
                <div class="modal-content" style="height: 100%;min-height: 100%;height: auto;border-radius: 0;">
                    <div class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-primary">
                            <ul class="block-options">
                                <li>
                                    <button data-dismiss="modal" type="button" ng-click="clear()"><i class="si si-close"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title text-center">Add a new client</h3>
                        </div>
                        <div class="block-content bg-primary-dark" style="padding:0">
                            

                            <!-- client form -->
                            <div class="content content-narrow"  style="padding:0; margin: 0 auto; padding-top:15px">
                    <!-- Simple Wizards -->
                           
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Simple Classic Progress Wizard (.js-wizard-simple class is initialized in js/controllers.js -> FormsWizardCtrl Controller) -->
                                    <!-- For more examples you can check out http://vadimg.com/twitter-bootstrap-wizard-example/ -->
                                    <div class="js-wizard-simple block">
                                        <!-- Step Tabs -->
                                        <ul class="nav nav-tabs nav-justified" data-js-tabs>
                                            <li class="active">
                                                <a href="#simple-classic-progress-step1" data-toggle="tab" data-js-blur>1. Client Info</a>
                                            </li>
                                            <li>
                                                <a href="#simple-classic-progress-step2" data-toggle="tab" data-js-blur>2. Contract Details</a>
                                            </li>
                                            <li>
                                                <a href="#simple-classic-progress-step3" data-toggle="tab" data-js-blur>3. University Programs</a>
                                            </li>
                                            
                                        </ul>
                                        <!-- END Step Tabs -->

                                        <!-- Form -->
                                        <form class="form-horizontal" onsubmit="return false;">
                                            <!-- Steps Progress -->
                                            <div class="block-content block-content-mini block-content-full border-b">
                                                <div class="wizard-progress progress progress-mini remove-margin-b">
                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                                                </div>
                                            </div>
                                            <!-- END Steps Progress -->

                                            <!-- Steps Content -->
                                            <div class="block-content tab-content">
                                                <!-- Step 1 -->
                                                <div class="tab-pane fade fade-right in push-30-t push-50 active" id="simple-classic-progress-step1">
                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-account-name" class="col-md-4 control-label">Account Name</label>
                                                            <div class="col-md-8 input-group" style="padding-right: 15px; padding-left: 15px;">
                                                            <input ng-model="account_name" class="form-control" type="text" id="simple-classic-progress-account-name" name="simple-classic-progress-account-account-name" placeholder="Please enter the account name">
                                                            <span class="input-group-addon">@M</span>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <!-- <div class="form-group">
                                                        <div class="col-sm-8 col-sm-offset-2">
                                                            <label for="simple-classic-progress-lastname">Last Name</label>
                                                            <input class="form-control" type="text" id="simple-classic-progress-lastname" name="simple-classic-progress-lastname" placeholder="Please enter your lastname">
                                                        </div>
                                                    </div> -->
                                                    <div class="form-group">
                                                              
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-password" class="col-md-4 control-label">Password</label>
                                                            <div class="col-md-8">
                                                            <input ng-model="password" class="form-control" type="password" id="simple-classic-progress-password" name="simple-classic-progress-password" placeholder="Please enter the password">
                                                            </div>
                                                        </div>
                                 
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                              
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-conform-password" class="col-md-4 control-label">Confirm Password</label>
                                                            <div class="col-md-8">
                                                            <input ng-model="password_confirm" class="form-control" type="password" id="simple-classic-progress-confirm-password" name="simple-classic-progress-confirm-password" placeholder="Please confirm the password">
                                                            </div>
                                                        </div>
                                 
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-email" class="col-md-4 control-label">Email</label>
                                                            <div class="col-md-8">
                                                            <input ng-model="email" class="form-control" type="email" id="simple-classic-progress-email" name="simple-classic-progress-email" placeholder="Please enter the email">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-title" class="col-md-4 control-label">Title</label>
                                                            <div class="col-md-8">
                                                            <select ng-model="title" class="form-control" id="simple-classic-progress-title" name="simple-classic-progress-title">
                                                                <option value="">Please select the title</option>
                                                                <option value="Master">Master</option>
                                                                <option value="Mr">Mr</option>
                                                                <option value="Miss">Miss</option>
                                                                <option value="Ms">Ms</option>
                                                                <option value="Mrs">Mrs</option>
                                                                <option value="Mx">Mx</option>
                                                                <option value="Dr">Dr</option>
                                                            </select>
                                                            </div>





                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-name" class="col-md-4 control-label">Client Name</label>
                                                            <div class="col-md-8">
                                                            <input ng-model="client_name" class="form-control" type="text" id="simple-classic-progress-name" name="simple-classic-progress-account-name" placeholder="Please enter the client's name">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-position" class="col-md-4 control-label">Position</label>
                                                            <div class="col-md-8">
                                                            <input ng-model="position" class="form-control" type="text" id="simple-classic-position" name="simple-classic-progress-position" placeholder="Please enter the position">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-progress-level" class="col-md-4 control-label">Position Level</label>
                                                            <div class="col-md-8">
                                                            <select ng-model="position_level" class="form-control" id="simple-classic-progress-level" name="simple-classic-progress-level">
                                                                <option value="">Please select the position level</option>
                                                                <option value="University">University</option>
                                                                <option value="School">School</option>
                                                                <option value="Academic_Department">Academic Department</option>
                                                                <option value="Administrative_Department">Administrative Department</option>
                                                                <option value="Program">Program</option>
                                                               
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <label for="simple-classic-phone" class="col-md-4 control-label">Phone</label>
                                                            <div class="col-md-8">
                                                            <input ng-model="phone" class="form-control" type="text" id="simple-classic-phone" name="simple-classic-progress-phone" placeholder="e.g. 200-111-2222.">
                                                            </div>
                                                        </div>
                                                    </div>
                                                        
                                                          
                                                        
                                                </div>
                                                <!-- END Step 1 -->

                                                <!-- Step 2 -->
                                                <div class="tab-pane fade fade-right in push-30-t push-50" id="simple-classic-progress-step2">

                                                <!-- <button ng-click="submit()">abcd</button> -->
                                                  <!-- <button ng-click="try()">try</button>  -->
                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <label for="simple-classic-progress-level" class="col-md-3 control-label">Ceeb</label>
                                                            <div class="col-md-9">

                                                            <!-- <select ng-options="p for p in prefix" multiple="multiple" size="10" ng-model="schools" id="competingschools">
                                                                  
                                                                </select> -->

                                                            <select ng-model="ceeb" ng-change="get_depart()" class="form-control" id="simple-classic-ceeb" name="simple-classic-progress-ceeb" style="width:100%" ng-options="p.object_id as p.university_school for p in get_ceebs">
                                                                <option value="">Please select the Ceeb</option>
                                                               
                                                               
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <label for="simple-classic-progress-dept" class="col-md-3 control-label">Department</label>
                                                            <div class="col-md-9">
                                                            <select class="form-control" ng-change="generate_program()" ng-model="department" id="simple-classic-dept" name="simple-classic-progress-dept" style="width:50%" ng-options="p.department as p.department for p in get_departments">
                                                                <option value="">Please select the department</option>
                                                                
                                                                
                                                               
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <label for="radio-group4" class="col-md-3 control-label">Account Type</label>
                                                            <div class="col-md-9">
                                                            <label class="css-input css-radio css-radio-primary push-10-r">
                                                                    <input type="radio" name="radio-group4" checked ng-model="account_type" ng-init="account_type ='main'" value="main"><span></span> Main
                                                            </label>
                                                            <label class="css-input css-input-disabled css-radio css-radio-primary">
                                                                    <input type="radio" name="radio-group4" disabled ng-model="account_type" value="sub"><span></span> Sub
                                                            </label>
                                                            </div>



                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <label for="radio-group3" class="col-md-3 control-label">Service Level</label>
                                                            <div class="col-md-9">
                                                            <label class="css-input css-radio css-radio-primary push-10-r">
                                                                    <input type="radio" name="radio-group5" checked ng-model="service_level" ng-change="preload()" value="basic" ng-init="service_level = 'basic'"><span></span> Basic
                                                            </label>
                                                            <label class="css-input css-radio css-radio-primary">
                                                                    <input type="radio" ng-change="preload()" name="radio-group5" ng-model="service_level" value="silver">
                                                                    <span></span> Silver&nbsp;&nbsp;
                                                            </label>

                                                            <label class="css-input css-radio css-radio-primary push-10-r">
                                                                    <input type="radio" ng-change="preload()" name="radio-group5" ng-model="service_level" value="gold"><span></span> Gold
                                                            </label>
                                                            <label class="css-input css-radio css-radio-primary">
                                                                    <input type="radio" ng-change="preload()" name="radio-group5" ng-model="service_level" value="platinum"><span></span> Platinum
                                                            </label>
                                                            </div>


                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                        <label for="datepicker1" class="col-md-3 control-label">Expiration Date</label>
                                                        <div class="col-md-9">
                                                            <input ng-model="expiration_date" data-js-datepicker class="form-control" type="text" id="datepicker1" name="datepicker1" data-date-format="mm/dd/yy" placeholder="mm/dd/yy" style="width:50%">
                                                        </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <div class="col-sm-10 col-sm-offset-1">
                                                            <label for="radio-group3" class="col-md-3 control-label">Competing Schools</label>
                                                            <div class="col-md-9 control-label" style="text-align:left" id="listboxes">
                                                                
                                                           <!-- <select ng-options="p for p in prefix" multiple="multiple" size="10" ng-model="schools" id="competingschools">
                                                                  
                                                                </select> -->


                                                                <select multiple="multiple" size="10" ng-model="competing_schools" id="competingschools">
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                     
                        <!-- 
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="example-datetimepicker3">Full options</label>
                                                        <div class="col-md-6">
                                                            <div data-js-datetimepicker="{showTodayButton: true, showClear: true, showClose: true}" class="input-group date">
                                                                <input class="form-control" type="text" id="example-datetimepicker3" name="example-datetimepicker3" placeholder="Choose a date..">
                                                                <span class="input-group-addon">
                                                                    <span class="fa fa-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                         -->




                                                </div>
                                                <!-- END Step 2 -->

                                                <!-- Step 3 -->
                                                <div class="tab-pane fade fade-right in push-30-t push-50" id="simple-classic-progress-step3">
                                                    
<!-- 
                                                     <div class="col-md-12">
                                                                    <select data-js-select2 class="form-control" id="example-select2" ng-change="print()" ng-model="select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one.." ng-options="p.object_id as p.display for p in competing_program_array">
                                                                        <option></option>
                                                                       
                                                                    </select>
                                                                </div> -->


                                                <div class="col-sm-12 push-30">
                                                   <button type="button" class="btn btn-minw btn-square btn-success pull-right">
                                                        <i class="glyphicon glyphicon-plus">
                                                        </i> Add a user program
                                                    </button>
                                                    <br>
                                                    <table st-table="displayeddata" st-safe-src="selected_customprogram" class="table table-bordered table-hover block" style="table-layout: fixed;" class="formtable" data-js-table-sections-fixed>
                                                    <colgroup>
                                                             <col width="5%"/>
                                                             <col width="40%"/>
                                                              <col width="10%"/>
                                                              <col width="10%"/>
                                                              <col width="10%"/>
                                                              <col width="10%"/>
                                                              <col width="10%"/>
                                                              <col width="10%"/>
                                                              <col width="5%"/>
                                                            </colgroup>

                                                        <thead>
                                                        <tr>
                                                            <th colspan="9"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                                                        </tr>

                                                        <tr class="bg-info text-white">
                                                            <th st-sort=""></th>
                                                            <th st-sort="">Program</th>
                                                            <th st-sort="">Degree</th>
                                                            <th st-sort="">1st Review</th>
                                                            <th st-sort="">2nd Review</th>
                                                            <th st-sort="">Program Status</th>
                                                            <th st-sort="">Whoops Release</th>
                                                            <th st-sort="">Enhancement Release</th>
                                                           
                                                            <th class="text-right"></th>
                                                        </tr>
                                                        
                                                        </thead>

                                                        <tbody class="js-table-sections-header" ng-repeat-start="row in displayeddata" ng-click="load_competing()">

                                                        
                                                        <tr class="text-primary font-w600">
                                                            <td class="text-center">
                                                                <i class="fa fa-angle-right"></i>
                                                            </td>
                                                            <td>{{row.program_name}}</td>
                                                            <td>{{row.program_degree}}</td>

                                                            <td class="text-center"> 
                                                                <span ng-if="row.assignment_status==='Assigned'"><span class="label label-info">Assigned</span></span>
                                                                <span ng-if="row.assignment_status==='In progress'"><span class="label label-primary">In progress</span></span>
                                                                <span ng-if="row.assignment_status==='Need update'"><span class="label label-warning">Need update</span></span>
                                                                <span ng-if="row.assignment_status==='Done'"><span class="label label-success">Done</span></span>
                                                                <span ng-if="row.assignment_status==='-'"><span class="label label-default">N/A</span></span>

                                                            </td>
                                                            <td class="text-center">    
                                                                <span ng-if="row.review_status==='Assigned'"><span class="label label-info">Assigned</span></span>
                                                                <span ng-if="row.review_status==='In progress'"><span class="label label-primary">In progress</span></span>
                                                                <span ng-if="row.review_status==='None'"><span class="label label-default">None</span></span>
                                                                <span ng-if="row.review_status==='Done'"><span class="label label-success">Done</span></span>
                                                                <span ng-if="row.review_status==='-'"><span class="label label-default">N/A</span></span>
                                                            </td>
                                                            <td class="text-center">    
                                                                <div id="tab" class="btn-group" data-toggle="buttons-radio">
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.whoops_status='done'"><i class="fa fa-hourglass" aria-hidden="true"></i></a>
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.whoops_status='in progress'" style="width:40px"><i class="fa fa-hourglass-half" aria-hidden="true"></i></a>
                                                                  
                                                                </div>
                                                            </td>
                                                            <td class="text-center">    
                                                                <div id="tab" class="btn-group" data-toggle="buttons-radio">
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.whoops_final_release='True'"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.whoops_final_release='False'" style="width:40px"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                                  
                                                                </div>
                                                            </td>

                                                            <td class="text-center">    
                                                                <div id="tab" class="btn-group" data-toggle="buttons-radio">
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.enhancement_final_release='True'"><i class="fa fa-check" aria-hidden="true"></i></a>
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.enhancement_final_release='False'" style="width:40px"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                                  
                                                                </div>
                                                            </td>

                                                            <td class="text-center">
                                                            
                                                            <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                                                                <i class="fa fa-trash-o">
                                                                </i>
                                                            </button>

                                                            </td>
                                                        </tr>

                                             </tbody>

                                            <tbody ng-repeat-end>
                                            
                                                <tr class="bg-white" ng-repeat = "row1 in row.competing_program">
                                                <td class="text-center"><label>{{row1.order}}.</label></td>
                                                <td colspan="2">
                                                
                                                            <form class="form-inline">
                                                            <div class="form-group" style="margin-bottom:0">
                                                               
                                                                <div class="col-md-12">
                                                                    <select ng-change="send_competing($parent.$index, $index)" ng-model="row1.object_id" data-js-select2 class="form-control" id="example-select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one.." ng-options="p.object_id as p.display for p in competing_program_array">
                                                                        <option></option>
                                                                        
                                                                    </select>
                                                                </div>
<!-- 
                                                                     <div class="col-md-12">
                                                                    <select data-js-select2 class="form-control" id="example-select2" ng-change="print()" ng-model="select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one.." ng-options="p.object_id as p.display for p in competing_program_array">
                                                                        <option></option>
                                                                       
                                                                    </select>
                                                                </div> -->


                                                            </div>
                                                            
                                                            
                                                        </form>
                                                        </td>
<td> 
                                                                <span ng-if="abc==='Assigned'"><span class="label label-info">Assigned</span></span>
                                                                <span ng-if="abc==='In progress'"><span class="label label-primary">In progress</span></span>
                                                                <span ng-if="abc==='Need update'"><span class="label label-warning">Need update</span></span>
                                                                <span ng-if="abc==='Done'"><span class="label label-success">Done</span></span>
                                                                <span ng-if="abc==='-'"><span class="label label-default">---</span></span>

                                                            </td>
                                                            <td>    
                                                                <span ng-if="abc==='Assigned'"><span class="label label-info">Assigned</span></span>
                                                                <span ng-if="abc==='In progress'"><span class="label label-primary">In progress</span></span>
                                                                <span ng-if="abc==='None'"><span class="label label-default">None</span></span>
                                                                <span ng-if="abc==='Done'"><span class="label label-success">Done</span></span>
                                                                <span ng-if="abc==='-'"><span class="label label-default">---</span></span>
                                                            </td>
                                                           
                                                       <td>    
                                                                <div id="tab" class="btn-group" data-toggle="buttons-radio">
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row1.enhancement_status='done'"><i class="fa fa-hourglass" aria-hidden="true"></i></a>
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row1.enhancement_status ='in progress'" style="width:40px"><i class="fa fa-hourglass-half" aria-hidden="true"></i></a>
                                                                  
                                                                </div>
                                                            </td>
                                                        <td colspan="3" rowspan="{{row.competing_program.length}}" ng-hide="$index>0">
                                                            <div id="tab" class="btn-group" data-toggle="buttons-radio">
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.customerconfirmation_status='True'">Confirmed</a>
                                                                  <a href="javascript:void(0)" class="btn btn-large btn-default" data-toggle="tab" ng-click="row.customerconfirmation_status='False'">Uncomfirmed</a>
                                                                  
                                                                </div>
                                                        </td>
                                                            
                                                        </tr>


                                                        </tbody>


                                                    </table>

                                            </div>


                                    <!-- 
                                            <form class="form-horizontal" action="index.html" method="post" onsubmit="return false;">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="example-select2">Normal</label>
                                                    <div class="col-md-8">
                                                        <select data-js-select2 class="form-control" id="example-select2" name="example-select2" style="width: 100%;" data-placeholder="Choose one..">
                                                            <option></option>
                                                            <option value="1">HTML markup</option>
                                                            <option value="2">CSS</option>
                                                            <option value="3">JavaScript</option>
                                                            <option value="4">PHP</option>
                                                            <option value="5">MySQL</option>
                                                            <option value="6">Ruby</option>
                                                            <option value="7">AngularJS</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                                
                                            </form>
                                    -->

                                                  
                                                    
                                                </div>
                                                <!-- END Step 3 -->
                                            </div>
                                            <!-- END Steps Content -->

                                            <!-- Steps Navigation -->
                                            <div class="block-content block-content-mini block-content-full border-t">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <button class="wizard-prev btn btn-default" type="button" data-js-blur><i class="fa fa-arrow-left"></i> Previous</button>
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <button class="wizard-next btn btn-default" type="button" data-js-blur>Next <i class="fa fa-arrow-right"></i></button>
                                                        <button class="wizard-finish btn btn-primary" type="submit" data-ui-sref="admin" ng-click="submit()" data-js-blur><i class="fa fa-check"></i> Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END Steps Navigation -->
                                        </form>
                                        <!-- END Form -->
                                    </div>
                                    <!-- END Simple Classic Progress Wizard -->
                                </div>
                                
                            </div>
                        </div>
              





                            <!-- end client form -->




                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- END Large Modal -->