<ul class="nav-header pull-right">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                                <img src="assets/img/avatars/avatar10.jpg" alt="Avatar">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">Account</li>
                                
                                <li ng-show="admin==='True'">
                                    <a tabindex="-1" data-ui-sref="admin_profile">
                                        <i class="si si-user-following pull-right"></i>
                                        Admin Profile
                                    </a>
                                </li>

                                <li ng-hide="admin==='True'">
                                    <a tabindex="-1" data-ui-sref="profile">
                                        <i class="si si-user pull-right"></i>
                                        Profile
                                    </a>
                                </li>


                                <li>
                                    <a tabindex="-1" href="javascript:void(0)">
                                        <i class="si si-settings pull-right"></i>Settings
                                    </a>
                                </li>
                                
                                <li class="divider"></li>
                               
                               <li ng-show="admin==='True'&&avatar_id!==''">
                                    <a tabindex="-1" href="javascript:void(0)" ng-click="signout_avatar()">
                                        <i class="si si-eye pull-right"></i>
                                        End impersonation
                                    </a>
                               </li>

                                <li>
                                    <a tabindex="-1" href="javascript:void(0)" ng-click="logout()">
                                        <i class="si si-power pull-right"></i>
                                        Log out
                                    </a>
                            </li>
                                <!-- <li>
                                    <a tabindex="-1" href="javascript:void(0)" ng-click="logout()">
                                        <i class="si si-logout pull-right fa-rotate-180"></i>
                                        Logout
                                    </a>
                                </li> -->
                            
                            </ul>
                        </div>
                    </li>
                    <li ng-hide="admin==='True'&&avatar_id===''">
                        <button class="btn btn-default" type="button" data-ng-click="oneui.settings.sideOverlayOpen = ! oneui.settings.sideOverlayOpen" data-js-blur>
                            <i class="fa fa-bell-o" style="color:#aaaaaa"></i>
                        </button>
                    </li>
                   
                </ul>

<!-- Header Navigation Left -->
<ul class="nav-header pull-left">
    <li class="hidden-md hidden-lg">
        <button class="btn btn-default" type="button" data-ng-click="oneui.settings.sidebarOpenXs = ! oneui.settings.sidebarOpenXs" data-js-blur>
            <i class="fa fa-navicon"></i>
        </button>
    </li>
    <li class="hidden-xs hidden-sm">
        <button class="btn btn-default" type="button" data-ng-click="oneui.settings.sidebarMini = ! oneui.settings.sidebarMini" data-js-blur>
            <!-- <i ng-if="!oneui.settings.sidebarMini" class="fa fa-times"></i> -->
            <i class="fa fa-bars"></i>
            
        </button>
    </li>
</ul>

<img src="/static/angular-seed/app/img/school_logo/TC_Logo.jpg" height="34" ng-if="Ceeb==='2905'">
<img src="/static/angular-seed/app/img/school_logo/Fu_logo.jpg" height="34" ng-if="Ceeb==='2111'">
<img src="/static/angular-seed/app/img/school_logo/GSAS_Logo.jpg" height="34" ng-if="Ceeb==='2162'">
<img src="/static/angular-seed/app/img/school_logo/PH_logo.png" height="34" ng-if="Ceeb==='2159'">
<img src="/static/angular-seed/app/img/school_logo/SPS_logo.png" height="34" ng-if="Ceeb==='2619_SCE'">
<img src="/static/angular-seed/app/img/school_logo/CSSW-logo.png" height="34" ng-if="Ceeb==='2158'">
<img src="/static/angular-seed/app/img/school_logo/Js_logo.png" height="34" ng-if="Ceeb==='2120'">
<img src="/static/angular-seed/app/img/school_logo/Ns_logo.png" height="34" ng-if="Ceeb==='2142'">


<div style="display:inline-block;vertical-align: middle;font-size:14px" class="text-danger push-30-l">For Demonstration Purposes Only</div>

<!-- END Header Navigation Left -->
