
                        <div class="block-content block-content-full bg-white" style="height:100%;" id="print-content1">


                        <style>
                            @media print {
                            body * {
                                visibility: hidden;

                            }
                            #print-content1 * {
                                visibility: visible;
                                overflow: visible;
                            }
                            .modal{
                                position: absolute;
                                left: 0;
                                top: 0;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                padding: 0;
                                overflow: visible;
                            }
                            }

                            /*.table-hover > tbody > tr:hover {
                                background-color: #fefaf4;
                            }*/

                            .report_table2.table>tbody>tr>td {
                                vertical-align: top;
                            }
                            
                            </style>
                            <div class="row">
                            <div class="col-sm-6">
                          

                            <h1 class="page-heading" style="margin-top:0; margin-bottom: 0">
                            <small>Gradgrid.com/upgrid</small><br>ENHANCEMENT REPORT
                            </h1>
                            </div>

                            <div class="col-sm-6">
                            <img src="img/G-rid-6.png" alt="" height="50" class="pull-right" style="margin-top: 17px">
                            </div>
                            </div>
                            
                            <hr class="hidden-print">
                            <div class="row items-push-2x">
                                <!-- Company Info -->
                                <div class="col-sm-9">
                                    <p class="h3 font-w400 push-15 push-10-t text-uppercase">Program Details</p>
                                    
                                    <address>

                                    <table>
                                    <tr>
                                        <td class="text-muted">University</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{e_array_final[0][0].university_school.university}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">School</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{e_array_final[0][0].university_school.school}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">Program</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{e_array_final[0][0].program_name}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">Degree</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{e_array_final[0][0].degree.name}}&nbsp;</td>
                                    </tr>

                                    

                                    </table>

                                       <!--  Univerity &nbsp;&nbsp;: Columbia University<br>
                                        School &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: School of Engineering & Applied Science<br>
                                        Program &nbsp;&nbsp;: Applied Linguistics<br>
                                        Degree &nbsp;&nbsp;&nbsp;&nbsp;: EdM<br> -->
                                    </address>
                                </div>
                                <!-- END Company Info -->

                                <!-- Client Info -->
                                <div class="col-sm-3 text-right">
                                    <p class="h3 font-w400 push-15 push-10-t">Date</p>
                                    <address>
                                        
                                        
                                       <table class="pull-right">
                                    <tr>
                                        <td class="text-muted text-left">Released on :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>


                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{date | date:'MMM dd , yyyy'}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted text-left">Last updated on : </td>
                                    </tr>

                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{date | date:'MMM dd , yyyy'}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                    </table>
                                    </address>
                                </div>
                                <!-- END Client Info -->
                            </div>
                            <!-- END Invoice Info -->

                            <!-- Table -->
                            <div class="table-responsive push-50">
                                <table class="table report_table2 table-bordered table-hover" style="table-layout: fixed;">

                                    <col span="1" width="140px"/>
                                   
                                    <tbody>
                                        <tr class="font-w600 text-primary" style="background: #f6f6f6">
                                            <td class="text-primary font-w600" style="vertical-align: middle">University school</td>
                                            <td ng-repeat = "row in e_array_final[0]">{{row.university_school.university}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">School name</td>
                                            <td ng-repeat = "row in e_array_final[0]">{{row.university_school.school}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Program name</td>
                                            <td ng-repeat = "row in e_array_final[0]">

                                            <span ng-if="row.program_name&&row.url">
                                                <a href="{{row.url}}" target="_blank" style="text-decoration: underline;">
                                                {{row.program_name}}
                                                </a>
                                            </span>

                                            <span ng-if="row.program_name&&!row.url">
                                                {{row.program_name}}
                                            </span>

                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Degree</td>
                                            <td ng-repeat = "row in e_array_final[0]">{{row.degree.name}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Department</td>
                                            <td ng-repeat = "row in e_array_final[0]">{{row.department}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Specialization</td>
                                            <td ng-class="{'note-left': row.specialization}" ng-repeat = "row in e_array_final[0]">{{row.specialization}}</td>
                                        </tr>

                                         <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Highlights</td>
                                            <td ng-class="{'note-left': row.highlights}" ng-repeat = "row in e_array_final[0]">{{row.highlights}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Program objectives</td>
                                            <td ng-class="{'note-left': row.audience}" ng-repeat = "row in e_array_final[0]">{{row.audience}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Job placement</td>
                                            <td ng-class="{'note-left': row.job_placement}" ng-repeat = "row in e_array_final[0]"><span ng-if="row.job_placement&&row.job_placement_url"><a href="{{row.job_placement_url}}" target="_blank" style="text-decoration: underline;">{{row.job_placement}}</a></span><span ng-if="row.job_placement&&!row.job_placement_url">{{row.job_placement}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Online program</td>


                                            <td ng-repeat = "row in e_array_final[0]">
                                            <span ng-if="row.online_program === true">
                                            <i class="fa fa-check text-success"></i>
                                            </span>

                                            <span ng-if="row.online_program === false">
                                            <i class="fa fa-times text-danger"></i>
                                            </span>

                                            </td>

                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Handbook</td>
                                            <td ng-repeat = "row in e_array_final[0]"><span ng-if="row.additional_url"><a href="{{row.additional_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">FAQ</td>
                                           
                                            <td ng-repeat = "row in e_array_final[0]"><span ng-if="row.program_faq_url"><a href="{{row.program_faq_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Admissions statistics</td>
                                            <td ng-repeat = "row in e_array_final[0]"><span ng-if="row.stats_profile_url"><a href="{{row.stats_profile_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>
                                        </tr>



                                        <!-- 1. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">1. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">PROGRAM DETAILS</td>
                                        </tr>



                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Full-time</td>
                                            <td ng-repeat = "row in e_array_final[9]"><span ng-if="row.full_part_time==='F'"><i class="fa fa-check text-success"></i></span><span ng-if="row.full_part_time==='P'"><i class="fa fa-times text-danger"></i>
                                        </span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Part-time</td>
                                            <td ng-repeat = "row in e_array_final[9]"><span ng-if="row.part_time===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.part_time===false"><i class="fa fa-times text-danger"></i></span><span ng-if="!row.part_time&&row.full_part_time==='P'"><i class="fa fa-check text-success"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Program duration</td>
                                            <td ng-repeat = "row in e_array_final[9]"><span ng-if="row.duration_min">{{row.duration_min}}<span ng-if="row.duration_max&&row.duration_max!==row.duration_min"> - {{row.duration_max}}</span><span ng-if="row.duration_conj"> {{row.duration_conj}}</span><span ng-if="row.duration_unit"> {{row.duration_unit.name}}</span><span ng-if="row.duration_addl"> {{row.duration_addl}}</span><span ng-if="row.duration_addl_unit"> {{row.duration_addl_unit.name}}</span></span></td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Duration time limit</td>
                                            <td ng-repeat = "row in e_array_final[9]"><span ng-if="row.durationtime_limit">{{row.durationtime_limit}} {{row.duration_unit.name}}</span></td>
                                        </tr>
                                            


                                        <!-- 2. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">2. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">CURRICULUMS</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Required curriculum units</td>
                                            <td ng-repeat = "row in e_array_final[1]"><span ng-if="row.min_total_unit">{{row.min_total_unit}} {{row.curriculum_unit.name}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Max transfer units</td>
                                            <td ng-repeat = "row in e_array_final[1]"><span ng-if="row.max_transfer_unit">{{row.max_transfer_unit}} {{row.curriculum_unit.name}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Master thesis or equivalent</td>
                                            <td ng-repeat = "row in e_array_final[1]"><span ng-if="row.master_thesis_or_equivalent==='Y'">Yes</span><span ng-if="row.master_thesis_or_equivalent==='N'">No</span><span ng-if="row.master_thesis_or_equivalent==='O'">Optional</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Thesis notes</td>
                                            <td ng-class="{'note-left':row.thesis_notes}" ng-repeat = "row in e_array_final[1]">{{row.thesis_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Doctorate dissertation or equivalent</td>
                                            <td ng-repeat = "row in e_array_final[1]"><span ng-if="row.doctorate_dissertation_or_equivalent==='Y'">Yes</span><span ng-if="row.doctorate_dissertation_or_equivalent==='N'">No</span><span ng-if="row.doctorate_dissertation_or_equivalent==='O'">Optional</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Dissertation notes</td>
                                            <td ng-class="{'note-left': row.dissertation_notes}" ng-repeat = "row in e_array_final[1]">{{row.dissertation_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Curriculums</td>
                                            <td ng-repeat = "row in e_array_final[1]"><span ng-if="row.program_faq_url"><a href="{{row.curriculum_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>
                                        </tr>
                                        


                                        <!-- 3. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">3. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">TUITION</td>
                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Tuition (in state)</td>
                                            <td ng-repeat = "row in e_array_final[2]"><span ng-if="row.school_cost_url&&row.tuition_per_unit"><a href="{{row.school_cost_url}}" target="_blank" style="text-decoration: underline;">{{row.tuition_per_unit | currency }} per {{row.tuition_unit.name}}</a>
                                            </span><span ng-if="!row.school_cost_url&&row.university_cost_url&&row.tuition_per_unit">
                                            <a href="{{row.university_cost_url}}" target="_blank" style="text-decoration: underline;">{{row.tuition_per_unit | currency }} per {{row.tuition_unit.name}}</a>
                                            </span><span ng-if="!row.school_cost_url&&!row.university_cost_url&&row.tuition_per_unit">
                                            {{row.tuition_per_unit | currency }} per {{row.tuition_unit.name}}
                                            </span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Tuition (out of state)</td><td ng-repeat = "row in e_array_final[2]"><span ng-if="row.school_cost_url&&row.tuition_per_unit_out_state">
                                            <a href="{{row.school_cost_url}}" target="_blank" style="text-decoration: underline;">{{row.tuition_per_unit_out_state | currency }} per {{row.tuition_unit.name}}</a></span><span ng-if="!row.school_cost_url&&row.university_cost_url&&row.tuition_per_unit_out_state"><a href="{{row.university_cost_url}}" target="_blank" style="text-decoration: underline;">{{row.tuition_per_unit_out_state | currency }} per {{row.tuition_unit.name}}</a>
                                            </span><span ng-if="!row.school_cost_url&&!row.university_cost_url&&row.tuition_per_unit_out_state">{{row.tuition_per_unit_out_state | currency }} per {{row.tuition_unit.name}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Other fees included</td>
                                            <td ng-repeat = "row in e_array_final[2]"><span ng-if="row.fee_included===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.fee_included===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        
                                        <!-- 4. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">4. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">ADMISSION DEADLINES</td>
                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Application deadlines link</td>


                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.deadline_url"><a href="{{row.deadline_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>

                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Deadline - Fall, early</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.get_deadline_fall_early_month_display&&row.get_deadline_fall_early_day_display">
                                                {{row.get_deadline_fall_early_month_display}} {{row.get_deadline_fall_early_day_display}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Deadline - Fall, late</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.get_deadline_fall_late_month_display&&row.get_deadline_fall_late_day_display">{{row.get_deadline_fall_late_month_display}} {{row.get_deadline_fall_late_day_display}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Deadline - Spring, early</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.get_deadline_spring_early_month_display&&row.get_deadline_spring_early_day_display">{{row.get_deadline_spring_early_month_display}} {{row.get_deadline_spring_early_day_display}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Deadline - Spring, late</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.get_deadline_spring_late_month_display&&row.get_deadline_spring_late_day_display">{{row.get_deadline_spring_late_month_display}} {{row.get_deadline_spring_late_day_display}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Deadline - Summer, early</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.get_deadline_summer_early_month_display&&row.get_deadline_summer_early_day_display">{{row.get_deadline_summer_early_month_display}} {{row.get_deadline_summer_early_day_display}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Deadline - Summer, late</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.get_deadline_summer_late_month_display&&row.get_deadline_summer_late_day_display">{{row.get_deadline_summer_late_month_display}} {{row.get_deadline_summer_late_day_display}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Rolling deadline</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.deadline_rolling===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.deadline_rolling===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Scholarship deadline</td>
                                            <td ng-repeat = "row in e_array_final[3]"><span ng-if="row.scholarship_deadline_month&&row.scholarship_deadline_day">{{row.scholarship_deadline_month}}/{{row.scholarship_deadline_day}}</span></td>
                                        </tr>
                                        
                                        




                                        <!-- 5. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">5. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">ADMISSION REQUIREMENTS</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Special requirements</td>
                                            <td ng-class="{'note-left': row.special_reqs}" ng-repeat = "row in e_array_final[4]">{{row.special_reqs}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Online Application</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.apply_online===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.apply_online===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Application fee</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.application_fee | currency}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Application fee waiver</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.application_fee_waiver===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.application_fee_waiver===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Application fee waiver notes</td>
                                            <td ng-class="{'note-left': row.application_fee_waiver_notes}" ng-repeat = "row in e_array_final[4]">{{row.application_fee_waiver_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Transcripts required for application</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.transcript_for_application===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.transcript_for_application===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Transcripts required for enrollment</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.official_transcript_for_enrollment===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.official_transcript_for_enrollment===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Required admissions exam</td>
                                            <td ng-repeat = "row in e_array_final[5]"><span ng-repeat="row3 in row">{{row3.name}}<br></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Personal statement or equivalent</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.essays}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Letters of recommendation</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.recommendation}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Minimum GPA</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.gpa_minimum&&!row.gpa_minimum_letter">{{row.gpa_minimum}}</span><span ng-if="!row.gpa_minimum&&row.gpa_minimum_letter">{{row.gpa_minimum_letter}}
                                            </span><span ng-if="row.gpa_minimum&&row.gpa_minimum_letter">{{row.gpa_minimum}}/{{row.gpa_minimum_letter}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Average GPA</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.gpa_average&&!row.gpa_average_letter">{{row.gpa_average}}</span><span ng-if="!row.gpa_average&&row.gpa_average_letter">{{row.gpa_average_letter}}</span><span ng-if="row.gpa_average&&row.gpa_average_letter">{{row.gpa_average}}/{{row.gpa_average_letter}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Suggested GPA</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.gpa_suggested&&!row.gpa_suggested_letter">{{row.gpa_suggested}}</span><span ng-if="!row.gpa_suggested&&row.gpa_suggested_letter">{{row.gpa_suggested_letter}}</span><span ng-if="row.gpa_suggested&&row.gpa_suggested_letter">{{row.gpa_suggested}}/{{row.gpa_suggested_letter}}</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">School interview</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.school_interview===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.school_interview===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Résumé/ Curriculum Vitae</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.resume==='Y'">Yes</span><span ng-if="row.resume==='N'">No</span><span ng-if="row.resume==='O'">Optional</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Writing sample</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.sup_mat_writing_sample==='Y'">Yes</span><span ng-if="row.sup_mat_writing_sample==='N'">No</span><span ng-if="row.sup_mat_writing_sample==='O'">Optional</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Writing sample notes</td>
                                            <td ng-class="{'note-left': row.sup_mat_writing_sample_notes}" ng-repeat = "row in e_array_final[4]">{{row.sup_mat_writing_sample_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Portfolio</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.sup_mat_portfolio==='Y'">Yes</span><span ng-if="row.sup_mat_portfolio==='N'">No</span><span ng-if="row.sup_mat_portfolio==='O'">Optional</span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Portfolio notes</td>
                                            <td ng-class="{'note-left': row.sup_mat_portfolio_notes}" ng-repeat = "row in e_array_final[4]">{{row.sup_mat_portfolio_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Additional admissions requirements</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.program_req_url"><a href="{{row.program_req_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span><span ng-if="!row.program_req_url&&row.school_req_url"><a href="{{row.school_req_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>
                                        </tr>
                                        


                                        <!-- 6. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">6. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">INTERNATIONAL REQUIREMENTS</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">International transcript</td>
                                            <td ng-repeat = "row in e_array_final[6]"><span ng-repeat="row1 in row"><span ng-if="row1" data-uib-tooltip="{{row1.description}}" data-tooltip-placement="top" style="border-bottom: 1px dashed #aaa;cursor: pointer;">{{row1.name}}<br></span></span></td>
                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Foreign language waiver</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.intl_lang_waiver===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.intl_lang_waiver===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Foreign language waiver notes</td>
                                            <td ng-class="{'note-left': row.intl_lang_waiver_conditions}" ng-repeat = "row in e_array_final[4]">{{row.intl_lang_waiver_conditions}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">English language test required (Non-native speakers)</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.intl_english_test_required===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.intl_english_test_required===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">English language test</td>
                                            <td ng-repeat = "row in e_array_final[7]"><span ng-repeat="row2 in row">{{row2.name}}<br></span></td>
                                                
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">TOEFL iBT</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.toefl_ibt}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">TOEFL iBT reading /listening /speaking /writing Scores</td>
                                            <td ng-repeat = "row in e_array_final[4]"><span ng-if="row.toefl_ibt_reading||row.toefl_ibt_listening||row.toefl_ibt_speaking||row.toefl_ibt_writing">{{row.toefl_ibt_reading?row.toefl_ibt_reading: '-'}}/{{row.toefl_ibt_listening?row.toefl_ibt_listening: '-'}}/{{row.toefl_ibt_speaking?row.toefl_ibt_speaking: '-'}}/{{row.toefl_ibt_writing?row.toefl_ibt_writing: '-'}}</span></td>
                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">TOEFL PBT</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.toefl_pbt}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">TOEFL TWE</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.toefl_twe}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">TOEFL TSE</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.toefl_tse}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">TOEFL CBT</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.toefl_cbt}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">IELTS requirements</td>
                                            <td ng-repeat = "row in e_array_final[4]">{{row.intl_ielts_reqs}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Misc.</td>
                                            <td ng-class="{'note-left': row.intl_other}" ng-repeat = "row in e_array_final[4]">{{row.intl_other}}</td>
                                        </tr>
                                       

                                        <!-- 7. -->
                                        <tr>
                                            
                                            <td class="text-center bg-info text-white">7. </td>
                                            <td colspan="{{e_raw.length}}" class="bg-info text-white text-left" style="text-decoration: none; cursor: default;">SCHOLARSHIPS</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Fully funded</td>
                                            <td ng-repeat = "row in e_array_final[8]"><span ng-if="row.fully_funded===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.fully_funded===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>


                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Notes regarding full funding</td>
                                            <td ng-class="{'note-left': row.fully_funded_notes}" ng-repeat = "row in e_array_final[8]">{{row.fully_funded_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Additional Scholarships</td>
                                            <td ng-repeat = "row in e_array_final[8]"><span ng-if="row.scholarship_avail===true"><i class="fa fa-check text-success"></i></span><span ng-if="row.scholarship_avail===false"><i class="fa fa-times text-danger"></i></span></td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Scholarship notes</td>
                                            <td ng-class="{'note-left': row.scholarship_notes}" ng-repeat = "row in e_array_final[8]">{{row.scholarship_notes}}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-primary font-w600" style="vertical-align: middle">Scholarship url</td>

                                            <td ng-repeat = "row in e_array_final[8]"><span ng-if="row.scholarship_program_specific_url"><a href="{{row.scholarship_program_specific_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span><span ng-if="!row.scholarship_program_specific_url&&row.scholarship_general_url"><a href="{{row.scholarship_general_url}}" target="_blank" style="text-decoration: underline;"><i class="fa fa-link" aria-hidden="true"></i></a></span></td>


                                        </tr>
                                        


                                        

                                    </tbody>
                                </table>
                            </div>
                            <!-- END Table -->

                            <!-- Footer -->
                            <hr class="hidden-print" style="margin-bottom: 8px;">
                            <p class="text-muted text-left"><small><strong>Gridology Education & Technology, Inc.</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oak Tree Center, 2024 Center Ave, Fort Lee, NJ 07024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="pull-right" href="http://www.gridet.com" target="_blank"><strong>gridet</strong>.com</a></small></p>
                       

                        </div>
      
