
<!-- Page Content -->
<div class="content content-boxed">
  <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
  

  <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
  <div class="block block-rounded" id="reports">
    <div class="block-header">
            <!-- <div class="block-options">
                <code>.data-js-table-checkable</code>
              </div> -->
              <!-- <h3 class="block-title">Checkable Table</h3> -->
              <div class="col-sm-7">
                <h1 class="page-heading">
                  Report Manager <br><small> &nbsp;&nbsp;- Help you organize the selected reports.</small>
                </h1>
                
                
                
              </div>
            </div>
            <div class="block-content" style="padding-top:0; padding-left:30px; padding-right:30px">
              <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->

              <div class="alert alert-warning" role="alert" ng-if="Checked.length===0">{{message}}</div>

              <table st-table="Checked" class="table" ng-if="Checked.length>0" style="table-layout: fixed;">
                <colgroup>
                <col width="50px">
                <col width="60%">               
                <col width="20%">           
                <col width="115px">                          
                <col width="115px">               
              </colgroup>
              <thead class="thead-inverse">
                
                <tr class=" bg-info" style="border: 1px solid #e3e3e3; color:white;">
                  <th></th>
                  <th st-sort="name" style="padding-left:15px;" class="h4 font-w400">program
                  </th>
                  <th st-sort="degree" style="padding-left:15px;text-align:center;" class="h4 font-w400">degree
                  </th>
                  <th class="h4 font-w400" style="text-align:center;">whoops!
                  </th>
                  <th class="h4 font-w400" style="text-align:center;">
                    enhancement
                  </th>
                  
                </tr>

                <tr class="bg-gray-lighter">

                  <th class="text-center th-bordered" style="vertical-align: middle; text-decoration: none; cursor: default;">
                      
                      <i class="fa fa-search text-primary"></i>
                  </th>
                  <th class="th-bordered">
                   <input st-search="name" placeholder="Search for a program..."  style="height:auto; width:100%;" type="search" class="form-control font-w400"/>
                 </th>

                 <th class="th-bordered">
                 <input st-search="degree" placeholder="degree..."  style="height:auto; width:100%;" type="search" class="form-control font-w400 text-center"/>
                </th>

                <th style="text-align:center;vertical-align: middle;" class="font-w400 th-bordered">
                Status
                </th>
                
                <th style="text-align:center;vertical-align: middle;" class="font-w400 th-bordered">
                Status
                </th>


               <!--  <th class="text-center" style="width: 70px;">
                      <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b" ng-class="{'css-input-disabled':availablenum===0}">
                          <input type="checkbox" id="check-all" name="check-all" ng-model="$storage.checkAllwhoops" ng-change="selectAll()" ng-disabled="availablenum===0"><span></span>
                      </label>
                  </th>
                -->
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="row in Checked">
                <td class="font-w500 td-bordered text-center bg-gray-lighterer">{{$index+1}}.</td>
                <td class="font-w500 td-bordered" style="padding-left:15px;">
                  {{row.name}}
                </td>
                <td class="font-w500 td-bordered" style="padding-left:15px;text-align:center;">
                  {{row.degree}}
                </td>


                <td style="text-align:center;" class="td-bordered">
                 
                  <!-- <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.status!=='True'||row.notes==='False'}">
                    <input type="checkbox" ng-model="$storage.upgrid[row.programName+row.degreeName].whoops" ng-change="checkbox()" ng-disabled="row.status!=='True'||row.notes==='False'"><span></span>
                  </label> -->
                  <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.WStatus==='False'||row.WNotes==='False'}">

                  <input type="checkbox" ng-model="$storage.upgrid[row.name+'|'+row.degree]['whoops']" ng-disabled="row.WStatus==='False'||row.WNotes==='False'"><span></span>


                </label>
                </td>

               

              
                <td style="text-align:center;" class="td-bordered">
                  
                  <!-- <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.status!=='True'||row.confirm!=='Yes'}">
                    <input type="checkbox" ng-model="$storage.upgrid[row.programName+row.degreeName].enhancement" ng-change="checkbox()" ng-disabled="row.status!=='True'||row.confirm!=='Yes'"><span></span>
                  </label> -->
                   <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.EStatus==='False'||row.EConfirm!=='Yes' }">
                                  <input type="checkbox" ng-model="$storage.upgrid[row.name+'|'+row.degree]['enhancement']" ng-disabled="row.EStatus==='False'||row.EConfirm!=='Yes'"><span></span>
                              </label>
                </td>
               
            </tr>

          </tbody>
          <tfoot>
            <tr>

              <td colspan="2" >
                <br/><br/>
                <div class="btn-group pull-left ng-scope tablepagenum" >
                 
                  <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                  <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>
                </div>
              </td>

              <td colspan="3" class="text-center">
                <br/><br/>
                <div st-template="views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5" style="text-align:right;"></div>
              </td>

            </tr>
          </tfoot>
        </table>

        <hr>

        <button class="font-w400 btn btn-lg btn-square bg-info" ng-click="ViewAll()" style="width:48%;color:white;margin-bottom:30px;" ng-if="Checked.length>0" data-toggle="modal" data-target="#ViewAll">
          View [{{count}}]
        </button>
        <button class="font-w400 btn btn-lg pull-right btn-square bg-city-light" ng-click="ShareAllSelected()" style="width:48%;color:white;margin-bottom:30px;" ng-if="Checked.length>0">
          Share [{{count}}]
        </button>


        <!-- <div ng-include src="'views/Login/whoops_report.html'"></div> -->
       
        

      </div>
    </div>
  </div>
  <!-- Modal of Whoops Pdf Viewer-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Report Viewer</h3>
                              </div>
                              
                              <div class="block-content" style="width:auto;height:500px;padding:0;">

                                <!-- progress circle -->
                                <div class="sk-fading-circle" ng-show="viewerLoading">
                                  <div class="sk-circle1 sk-circle"></div>
                                  <div class="sk-circle2 sk-circle"></div>
                                  <div class="sk-circle3 sk-circle"></div>
                                  <div class="sk-circle4 sk-circle"></div>
                                  <div class="sk-circle5 sk-circle"></div>
                                  <div class="sk-circle6 sk-circle"></div>
                                  <div class="sk-circle7 sk-circle"></div>
                                  <div class="sk-circle8 sk-circle"></div>
                                  <div class="sk-circle9 sk-circle"></div>
                                  <div class="sk-circle10 sk-circle"></div>
                                  <div class="sk-circle11 sk-circle"></div>
                                  <div class="sk-circle12 sk-circle"></div>
                                </div>


                                <div id = "my-container"></div>

                              </div>
                            </div>
      <!-- <div class="modal-footer">
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div> -->
    </div>
  </div>
</div>


<!-- Modal of Share the Link-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Share the Reports</h3>
                              </div>
                              <div class="block-content">
                                <div class="form-group">
                                  <div class="spinner" style="position:absolute;margin:0 auto;top:85px;left:280px;" ng-show="shareLoading">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                  </div>

                                  <label for="reportlink">Link: </label> 

                                  <label style="float:right" ng-show="copied">Copied!</label>
                                  <input type="url" ng-copy="copied=true" class="form-control" id="reportlink" ng-model= "url.text" select-on-click spellcheck="false">
                                  

                                </div>
                                <!-- Target -->
                                <!-- Trigger -->

                              </div>
                              <div class="modal-footer">
                                <span class="pull-left text-city">The report will expire in 48 hours</span>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button data-clipboard-target="#reportlink" type="button" class="btn btn-primary">Copy</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Modal of Enhancement Pdf Viewer-->
                      <div class="modal fade" id="myModalEnhan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="block block-themed block-transparent remove-margin-b">
                              <div class="block-header bg-primary-dark">
                                <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Whoops Report</h3>
                              </div>
                              
                              <div class="block-content" style="width:auto;height:500px;padding:0;">

                                <!-- progress circle -->
                                <div class="sk-fading-circle" ng-show="viewerLoading">
                                  <div class="sk-circle1 sk-circle"></div>
                                  <div class="sk-circle2 sk-circle"></div>
                                  <div class="sk-circle3 sk-circle"></div>
                                  <div class="sk-circle4 sk-circle"></div>
                                  <div class="sk-circle5 sk-circle"></div>
                                  <div class="sk-circle6 sk-circle"></div>
                                  <div class="sk-circle7 sk-circle"></div>
                                  <div class="sk-circle8 sk-circle"></div>
                                  <div class="sk-circle9 sk-circle"></div>
                                  <div class="sk-circle10 sk-circle"></div>
                                  <div class="sk-circle11 sk-circle"></div>
                                  <div class="sk-circle12 sk-circle"></div>
                                </div>


                                <div id = "my-container1" style=""></div>

                              </div>
                            </div>
      <!-- <div class="modal-footer">
       
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div> -->
    </div>
  </div>
</div>



<!-- viewall modal -->
<div class="modal fullscreen-modal viewer fade" id="ViewAll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="viewall_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">View Reports</h3>
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" du-scroll-container id="scrolltop_cart">

           
                    <!-- SlimScroll Container -->
                    <!-- <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->



                     <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="top-report">
               
                        <div class="block-content block-content-full bg-white" style="height:100%;" id="print-content1">


                        <style>
                            @media print {
                            body * {
                                visibility: hidden;

                            }
                            #print-content1 * {
                                visibility: visible;
                                overflow: visible;
                            }
                            .modal{
                                position: absolute;
                                left: 0;
                                top: 0;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                padding: 0;
                                overflow: visible;
                            }
                            }

                            /*.table-hover > tbody > tr:hover {
                                background-color: #fefaf4;
                            }*/

                            .report_table2.table>tbody>tr>td {
                                vertical-align: top;
                            }
                            
                            </style>
                            <div class="row">
                            <div class="col-sm-6">
                          

                            <h1 class="page-heading" style="margin-top:0; margin-bottom: 0">
                            <small>Gradgrid.com/upgrid</small><br>UPGRID REPORTS
                            </h1>
                            </div>

                            <div class="col-sm-6">
                            <img src="img/G-rid-6.png" alt="" height="50" class="pull-right" style="margin-top: 17px">
                            </div>
                            </div>
                            
                            <hr class="hidden-print">
                            <div class="row items-push-2x">
                                <!-- Company Info -->
                                <div class="col-sm-9">
                                    <p class="h3 font-w400 push-15 push-10-t text-uppercase">Basic Information</p>
                                    
                                    <address>

                                    <table>
                                    <tr>
                                        <td class="text-muted">University</td>
                                        <td>&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{univeristy_name}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">School</td>
                                        <td>&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{school_name}}&nbsp;</td>
                                    </tr>


                                    </table>

                                       <!--  Univerity &nbsp;&nbsp;: Columbia University<br>
                                        School &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: School of Engineering & Applied Science<br>
                                        Program &nbsp;&nbsp;: Applied Linguistics<br>
                                        Degree &nbsp;&nbsp;&nbsp;&nbsp;: EdM<br> -->
                                    </address>
                                </div>
                                <!-- END Company Info -->

                                <!-- Client Info -->
                                <div class="col-sm-3 text-right">
                                    <p class="h3 font-w400 push-15 push-10-t">Date</p>
                                    <address>
                                        
                                        
                                        <table class="pull-right">
                                    <tr>
                                        <td class="text-muted text-left">Generated on :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>


                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{date | date:'MMM dd , yyyy'}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                    
                                    </table>
                                    </address>
                                </div>
                                <!-- END Client Info -->




                                <div class="col-sm-9 push-20">
                                    <p class="h3 text-gray font-w400 push-15 push-10-t text-uppercase">CONTENTS</p>
                                    
                                    <address>
                                      <div ng-repeat="program in view_counter" class="push-5"> 

                                        <a  data-js-blur class="link-effect" href="{{ '#program-' + $index }}" du-smooth-scroll>{{$index + 1}}.&nbsp;&nbsp;&nbsp;&nbsp; {{program.name}} - {{program.degree}}</a>

                                        
                                        <br />

                                      </div>
                                    
                                      
                                    
                                    </address>
                                </div>


                            </div>
                            <!-- END Invoice Info -->


                            <!-- ########### -->
                            

                            <!-- dynamic templates -->
                            <div ng-repeat="report in report_array">
                            
                           
                              <div ng-attr-id="{{ 'program-' + $index }}"></div>
                              <div ng-include src="'views/Home/report_manager.html'"></div>

                            </div>

                            

                            <!-- Footer -->
                            <hr class="hidden-print" style="margin-bottom: 8px;">
                            <p class="text-muted text-left"><small><strong>Gridology Education & Technology, Inc.</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oak Tree Center, 2024 Center Ave, Fort Lee, NJ 07024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="pull-right" href="http://www.gridet.com" target="_blank"><strong>gridet</strong>.com</a></small></p>
                       

                        </div>
                        </div>

                        <div style="position: fixed;bottom: 50px;right: 25px;">
                            <a  data-js-blur href="#top-report" style="font-size: 30px;background: #eee;opacity: 0.6;width: 44px;display: block;text-align: center;border-radius: 8px;" du-smooth-scroll><i class="fa fa-arrow-up"></i></a>

                        </div>

                    <!-- </div> -->
                    <!-- END SlimScroll Container -->
            

            </div>
                            </div>
      
    </div>
  </div>
</div>

