
<!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7 push-15">
                            <h1 class="page-heading">
                                Comparison Tool {{radio_value}}<br><small>- Compare courses between two schools. </small>
                            </h1>
                        </div>
                        
                    </div>
                </div>
                <!-- END Page Header -->
<!-- Dashboard Charts -->
  <div class="content content-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="block block-rounded block-opt-refresh-icon8">




                                <div class="block-header" style="border-bottom: 1px solid #f4f4f4;">
                                   
                                                <select class="form-control" ng-model="school1" id="simple-classic-school-non-degree" name="simple-classic-school-non-degree" ng-options="s.object_id as s.school for s in schools" ng-change="get_cat1(school1)">
                                                            <option value="">Please select the school</option>
                                                        </select>
                                            
                                       
                                </div>
                                <div class="block-content block-content-full text-center comparison_height frame">
                                
                                    <div ng-show="!cat1 || cat1.length===0" class="alert alert-warning">
                                        
                                        <p><i class="fa fa-info-circle"></i> &nbsp;Please make your selection.</p>
                                    </div>


                                    
                                    <table ng-show="cat1.length!==0" class="table table-striped-info table-borderless table-header-bg">
                                        <colgroup>
                                         
                                          <col width="10%"/>
                                          <col width="90%" />
                                        </colgroup>
                                        <tbody>
                                           
                                            <tr ng-repeat="row in cat1">
                                                <td class="text-center"><label class="css-input css-radio css-radio-info push-10-r css-input-comparison">
                                                <input type="radio" name="radio-comparison1" value="{{row.object_id}}" ng-model="$parent.radio_value1" required="required" ng-change="get_courses($parent.school1, $parent.radio_value1)"><span></span>
                                            </label>
                                            </td>
                                                <td class="text-right">{{row.name}}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>


                                     <p>Your favorite Beatle is <strong>{{radio_value1}}</strong>.</p>


                                </div>
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="block block-rounded block-opt-refresh-icon8">
                                <div class="block-header" style="border-bottom: 1px solid #f4f4f4;">
                                       
                                                 <select class="form-control" ng-model="school2" id="simple-classic-school-non-degree1" name="simple-classic-school-non-degree1" ng-options="s.object_id as s.school for s in schools" ng-change="get_cat2(school2)">
                                                            <option value="">Please select the school</option>
                                                        </select>
                                </div>
                                <div class="block-content block-content-full text-center comparison_height frame">

                                    <div ng-show="!cat2 || cat2.length===0" class="alert alert-warning">
                                        
                                        <p><i class="fa fa-info-circle"></i> &nbsp;Please make your selection.</p>
                                    </div>

                                    <table ng-show="cat2.length!==0" class="table table-striped-info table-borderless table-header-bg">
                                        <colgroup>
                                         
                                          <col width="10%"/>
                                          <col width="90%" />
                                        </colgroup>
                                        <tbody>
                                           
                                            <tr ng-repeat="row in cat2">
                                                <td class="text-center">radio</td>
                                                <td class="text-right">{{row.name}}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-12">
                            <div class="block block-rounded block-opt-refresh-icon8">
                                <div class="block-header" style="border-bottom: 1px solid #f4f4f4;">
                                   
                                               Comparison Result
                                       
                                </div>
                                <div class="block-content block-content-full text-center comparison_height">
                                    
                                   <div class="col-md-6 border-r">

                                   haha
                                   </div>



                                   <div class="col-md-6">

                                   waa
                                   </div>




                                </div>
                               
                            </div>
                        </div>



                    </div>


  </div>
                    <!-- END Dashboard Charts -->