   <!-- Page Content -->
                <div class="content content-boxed">
                    <!-- User Header -->
                    <div class="block">
                        
                        <!-- Basic Info -->
                        <div class="bg-image" style="background: url('/static/img/new-york-city.jpg'); background-size:cover; background-position: center 63%">
                            <div class="block-content bg-black-op text-center overflow-hidden">
                                <div class="push-30-t push animated fadeInDown">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="/static/img/avatar6.jpg" alt="">
                                </div>
                                <div class="push-30 animated fadeInUp">
                                    <h2 class="h4 font-w600 text-white push-5" ng-bind="contact_name"></h2>
                                    <h3 class="h5 text-white-op" ng-bind="position"></h3>
                                </div>
                            </div>
                        </div>
                        <!-- END Basic Info -->
                        
                        <!-- Stats -->
                        
                        <div class="block-content text-center">
                            <div class="row items-push text-uppercase">
                                <!-- <div class="col-xs-6 col-sm-3">
                                    <div class="font-w700 text-dark animated fadeIn">Programs</div>
                                    <a class="h2 font-w300 text-primary animated flipInX" data-ui-sref="profile" data-uib-tooltip="{{customer_num}} programs in service" data-tooltip-placement="right">{{customer_num}}/{{total_num}}</a>
                                </div> -->


                        <!-- 1 -->
                        <div class="col-xs-6 col-sm-4">
                           
                            

                            <div class="pie-chart chart-1" data-js-pie-chart="{lineWidth: 6, size: 110, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="0">
                                <span data-uib-tooltip="{{customer_num}} programs in service" data-tooltip-placement="bottom">{{customer_num}} <br><small class="text-muted">/{{total_num}}</small></span>
                            </div>


                            <div class="push-10-t push-5 font-w600 animated fadeIn">Programs</div>

                            
                        </div>
                               
                        <!-- 2 -->
                        <div class="col-xs-6 col-sm-4" style="border-right: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5">
                            
                            

                            <div class="pie-chart chart-2" data-js-pie-chart="{lineWidth: 6, size: 110, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="0">
                                <span data-uib-tooltip="{{whoops_num}} out of {{customer_num}} 'Whoops!' Reports are available" data-tooltip-placement="bottom">{{whoops_num}} <br><small class="text-muted">/{{customer_num}}</small></span>

                            </div>


                            <div class="push-10-t push-5 font-w600 animated fadeIn">"Whoops!" Report</div>

                            
                        </div>

                                <!-- <div class="col-xs-6 col-sm-3">
                                    <div class="font-w700 text-dark animated fadeIn">"Whoops!" Report</div>
                                    <a class="h2 font-w300 text-primary animated flipInX" data-ui-sref="whoops" data-uib-tooltip="{{whoops_num}} out of {{customer_num}} 'Whoops!' Reports are available'" data-tooltip-placement="right">{{whoops_num}}/{{customer_num}}</a>
                                </div>
 -->
                        <!-- 3 -->
                        <div class="col-xs-6 col-sm-4" ng-show="unconfirmed_num===0">
                            
                            

                            <div class="pie-chart chart-3" data-js-pie-chart="{lineWidth: 6, size: 110, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="0">
                                <span data-uib-tooltip="{{enhancement_num}} out of {{customer_num}} Enhancement Reports are available" data-tooltip-placement="bottom">{{enhancement_num}} <br><small class="text-muted">/{{customer_num}}</small></span>
                            </div>

                            <div class="push-10-t push-5 font-w600 animated fadeIn">Enhancement Report</div>

                            
                        </div>


                                <!-- <div class="col-xs-6 col-sm-3">
                                    <div class="font-w700 text-dark animated fadeIn">Enhancement Report</div>
                                    <a class="h2 font-w300 text-primary animated flipInX" data-ui-sref="enhancement" data-uib-tooltip="{{enhancement_num}} out of {{customer_num}} Enhancement Reports are available'" data-tooltip-placement="right">{{enhancement_num}}/{{customer_num}}</a>
                                </div> -->
                        <!-- 4 -->
                        <div class="col-xs-6 col-sm-4" ng-hide="unconfirmed_num===0">
                            
                            

                            <div class="pie-chart chart-4" data-js-pie-chart="{lineWidth: 6, size: 110, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="0">
                                <span data-uib-tooltip="{{customer_num-unconfirmed_num}} out of {{customer_num}} programs are confirmed for the Enhancement Reports" data-tooltip-placement="bottom">{{customer_num-unconfirmed_num}} <br><small class="text-muted">/{{customer_num}}</small></span>
                            </div>


                            <div class="push-10-t push-5 font-w600 animated fadeIn">Confirmed</div>

                            
                        </div>

                            </div>



                        </div>
                        <!-- END Stats -->
                    </div>
                    <!-- END User Header -->

                    <!-- Main Content -->
                    <div class="row">
                        <div class="col-sm-5 col-sm-push-7 col-lg-4 col-lg-push-8">
                          


                            <!-- Account Manager -->
                            <div class="block block-opt-refresh-icon6">
                                <div class="block-header bg-info text-white">
                                    <ul class="block-options">
                                       <!--  <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                                        </li> -->
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-fw fa-user"></i> Contact</h3>
                                </div>
                                <div class="block-content block-content-full clearfix" style="padding-left:25px">
                                            <div class="pull-right">
                                                <img class="img-avatar" src="/static/img/avatar6.jpg" alt="">
                                            </div>
                                            <div class="pull-left push-10-t">
                                                <div class="font-w600 push-5">Gresham Fedora</div>
                                                <div class="text-muted">Account Manager</div>
                                                <br>
                                                 
                                                 <span><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;(201) 292-3716</span><br>
                                                <span><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;<a href="mailto:gfedora@gridet.com">gfedora@gridet.com</a>
                                                </span>
                                            </div>
                                        </div>
                            </div>
                            <!-- END Products -->


                            <!-- Followers -->
                            <div class="block block-opt-refresh-icon6" ng-if="customer.profile.account_type==='main'">
                                <div class="block-header bg-info text-white">
                                    <ul class="block-options">
                                        <!-- <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh text-white"></i></button>
                                        </li> -->
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-fw fa-share-alt"></i> Colleagues</h3>
                                </div>
                                
                                <div class="block-content frame" style="max-height: 270px">

                                    <ul class="nav-users push" ng-repeat="row in subuser" ng-if="subuser.length>0">
                                        <li>
                                            <a href="javascript:void(0)" class="show-name-ellipsis">
                                                <img class="img-avatar" src="/static/img/avatar6.jpg" alt="">
                                                <i class="fa fa-circle text-success"></i> {{row.contact_name}}
                                                <div class="font-w400 text-muted"><small>{{row.position}}</small></div>
                                            </a>
                                        </li>
                                       
                                        
                                    </ul>

                                    <div class="alert alert-warning alert-dismissable" ng-if="subuser.length === 0">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <p><i class="fa fa-info-circle"></i> Colleague user can be added in the <a class="alert-link" href="javascript:void(0)" data-ui-sref="profile">"Profile" page</a></p>
                                    </div>

                                    <!-- <div class="text-center push">
                                        <small><a href="javascript:void(0)">Load More..</a></small>
                                    </div> -->
                                </div>
                            </div>
                            <!-- END Followers -->

                        </div>




                        <div class="col-sm-7 col-sm-pull-5 col-lg-8 col-lg-pull-4">

                        <!-- <div class="">
                        <div class="alert alert-info alert-dismissable push-30">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    
                                        <h3 class="font-w300 push-15"><i class="icon-settings" style="vertical-align: middle;"></i>&nbsp; System Updated to v1.6 &nbsp;&nbsp;<i class="fa fa-info-circle" data-uib-popover-html="htmlPopover" data-popover-title="v1.6 Updates:" data-popover-placement="top" data-popover-trigger="'mouseenter'"></i></h3>
                                        
                                    </div>
                                    
                        </div> -->


                            <!-- Timeline -->
                            <div class="block block-opt-refresh-icon1" id="timeline-release">
                                <div class="block-header bg-info text-white">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="newly_released_function(true)"><i class="si si-refresh text-white"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-check-circle" style="color: #c8e6ca"></i>&nbsp;&nbsp;Newly Released Reports</h3>
                                </div>
                                <div class="block-content">


                                    <div class="alert alert-warning alert-dismissable" ng-show="newly_released.length===0">
                                        
                                        <p><i class="fa fa-info-circle"></i> There is no newly-released report as of yet. </p>
                                    </div>

                                     <ul class="list list-timeline pull-t" ng-show="newly_released.length!==0">
                                        <!-- newly released -->
                                        <li ng-repeat = "released_report in newly_released | orderBy : '-released_time' | limitTo : 5">
                                            <div class="list-timeline-time" am-time-ago="released_report.released_time | amUtc | amLocal "></div>
                                            <i class="si si-wrench list-timeline-icon bg-primary" ng-class="{'si si-wrench list-timeline-icon bg-primary': released_report.type === 'whoops', 'si si-rocket list-timeline-icon bg-city': released_report.type === 'enhancement'}"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600" ng-show="released_report.type==='whoops'">"Whoops!" Reports</p>

                                                <p class="font-w600" ng-show="released_report.type==='enhancement'">Enhancement Reports</p>
                                               <ul class="nav-users push-10-t push">
                                                    <li>
                                                        <a>

                                                        
                                                        <div class="pull-right" style="padding:2px 8px" ng-show="released_report.type==='whoops'&&released_report.has_expert_notes===false">
                                                        <i class="fa fa-check-circle fa-2x text-success"></i>
                                                        </div>


                                                        <button ng-show="released_report.type==='whoops'&&released_report.has_expert_notes===true" class="btn btn-default btn-white pull-right" type="button" data-toggle="modal" data-target="#WhoopsReport" ng-click="WhoopsViewer(released_report.object_id)" data-js-blur><i class="fa fa-cloud-download text-primary" style="vertical-align: middle;"></i></button>



                                                        <button ng-show="released_report.type==='enhancement'" class="btn btn-default btn-white pull-right" data-toggle="modal" data-target="#EnhancementReport" type="button" ng-click="EnhancementViewer(released_report.object_id)" data-js-blur><i class="fa fa-cloud-download text-primary" style="vertical-align: middle;"></i></button>

                                                            <!-- Check File icon by Icons8 -->
                                                            <img src="https://maxcdn.icons8.com/office/PNG/80/Files/check_file-80.png" title="Check File" width="80">
                                                            <div style="padding-right:55px">{{released_report.program_name}}</div>
                                                            <div class="font-w400 text-muted"><small>{{released_report.program_degree}}</small></div>
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </li>
                                    

                                    </ul>

                                    <!-- timeline -->

                                   

                                </div>
                            </div>
                            <!-- END Timeline -->


                            <!-- updated reports -->
                           <div class="block block-opt-refresh-icon1" id="timeline-update" ng-if="customer.profile.account_type==='main'">
                                <div class="block-header bg-info text-white">
                                    <ul class="block-options">
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                                        </li>
                                        <li>
                                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo" ng-click="newly_updated_function(true)"><i class="si si-refresh text-white"></i></button>
                                        </li>
                                    </ul>
                                    <h3 class="block-title"><i class="fa fa-certificate" style="color: #FFEEA3"></i>&nbsp;&nbsp;Updated Reports</h3>
                                </div>
                                <div class="block-content">


                                    <div class="alert alert-warning alert-dismissable" ng-show="newly_updated.length===0">
                                        
                                        <p><i class="fa fa-info-circle"></i> There is no updated report as of yet. </p>
                                    </div>


                                     <ul class="list list-timeline pull-t" ng-show="newly_updated.length!==0">
                                        <!-- newly updated -->
                                        <li ng-repeat = "updated_report in newly_updated | orderBy : '-last_edit_time' | limitTo : 5">
                                            <div class="list-timeline-time" am-time-ago="updated_report.last_edit_time | amUtc | amLocal "></div>
                                            <i class="si si-wrench list-timeline-icon bg-primary" ng-class="{'si si-wrench list-timeline-icon bg-primary': updated_report.type === 'whoops', 'si si-rocket list-timeline-icon bg-city': updated_report.type === 'enhancement'}"></i>
                                            <div class="list-timeline-content">
                                                <p class="font-w600" ng-show="updated_report.type==='whoops'">"Whoops!" Reports</p>

                                                <p class="font-w600" ng-show="updated_report.type==='enhancement'">Enhancement Reports</p>
                                               <ul class="nav-users push-10-t push">
                                                    <li>
                                                        <a>

                                                        <div class="pull-right" style="padding:2px 8px" ng-show="updated_report.type==='whoops'&&updated_report.has_expert_notes===false">
                                                        <i class="fa fa-check-circle fa-2x" style="color:green"></i>
                                                        </div>

                                                       
                                                        <button ng-show="updated_report.type==='whoops'&&updated_report.has_expert_notes===true" class="btn btn-default btn-white pull-right" type="button" data-toggle="modal" data-target="#WhoopsReport" ng-click="WhoopsViewer(updated_report.customer_program_id)" data-js-blur><i class="fa fa-cloud-download text-primary" style="vertical-align: middle;"></i></button>



                                                        <button ng-show="updated_report.type==='enhancement'" class="btn btn-default btn-white pull-right" data-toggle="modal" data-target="#EnhancementReport" type="button" ng-click="EnhancementViewer(updated_report.customer_program_id)" data-js-blur><i class="fa fa-cloud-download text-primary" style="vertical-align: middle;"></i></button>

                                                            <!-- Check File icon by Icons8 -->
                                                            <img src="https://maxcdn.icons8.com/office/PNG/80/Files/new_file-80.png" title="New File" width="80">
                                                            <div style="padding-right:55px">{{updated_report.program_name}}</div>
                                                            <div class="font-w400 text-muted"><small>{{updated_report.program_degree}}</small></div>
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </li>

                                    </ul>


                                    <!-- end of timeline -->

                                </div>
                            </div>
                            <!-- END Timeline -->



                        </div>
                    </div>
                    <!-- END Main Content -->
                </div>
                <!-- END Page Content -->
         

 <!-- Modal of Pdf Viewer-->
  <div class="modal viewer fade" id="WhoopsReport" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="whoops_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport('whoops')" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" ng-click="togglefull(); actualscreen = !actualscreen" data-js-blur><i ng-class="{'si si-size-fullscreen': !actualscreen, 'si si-size-actual': actualscreen }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop1()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Whoops Report</h3>
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0; " id="scrolltop_whoops">

                                <div class="block whoops_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="printWhoops">
                


                                    <div ng-include src="'/static/views/Home/partials/whoops_template.html'"></div>

                        
                        </div>

            </div>
          </div>
      
    </div>
  </div>
</div>



<div class="modal fullscreen-modal viewer fade" id="EnhancementReport"  role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport('enhancement')" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#WhoopsReport', 'fullscreen_toggle');" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop2()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Enhancement Report</h3>
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" id="scrolltop_enhancement">


                    <div class="block enhancement_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="printEnhancement">

                    <div ng-include src="'/static/views/Home/partials/enhancement_template.html'"></div>
                    </div>


                    <!-- </div> -->
                    <!-- END SlimScroll Container -->
            

            </div>
        </div>
      
    </div>
  </div>
</div>





