
<!-- Page Content -->
<div class="content content-boxed">
  <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
  
  <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
  <div class="block block-rounded">
    <div class="block-header" style="padding-bottom: 0">
            <!-- <div class="block-options">
                <code>.data-js-table-checkable</code>
              </div> -->
              <!-- <h3 class="block-title">Checkable Table</h3> -->
              <div class="col-sm-6">
                <h1 class="page-heading">
                  Enhancement Report <br><small> &nbsp;&nbsp;- Stay abreast of competing programs.</small>
                </h1>

              </div>

              <!-- <a href="javascript:void(0)" onclick="find('school');">Find in This Page...</a> -->

              <div class="col-sm-6 text-right" ng-if="accountType ==='main'&&unconfirmedprogram_nums >0 ">
                  
                  <div style="margin-top:1.5em;" >
                    <button href="#myModalConfirm" id="openBtn1" data-toggle="modal" ng-click="confirmDialog()" ng-disabled="unconfirmedprogram_nums === 0" ng-class="{'css-input-disabled btn btn-success':unconfirmedprogram_nums === 0, 'btn btn-default': unconfirmedprogram_nums !== 0}" style="position:relative;" class="pull-right" >

                  <i class="fa fa-list-ul text-warning" data-uib-tooltip="Please confirm the rest competing programs" data-tooltip-placement="top"></i>

                  <span class="badge progress-bar-danger"  ng-if="unconfirmedprogram_nums !== 0" style="position:absolute;top:-10px;right:-10px;background:red;color:white;text-align:center;box-shadow:0 0 1px #333;">{{unconfirmedprogram_nums}}
                  </span>

                </button>

                </div>

                    

              </div>

              <div class="col-sm-6 text-right" ng-if="unconfirmedprogram_nums === 0 && finalreleased_enhancement>0">

                <div class="pie-chart chart-1" data-js-pie-chart="{lineWidth: 5, size: 88, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="0" ng-if="finalreleased_enhancement>0&&unconfirmedprogram_nums===0">
                                <span data-uib-tooltip="{{finalreleased_enhancement}} out of {{customerprogram_nums}}  'Whoops!' Reports are available" data-tooltip-placement="top">{{finalreleased_enhancement}} <br><small class="text-muted">/{{customerprogram_nums}} </small></span>
                    </div>
              </div>

              
              

            </div>
            <div class="block-content" ng-if="accountType !=='main'&& unconfirmedprogram_nums !== 0">
            
              <div class="alert alert-warning" role="alert" >{{messageSub}}</div>

              </div>
              


              
              <div class="block block-rounded" id="loadingtable">
              <div class="block-content" style="padding-left: 30px; padding-right: 30px">

                <table class="table table-hover push-30" refresh-table st-pipe="enhancementpipe" st-table="displayeddata" style="table-layout: fixed;" data-js-table-sections-fixed>
                
                <colgroup>
                <col width="60px"/>
                <col width="60px"/>
                <col width="53%"/>
                <col width="15%"/>
                
                <col width="115px"/>
                <col width="38px"/>
                </colgroup>

                <thead>
                    <tr class="bg-info" style="border: 1px solid #e3e3e3; color:white;">
                  <th></th>
                  <th></th>
                  <th st-sort="programName" style="padding-left:0" class="h4 font-w400">program</th>
                  <th st-sort="degreeName" style="padding-left:15px;" class="h4 font-w400 text-center">degree</th>
                 
                  <th st-sort="enhancement_status" style="padding-left:15px;" class="h4 font-w400 text-center">status</th>
                  <th class="h4 font-w400 text-center"><i class="fa fa-exclamation-circle" aria-hidden="true" data-uib-tooltip="Newly updated report" data-tooltip-placement="top"></i></th>
                  <!-- st-sort="reportUpdate" -->
                </tr>

                <tr style="border: 1px solid #eee;" class="bg-gray-lighter">
                  <!-- border-left: 1px solid #ddd; border-right:1px solid #ddd -->

                  <th class="text-center th-bordered" style="width: 70px; vertical-align: middle; text-decoration: none; cursor: default;">
                    
                    <i class="fa fa-search search-icon"></i>
                    <!-- <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b" ng-class="{'css-input-disabled':availablenum===0}">
                      <input type="checkbox" id="check-all" name="check-all" ng-model="$storage.checkAllenhancement" ng-change="selectAll()" ng-disabled="availablenum===0"><span></span>
                    </label> -->
                  </th>
                 <!--  <th class="text-center" style="width: 70px;">
                      
                      
                    </th> -->
                  
                  <th colspan="2" class="th-bordered">
                   <input st-search="programName" placeholder="Search for a program..."  type="search" class="form-control font-w400" style="height:auto; width:100%;">
                 </th>

                 <th class="th-bordered">
                  <!-- <select st-search="degreeName" class="form-control" st-input-event="change">
                    <option value="">Select...</option>
                    <option ng-repeat="row in degreeSelection" value="{{row}}">{{row}}</option>
                  </select> -->

                  <input st-search="degreeName" placeholder="degree..."  type="search" class="form-control font-w400 text-center" style="height:auto; width:100%;">
                </th>

                
                <th class="th-bordered">
                  <select st-search="enhancement_status" class="form-control font-w400" st-input-event="change">
                    <option value="">Select...</option>
                    
                    <option value="True">Complete</option>
                    <option value="False">In Progress</option>
                  </select>
                </th>

                <th class="th-bordered"></th>
              </tr>
 
                </thead>

                <tbody class="js-table-sections-header" ng-repeat-start="row in displayeddata"  ng-click="openTableCompeting(row.objectId, $index, row.competing)">
                    <tr style="border: 1px solid #f0f0f0">
                        <td class="text-center bg-gray-lighterer td-bordered" >
                              <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.enhancement_status!=='True'}"  data-uib-tooltip="Add to the 'Report Manager'" data-tooltip-placement="top" >
                                  <input type="checkbox" ng-model="$storage.upgrid[row.programName+'|'+row.degreeName]['enhancement']" ng-change="selectOne(row.programName, row.degreeName, row.objectId, row.whoops_status, row.enhancement_status, row.confirm, row.notes)" ng-disabled="row.enhancement_status!=='True'"><span></span>
                              </label>

                        </td>

                        <!-- angle -->
                        <td class="text-center td-bordered" style="border-right:0">
                            <i class="fa fa-angle-right text-primary"></i>
                        </td>

                        <td class="font-w500 td-bordered" style="padding-left: 0; border-left:0">{{row.programName}}</td>
                        <td class="font-w500 text-center td-bordered">
                            {{row.degreeName}}
                        </td>
                        <td class="text-center td-bordered">


                        <span ng-if="row.enhancement_status==='True'">

                          <div class="btn-group action-btns">
                            <button class="btn btn-default btn-white" type="button" data-toggle="modal" data-target="#EnhancementReport" ng-click = "EnhancementViewer(row.objectId, row.programName, row.degreeName);" data-js-blur>
                              <a data-uib-tooltip="View" data-tooltip-placement="top" class="fa fa-cloud-download text-primary" style="vertical-align: middle;">
                    
                            </a>
                            </button>

                            <button class="btn btn-default btn-white" type="button" data-toggle="modal" data-target="#myModal1" ng-click = "htmlShare(row.objectId);" data-js-blur>
                               <a data-uib-tooltip="Share" data-tooltip-placement="top" class="fa fa-share-alt text-orange">
                          
                            </a>
                            </button>

                          </div>

                        </span>
                        
                      <label ng-if="row.enhancement_status==='False'"><label class="label label-default"><span class="fa fa-refresh"></span> &nbsp;In Progress</label>

                      </label>


                        </td>

                        <td class="td-bordered" style="text-align:center;">
                            <!-- <span ng-if="row.reportUpdate===true"> --><span>
                            <span class="fa fa-exclamation-circle text-primary" ng-if="row.objectId==='9a80a2c5-affd-43f2-8fb7-eace71c68d5a'|| row.objectId==='d9030abb-dd51-4671-a622-0a5523f5fd17'||row.objectId==='bade54f9-6dfb-45b2-ab16-0523684ea902'||row.objectId==='9a80a2c5-affd-43f2-8fb7-eace71c68d5a'||row.objectId==='8a41c5ad-3f9d-4e5d-8818-913f0d82783a'||row.objectId==='a374c012-f8bb-4249-b66f-8951ce9269ba'||row.objectId==='67af2c4a-ff83-4139-a672-a3e5bd038e20'||row.objectId==='a3d19cda-4a93-44f5-ba14-36ff98603279'"> 
                            
                            </span>
                          </span></td>

                       
                    </tr>
                </tbody>

                <tbody ng-repeat-end class="bg-gray-lighter">
                    <tr ng-repeat="competing in row.competing" style="border: 1px solid #f0f0f0">
                        <td class="td-bordered"></td>
                        <td class="text-center text-muted font-w500 td-bordered" style="border-right:0">{{competing.order}}.</td>
                        <td class="text-left font-w500 text-primary td-bordered" style="padding-left: 0; border-left:0">
                          {{competing.program_name}}<br><span class="text-muted"><small>{{competing.school}}  ({{competing.university}})</small></span>
                        </td>
                        <td class="text-center font-w500 text-primary td-bordered" style="vertical-align: top">{{competing.program_degree}}</td>
                        <td></td>
                        <td class="td-bordered"></td>
                        
                    </tr>
                   
                    
                   
                </tbody>
                <tfoot ng-show="displayeddata.length>25||displayeddata.length===25">
                                  <tr>
                                    <td colspan="3" class="text-center" style="border-top:0">
                                      <br>
                                      <div class="btn-group pull-left ng-scope">
                                        
                                        <button type="button" ng-class="{'active':itemsByPage1==25}" ng-click="itemsByPage1=25" class="btn btn-default" data-js-blur>25</button>
                                        <button type="button" ng-class="{'active':itemsByPage1==50}" ng-click="itemsByPage1=50" class="btn btn-default" data-js-blur>50</button>
                                      </div>
                                    </td>
                                    
                                    <td colspan="3" class="" style="border-top:0">
                                      <br>
                                       <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage1" st-displayed-pages="5" class="pull-right"></div>
                                    </td>

                                  
                                  </tr>
                                </tfoot>
                
            </table>

      </div>
      </div>

    
    <!-- END Page Content -->




<!-- Modal of Share the Link-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Share the Report</h3>
                              </div>
                              <div class="block-content">
                                <div class="form-group">
                                  <div class="spinner" style="position:absolute;margin:0 auto;top:85px;left:280px;" ng-show="shareLoading">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                  </div>

                                  <label for="reportlink">Link: </label> 
                                  <label style="float:right" ng-show="copied">Copied!</label>
                                  <input type="url" ng-copy="copied=true" class="form-control" id="reportlink" ng-model= "url.text" select-on-click spellcheck="false">
                                  

                                </div>
                                <!-- Target -->
                                <!-- Trigger -->

                              </div>
                              <div class="modal-footer">
                                <span class="pull-left text-city">The report will expire in 48 hours</span>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button data-clipboard-target="#reportlink" type="button" class="btn btn-primary">Copy</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>



                      
                      <!-- Confirmation modal -->
                      <div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="block block-themed block-transparent remove-margin-b" id="confirmloading">
                              <div class="block-header bg-primary-dark">
                                <ul class="block-options">
                                <!-- <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                  </li> -->
                                  <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Please confirm programs first</h3>
                              </div>
                              <div class="block-content" style="max-height:70vh;overflow-y:auto;">
            <table class="table table-hover" st-pipe="confirmpipe" st-table="displayeddata1" id="confirmtable" data-js-table-sections-fixed>
                
                <colgroup>
                  <col width="5%"/>
                  <col width="9%"/>
                  <col width="60%"/>
                  <col width="26%"/>
                </colgroup>

                <thead>
                    <tr>
                        
                        <th colspan="4" style="border-bottom:0; text-decoration: none; cursor: default;">
                                      <!--  <input st-search="programName" placeholder="Search for the program..."  type="search"/ class="form-control" style="height:auto; width:100%;"> -->
                            <div class="input-group input-group-lg" style="width:100%">
                            <div class="input-group-addon" style="font-size:15px">Search</div>
                            <input st-search="programName" class="js-icon-search form-control font-w400" type="text" placeholder="Program name...">
                        </div>
                         </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th st-sort="programName" class="text-primary font-w400">Program</th>
                        <th st-sort="degreeName" class="text-center text-primary font-w400">Degree</th>
                        
                    </tr>
                </thead>
                <tbody class="js-table-sections-header bg-gray-lighter" ng-repeat-start="row in displayeddata1"  ng-click="openCompeting(row.objectId,$index, row.competing)">
                    <tr>
                        <td>
                              <label class="css-input css-checkbox css-checkbox-primary" >
                                <input type="checkbox" ng-model="$storage.confirmation[row.objectId].checked" ng-click="confirmCheckOne()"><span></span>
                              </label>

                        </td>
                        <!-- angle -->
                        <td class="text-center">
                            <i class="fa fa-angle-right text-primary"></i>
                        </td>

                        <td class="font-w500">{{row.programName}}</td>
                        <td class="font-w500 text-center">
                            <span >{{row.degreeName}}</span>
                            <!-- <button ng-click="$event.stopPropagation();">click</button> -->
                        </td>
                       
                    </tr>
                </tbody>
                <tbody ng-repeat-end>
                    <tr ng-repeat="competing in row.competing">
                        <td></td>
                        <td class="text-center text-muted font-w500">{{competing.order}}.</td>
                        <td class="text-left font-w500 text-primary">
                          {{competing.program_name}}<br><span class="text-muted"><small>{{competing.school}}  ({{competing.university}})</small></span>
                        </td>
                        <td class="text-center font-w500 text-primary" style="vertical-align: top">{{competing.program_degree}}</td>
                    </tr>
                   
                    
                   
                </tbody>
                <tfoot ng-show="displayeddata1.length>25||displayeddata1.length===25">
                                  <tr>
                                    <td colspan="2" class="text-center" style="border-top:0">
                                      <br>
                                      <div class="btn-group pull-left ng-scope">
                                        
                                        <button type="button" ng-class="{'active':itemsByPage1==25}" ng-click="itemsByPage1=25" class="btn btn-default" data-js-blur>25</button>
                                        <button type="button" ng-class="{'active':itemsByPage1==50}" ng-click="itemsByPage1=50" class="btn btn-default" data-js-blur>50</button>
                                      </div>
                                    </td>
                                    <td style="border-top:0"></td>
                                    <td colspan="1" class="pull-right" style="border-top:0">
                                      <br>
                                    
                                       <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage1" st-displayed-pages="5" class="pull-left"></div>
                                    </td>
                                  </tr>
                                </tfoot>
                
            </table>

                            </div>
                          </div>
                          <div class="modal-footer" style="box-shadow: 0px -1px 1px #e4e4e4;">
                            <span class="pull-left">{{confirm_count}} out of {{displayeddata1.length}} selected</span>
                            <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="confirmSelected()" data-dismiss="modal" ng-disabled = "!confirm_button">Confirm</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END confirmation Modal -->

<div class="modal fullscreen-modal viewer fade" id="EnhancementReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b" id="enhancement_loading">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
                                <li>
                                    <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                 </li>

                                <li>
                                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle" onclick="App.blocks('#WhoopsReport', 'fullscreen_toggle');" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
                                  </li>
                                  
                                  <li>
                                    <button data-dismiss="modal" type="button" ng-click="scrolltop()" data-js-blur><i class="si si-close"></i></button>
                                  </li>
                                </ul>
                                <h3 class="block-title">Enhancement Report</h3>
                                
                              </div>
                              
                              <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" id="scrolltop_enhancement_page">

                    <!-- SlimScroll Container -->
                   <!--  <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->

                   <div class="block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074">

                    <div ng-include src="'/static/views/Home/partials/enhancement_template.html'"></div>
                    </div>


                  <!--   </div> -->
                    <!-- END SlimScroll Container -->
            

            </div>
                            </div>
      
    </div>
  </div>
</div>

