
<!-- Page Content -->
<div class="content content-boxed">
  <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
  

  <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
  <div class="block block-rounded" id="reports">
    <div class="block-header">
            <!-- <div class="block-options">
                <code>.data-js-table-checkable</code>
              </div> -->
              <!-- <h3 class="block-title">Checkable Table</h3> -->
              <div class="col-sm-7">
                <h1 class="page-heading">
                  History Data <br>
                </h1>
                
                
                
              </div>
            </div>
            <div class="block-content" style="padding-top:0; padding-left:30px; padding-right:30px">
              <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->

              <div class="alert alert-warning" role="alert">Coming soon...</div>

             


      </div>
    </div>
  </div>