
<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Quick Whoops<br>
            </h1>
        </div>
    </div>
</div>
<!-- END Page Header -->

<div class="content content-boxed">
    <div class="row">
        <div class="col-sm-5 col-lg-3">
            <!-- Collapsible Project Options (using Bootstrap collapse functionality) -->
            <button class="btn btn-block btn-primary visible-xs push" data-toggle="collapse" data-target="#project-nav" type="button">Options</button>
            <div class="collapse navbar-collapse remove-padding" id="project-nav">
                <!-- Tasks Info -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <h3 class="block-title">Overview</h3>
                    </div>
                    <div class="block-content">
                        <ul class="list-group push">
                            <li class="list-group-item">
                                <a href="#active" du-smooth-scroll offset="80">
                                <span class="badge badge-primary pull-right animated bounceIn" ng-bind="whoops_active_number"></span>
                                <i class="fa fa-fw fa-tasks push-5-r"></i> active</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#starred" du-smooth-scroll offset="80">
                                <span class="badge badge-warning pull-right animated bounceIn" ng-bind="whoops_starred_number"></span>
                                <i class="fa fa-fw fa-list push-5-r"></i> Starred
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#completed" du-smooth-scroll offset="80">
                                <span class="badge badge-success pull-right animated bounceIn" ng-bind="whoops_completed_number"></span>
                                <i class="fa fa-fw fa-check push-5-r"></i> Completed
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END Tasks Info -->

            </div>
            <!-- END Collapsible Project Options -->
        </div>
        <div class="col-sm-7 col-lg-9">
            <div>
                <!-- Tasks List -->
                <h2 class="content-heading" id="active">Active Whoops Note</h2>
                <div>
                    <table class="table block-table table-vcenter table-striped1 table-to-do" st-pipe="get_whoops_active" st-table="whoops_active">
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat-start="whoop in whoops_active" class="bg-white">
                                <td class="text-center" style="width: 50px;" rowspan="2">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" ng-model="whoop.completed" ng-click="set_whoops(whoop.object_id, 'completed', whoop.completed)"><span></span>
                                    </label>
                                </td>
                                <td class="font-w200">
                                    <pre ng-class='{strike:whoop.completed}' style="white-space: pre-line; border: none; background:inherit; margin:0 0 0">{{whoop.note}}</pre>

                                </td>
                                <td style="width: 50px;" rowspan="2">
                                    <button class="btn btn-link text-warning" type="button" ng-click="whoop.starred=!whoop.starred; set_whoops(whoop.object_id, 'starred', whoop.starred)">
                                        <i class="fa" ng-class="{'fa-star':whoop.starred, 'fa-star-o':!whoop.starred}"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat-end>
                                <td>{{whoop.date_created}}</td>
                            </r>

                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="4" class="text-center">Loading ... </td>
                            </tr>
                        </tbody>

                        <tbody ng-show="whoops_active.length===0 && !isLoading">
                            <tr>
                                <td style="padding:0">
                                <div class="alert alert-warning alert-dismissable" style="margin:0">

                                    <p><i class="fa fa-info-circle"></i> &nbsp;There are no active note at this time.</p>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                              <br><br>
                              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="10" st-displayed-pages="" style="text-align:right;"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    
                </div>
                <!-- END Tasks List -->

                <!-- Starred Tasks List -->
                <h2 class="content-heading" id="starred">Starred</h2>
                <div>
                    <table class="table block-table table-vcenter table-striped1 table-to-do" st-pipe="get_whoops_starred" st-table="whoops_starred">
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="whoop in whoops_starred" class="bg-white">
                                <td class="text-center" style="width: 50px;">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" ng-model="whoop.completed" ng-click="set_whoops(whoop.object_id, 'completed', whoop.completed)"><span></span>
                                    </label>
                                </td>
                                <td class="font-w200">
                                    <pre ng-class='{strike:whoop.completed}' style="white-space: pre-line; border: none; background:inherit; margin:0 0 0">{{whoop.note}}</pre>
                                </td>
                                <td style="width: 50px;">
                                    <button class="btn btn-link text-warning" type="button" ng-click="whoop.starred=!whoop.starred; set_whoops(whoop.object_id, 'starred', whoop.starred)">
                                        <i class="fa" ng-class="{'fa-star':whoop.starred, 'fa-star-o':!whoop.starred}"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="4" class="text-center">Loading ... </td>
                            </tr>
                        </tbody>


                        <tbody ng-show="whoops_starred.length===0 && !isLoading">
                            <tr>
                                <td style="padding:0">
                                <div class="alert alert-warning alert-dismissable" style="margin:0">

                                    <p><i class="fa fa-info-circle"></i> &nbsp;There are no starred note at this time.</p>
                                </div>
                                </td>
                            </tr>
                        </tbody>


                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                              <br><br>
                              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="10" st-displayed-pages="" style="text-align:right;"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <!-- Tasks List Completed -->
                <h2 class="content-heading" id="completed">Completed</h2>
                <div>
                    <table class="table block-table table-vcenter table-to-do" st-pipe="get_whoops_completed" st-table="whoops_completed">
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="whoop in whoops_completed" style="background-color: rgba(255, 255, 255, 0.5);">
                                <td class="text-center" style="width: 50px;">
                                    <label class="css-input css-checkbox css-checkbox-primary css-checkbox-rounded">
                                        <input type="checkbox" ng-model="whoop.completed" ng-click="set_whoops(whoop.object_id, 'completed', whoop.completed)"><span></span>
                                    </label>
                                </td>
                                <td class="font-w200">
                                    <pre ng-class='{strike:whoop.completed}' style="white-space: pre-line; border: none; background-color: inherit; margin:0 0 0">{{whoop.note}}</pre>
                                </td>
                                <td style="width: 50px;">
                                    <button class="btn btn-link text-warning" type="button" ng-click="whoop.starred=!whoop.starred; set_whoops(whoop.object_id, 'starred', whoop.starred)">
                                        <i class="fa" ng-class="{'fa-star':whoop.starred, 'fa-star-o':!whoop.starred}"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="4" class="text-center">Loading ... </td>
                            </tr>
                        </tbody>

                        <tbody ng-show="whoops_completed.length===0 && !isLoading">
                            <tr>
                                <td style="padding:0">
                                <div class="alert alert-warning alert-dismissable" style="margin:0">

                                    <p><i class="fa fa-info-circle"></i> &nbsp;There are no completed note at this time.</p>
                                </div>
                                </td>
                            </tr>
                        </tbody>


                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                              <br><br>
                              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="10" st-displayed-pages="" style="text-align:right;"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- END Tasks List Completed -->
            </div>
        </div>
    </div>
</div>
<!-- END Dashboard Charts -->