<!-- Page Content -->
<div class="content content-boxed">
  <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
  <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
  <div class="block block-rounded" id="reports">
    <div class="block-header">
      <!-- <div class="block-options">
        <code>.data-js-table-checkable</code>
        </div> -->
      <!-- <h3 class="block-title">Checkable Table</h3> -->
      <div class="col-sm-7">
        <h1 class="page-heading">
          Non-degree Tracking<br><small> &nbsp;&nbsp;- Monitor peers' offerings.</small>
        </h1>
      </div>
    </div>
    <div class="block-content" style="padding-top:0; padding-left:30px; padding-right:30px">
      <!-- If you put a checkbox in thead section, it will automatically toggle all tbody section checkboxes -->
      
       <table st-table="school_table" class="table exec-ed-school-list" style="table-layout: fixed;">
        <colgroup>
          <col width="5%">
          <col width="45%">
          <col width="13%">
          <col width="5%">
          <col width="5%">
          <col width="5%">
          <col width="5%">
          <col width="17%">
        </colgroup>
        <thead class="thead-inverse">
          <tr style="border: 1px solid #e3e3e3; color:white;">
            <th></th>
            <th style="padding-left:15px;" class="h4 font-w400">schools
            </th>
            <th class="h4 font-w400 text-center">
              Latest Release
            </th>
            <th colspan="2" class="h4 font-w400 text-center">
              categories
            </th>
            <th colspan="2" class="h4 font-w400 text-center">
              courses
            </th>
            <th class="h4 font-w400">
              <i class="fa fa-info-circle" aria-hidden="true"  data-uib-tooltip="Select an older report to compare with the latest released one." data-tooltip-placement="top"></i>
              Historical Values
            </th>
          </tr>
          <tr class="bg-gray-lighter">
            <th class="text-center th-bordered" style="vertical-align: middle; text-decoration: none; cursor: default;">
              <!-- <i class="fa fa-search text-primary"></i> -->
              <label class="css-input css-checkbox css-checkbox-primary" uib-tooltip="Select all" tooltip-placement="bottom">
              <input type="checkbox" ng-model="checkAll" ng-click="checkAll_None(checkAll)" ng-init="checkAll=true"><span></span>
              </label>
            </th>
            <th class="th-bordered" colspan="2">
            </th>            
            <th style="vertical-align: middle;letter-spacing: 0.2px;" class="text-center th-bordered">
              <span class="badge badge-success font-s13">+</span>
            </th>
            <th style="vertical-align: middle;letter-spacing: 0.2px;" class="text-center font-w600 th-bordered">
              <span class="badge badge-danger font-s13">-</span>
            </th>
            <th style="vertical-align: middle;letter-spacing: 0.2px;" class="text-center font-w400 th-bordered">
              <span class="badge badge-success font-s13">+</span>
            </th>
            <th style="vertical-align: middle;letter-spacing: 0.2px;" class="text-center font-w400 th-bordered">
              <span class="badge badge-danger font-s13">-</span>
            </th>
            <th class="th-bordered"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in school_table | orderBy: 'school'">
            <td class="font-w500 td-bordered text-center bg-gray-lighterer">
             
              <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':!row.details}">
              <input type="checkbox" ng-model="$storage.non_degree[row.object_id]" ng-disabled="!row.details"><span></span>
              </label>
            </td>
            <td class="font-w500 td-bordered" style="padding-left:15px;">
              <div class="row">
                <div class="col-sm-2">
                  <img ng-src="{{row.logo_url}}" height="40" width="40">
                </div>
                <div class="col-sm-10">{{row.school}}<br>
                  <span class="text-muted"><small class="ng-binding text-uppercase" style="
                    font-weight: 300;
                    font-size: 12px;
                    ">{{row.university}}</small></span>
                </div>
              </div>
            </td >
            <td class="td-bordered">
              <span ng-if="row.lastReleaseDate">{{row.lastReleaseDate | amUtc | amLocal |  amDateFormat:'MM/DD/YYYY'}}</span>
              <span ng-if="!row.lastReleaseDate">No previous release</span>
            </td>
            <td ng-show="row.details===null" colspan="4" class="td-bordered text-center">
             
               <label class="label label-default"><i class="fa fa-refresh"></i> &nbsp;In Progress</label>


            </td>

            <td class="text-center td-bordered" ng-show="row.details">
              
              <span ng-if="row.details.category_added>0" class="badge badge-success">+ {{row.details.category_added}}</span>
              <span ng-if="row.details.category_added===0" class="badge badge-default">- -</span>
            </td>
            <td class="text-center td-bordered" ng-show="row.details">
              
              <span ng-if="row.details.category_removed>0" class="badge badge-danger">- {{row.details.category_removed}}</span>
              <span ng-if="row.details.category_removed===0" class="badge badge-default">- -</span>
            </td>
            <td class="text-center td-bordered" ng-show="row.details">
              
              <span ng-if="row.details.course_added>0" class="badge badge-success">+ {{row.details.course_added}}</span>
              <span ng-if="row.details.course_added===0" class="badge badge-default">- -</span>
            </td>
            <td class="text-center td-bordered" ng-show="row.details">
             
              <span ng-if="row.details.course_removed>0" class="badge badge-danger">- {{row.details.course_removed}}</span>
              <span ng-if="row.details.course_removed===0" class="badge badge-default">- -</span>
            </td>
            <td class="td-bordered">
              <div class="form-material">
                <select class="form-control" id="js-data-{{row.object_id}}" ng-model="selectedReportId" ng-change="setReportPair(row.object_id, selectedReportId)" style="width: 90%;">
                  <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                </select>
              </div>
            </td>

          </tr>
        </tbody>
        <tfoot ng-show="school_list.length>25">
          <tr>
            <td colspan="2" >
              <br/><br/>
              <div class="btn-group pull-left ng-scope tablepagenum" >
                <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>
              </div>
            </td>
            <td colspan="3" class="text-center">
              <br/><br/>
              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5" style="text-align:right;"></div>
            </td>
          </tr>
        </tfoot>
      </table>

      <hr>
      <button class="font-w400 btn btn-lg btn-square bg-info push-5-t" ng-click="view_report()" style="width:48%;color:white;margin-bottom:30px;">
      View
      </button>
      <button class="font-w400 btn btn-lg pull-right btn-square bg-city-light push-5-t" ng-click="setLinkValue()" style="width:48%;color:white;margin-bottom:30px;">
      Share
      </button>
    </div>
  </div>
</div>


<!-- Modal of Share the Link-->
<div class="modal fade push-100-t" id="myModal1"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b" id="shareReports">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <!-- <li>
              <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
              </li> -->
            <li>
              <button data-dismiss="modal" type="button" ng-click="clearSharedValue()"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title"><i class="fa fa-share-alt"></i>&nbsp; Share the Reports</h3>
        </div>
        <div class="block-content" style="padding:0">
          <div class="board">
            <div class="board-inner">
              <ul class="nav myTab-share">
                <li class="active">
                  <a href="#reports-days" data-toggle="tab" title="days" style="padding:0">
                  </a>
                </li>
                <li>
                  <a href="#reports-link" data-toggle="tab" title="link" style="padding:0">
                  </a>
                </li>
              </ul>
            </div>
            <!-- TABS -->
            <div class="tab-content tab-share">
              <!-- TAB 1 -->
              <div class="tab-pane  in active" id="reports-days">
                <div class="block-content" style="padding: 10px 12px;">
                  <div class="form-group">
                    <div class="pull-left font-w600" style="padding-left: 8px;">I want this report link to expire in:</div>
                  </div>
                </div>
                <div class="content-grid bg-gray-light" style="margin-bottom: 0; padding: 8px 10px 10px 10px">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-3 day-grid">
                      <a class="block block-link-hover3 text-center" href="javascript:void(0)" ng-click="htmlShare(1)">
                        <div class="block-content block-content-full">
                          <div class="font-w600 day-number" style="font-size: 49px">1</div>
                          <div class="font-w600 push-15-t text-muted">Days</div>
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-3 day-grid">
                      <a class="block block-link-hover3 text-center" href="javascript:void(0)" ng-click="htmlShare(2)">
                        <div class="block-content block-content-full">
                          <div class="font-w600 day-number" style="font-size: 49px">2</div>
                          <div class="font-w600 push-15-t text-muted">Days</div>
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-3 day-grid">
                      <a class="block block-link-hover3 text-center" href="javascript:void(0)" ng-click="htmlShare(7)">
                        <div class="block-content block-content-full">
                          <div class="font-w600 day-number" style="font-size: 49px">7</div>
                          <div class="font-w600 push-15-t text-muted">Days</div>
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-3 day-grid">
                      <a class="block block-link-hover3 text-center" href="javascript:void(0)" ng-click="htmlShare(14)">
                        <div class="block-content block-content-full">
                          <div class="font-w600 day-number" style="font-size: 49px">14</div>
                          <div class="font-w600 push-15-t text-muted">Days</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TAB 2 -->
              <div class="tab-pane" id="reports-link">
                <div class="block-content">
                  <div class="form-group">
                    <label for="reportlink">Link: </label> 
                    <label style="float:right" ng-show="copied">Copied!</label>
                    <input type="url" ng-copy="copied=true" class="form-control" id="reportlink" ng-model= "url.text" select-on-click spellcheck="false">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" ng-show="url">
          <span class="pull-left text-city">The link will be expired on {{expired_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY HH:mm'}}</span>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearSharedValue()">Cancel</button>
          <button data-clipboard-target="#reportlink" type="button" class="btn btn-primary">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- viewall modal -->
<div class="modal fullscreen-modal fade" id="ViewAll"  role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b" id="viewall_loading">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
            </li>
            <li>
              <button type="button" ng-click="togglefullen(); actualscreen1 = !actualscreen1" data-js-blur><i ng-class="{'si si-size-fullscreen': actualscreen1, 'si si-size-actual': !actualscreen1 }"></i></button>
            </li>
            <li>
              <button data-dismiss="modal" type="button" ng-click="scrolltop()" data-js-blur><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Non-degree Report</h3>
        </div>
        <div class="block-content fullscreen-container frame" style="width:auto;padding:0;" du-scroll-container id="scrolltop_non_degree">
          <!-- SlimScroll Container -->
          <!-- <div data-js-slimscroll="{alwaysVisible: true, railVisible: true, color: '#fff',railOpacity: '0.4', size: '10px', height: '100%'}"> -->
          <div class="block cart_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="top-report">
            <div class="block-content block-content-full bg-white" style="height:100%;" id="print-content1">
              <!-- ########### -->
              <!-- dynamic templates -->
              
                <!-- <div ng-attr-id="{{ 'program-' + $index }}"></div> -->
                <div ng-include src="'/static/views/Home/non_degree_report.html'"></div>
              
              <!-- Footer -->
             
            </div>
          </div>
          <div style="position: fixed;bottom: 50px;right: 25px;">
            <a  data-js-blur href="#top-report" style="font-size: 30px;background: #eee;opacity: 0.6;width: 44px;display: block;text-align: center;border-radius: 8px;" du-smooth-scroll><i class="fa fa-arrow-up"></i></a>
          </div>
          <!-- </div> -->
          <!-- END SlimScroll Container -->
        </div>
      </div>
    </div>
  </div>
</div>