<div class='content content-boxed'>
	<div class="block block-rounded" id="reports">
		<div class="block-header">
			<div class="col-sm-7">
				<h1 class="page-heading">
					Partnership<br><small> &nbsp;&nbsp;- description.</small>
				</h1>
			</div>
		</div>
		<div class = 'block-content' style="padding-top:0; padding-left:30px; padding-right:30px">
			<table class='table table-striped table-vcenter' style='table-layout: fixed;'>
				<colgroup>
					<col width='35%'>
					<col width='35%'>
					<col width='15%'>
					<col width='15%'>
				</colgroup>
				<thead class="thead-inverse">
					<tr class=" bg-info" style="border: 1px solid #e3e3e3; color:white;">
						<div class="input-group input-group-lg">
							<input class="form-control" id="Search" name="Search" type="search" placeholder="Search Clients or Schools by name.." />
							<style type="text/css">
								#Search::-webkit-search-cancel-button{
								    position:relative;
								    right:10px;    
								}
							</style>
							<div class="input-group-btn">
								<button class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</tr>
					<tr>
						<th class='text-center decoration_none'>Client<i class='fa fa-sort'></i></th>
						<th class='text-center decoration_none' style="width: 30%;">School<i class='fa fa-sort'></i></th>
						<th class='text-center decoration_none' style="width: 15%;">Case Study</th>
						<th class='text-center decoration_none' style="width: 100px;">Posted</th>
					</tr>
					<style type="text/css">
						th:hover{
							text-decoration: none!important;
						}
					</style>
				</thead>
				<tbody>
					<tr>
						<td class='text-center decoration_none'>Google</td>
						<td class='text-center decoration_none' style="width: 30%;">NYU</td>
						<td class='text-center decoration_none' style="width: 15%;">..</td>
						<td class='text-center decoration_none' style="width: 100px;"></td>
					</tr>
					<tr>
						<td class='text-center decoration_none'>Yahoo</td>
						<td class='text-center decoration_none' style="width: 30%;">NYU</td>
						<td class='text-center decoration_none' style="width: 15%;">..</td>
						<td class='text-center decoration_none' style="width: 100px;"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>