<div ng-if="report.w_array_final.length!==0||report.e_array_final.length!==0">

<hr> 
    


     <p class="h3 bg-info-light font-w400 push-40 push-30-t text-uppercase text-primary" id="report-manager-title">{{report.order+1}}. {{report.whoops_report_program}} - <span style="text-transform: none;">{{report.whoops_report_degree}}</span></p>



                <span ng-if="report.w_array_final.length!==0">


                    <div class="row push-25 cart-report-row">
                                <!-- Company Info -->
                                <div class="col-sm-9 col-xs-9">
                                    <p class="h3 font-w400 push-15 push-10-t text-uppercase">Whoops Report</p>
                                    
                                    <address>

                                    <table>
                                    
                                    <tr>
                                        <td class="text-muted">Univerity</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.w_array_final[9][0].university||report.e_array_final[0][0].university_school.university}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">School</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.w_array_final[9][0].school||report.e_array_final[0][0].university_school.school}}&nbsp;</td>
                                    </tr> 

                                    <tr>
                                        <td class="text-muted">Program</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.whoops_report_program}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">Degree</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.whoops_report_degree}}&nbsp;</td>
                                    </tr>

                                    </table>

                                    </address>
                                </div>
                                <!-- END Company Info -->


                                <!-- Client Info -->
                                <div class="col-sm-3 col-xs-3 text-right">
                                    <p class="h3 font-w400 push-15 push-10-t">Date</p>
                                    <address>
                                        
                                        
                                    <table class="pull-right">
                                    <tr>
                                        <td class="text-muted text-left">Released on :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>


                                   
                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{report.w_array_final[9][0].w_release_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                    

                                    <tr>
                                        <td class="text-muted text-left">Last updated on : </td>
                                    </tr>

                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{(report.w_array_final[9][0].w_update_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY')?(report.w_array_final[9][0].w_update_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'):(report.w_array_final[9][0].w_release_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY')}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                            
                                    </table>

                                    </address>
                                </div>

                            </div>
                            <!-- END Invoice Info -->
                <!-- <p class="h3 text-primary font-w400 push-25 push-10-t text-uppercase">"Whoops!" Report</p> -->
                        
                        <div ng-include src="'/static/views/Home/partials/reports/whoops_report.html'"></div>


</span>







<!-- ************************************************* -->










                    
<span ng-if="report.e_array_final.length!==0">

<hr style="border-top: 1px dashed #ccc;" ng-if="report.w_array_final.length!==0" class="push-30">

<div class="row push-25 cart-report-row">
                                <!-- Company Info -->
                                <div class="col-sm-9 col-xs-9">
                                    <p class="h3 font-w400 push-15 push-10-t text-uppercase">Enhancement Report</p>
                                    
                                    <address>

                                    <table>
                                    
                                    <tr>
                                        <td class="text-muted">Univerity</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.w_array_final[9][0].university||report.e_array_final[0][0].university_school.university}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">School</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.w_array_final[9][0].school||report.e_array_final[0][0].university_school.school}}&nbsp;</td>
                                    </tr> 

                                    <tr>
                                        <td class="text-muted">Program</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.whoops_report_program}}&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted">Degree</td>
                                        <td class="text-muted">&nbsp;:&nbsp;&nbsp;</td>
                                        <td style="border-bottom: 1px solid #ccc">&nbsp;{{report.whoops_report_degree}}&nbsp;</td>
                                    </tr>

                                    </table>

                                    </address>
                                </div>
                                <!-- END Company Info -->


                                <!-- Client Info -->
                                <div class="col-sm-3 col-xs-3 text-right">
                                    <p class="h3 font-w400 push-15 push-10-t">Date</p>
                                    <address>
                                        
                                        
                                    <table class="pull-right">
                                    <tr>
                                        <td class="text-muted text-left">Released on :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    </tr>


                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{report.e_array_final[10][0].e_release_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-muted text-left">Last updated on : </td>
                                    </tr>
                                    
                                    <tr class="pull-right">
                                        <td style="border-bottom: 1px solid #ccc">
                                        &nbsp;&nbsp;&nbsp;&nbsp;{{(report.e_array_final[10][0].e_update_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY')?(report.e_array_final[10][0].e_update_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY'):(report.e_array_final[10][0].e_release_time | amUtc | amLocal | amDateFormat:'MMM DD, YYYY')}}&nbsp;&nbsp;
                                        </td>
                                    </tr>

                                    </table>
<!-- 
                                        <span class="text-muted">Released on</span><br>{{date | date:'MMM dd , yyyy'}}
                                        <br>
                                        <span class="text-muted">Last updated on</span><br>{{date | date:'MMM dd , yyyy'}} -->
                                    </address>
                                </div>

                            </div>
                            <!-- END Invoice Info -->

                    <div ng-include src="'/static/views/Home/partials/reports/enhancement_report.html'"></div>

    </span>



    </div>
