<!-- Page Header -->
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7 push-5">
      <h1 class="page-heading">
        Search Tool<br><small>- Search categories and courses among all schools. </small>
      </h1>
    </div>

  </div>
</div>
<!-- END Page Header -->
<!-- Dashboard Charts -->
<div class="content content-full">
  <div class="row">
    <div class="col-sm-2">
      
        <div class="radio">
          <label class="css-input css-radio css-radio-default push-10-r">
            <input type="radio" name="search-tool-group" ng-model="searchType" value="categories" checked><span></span> Categories
          </label>
        </div>
        <div class="radio">
          <label class="css-input css-radio css-radio-default">
            <input type="radio" name="search-tool-group" ng-model="searchType" value="courses"><span></span> Courses
          </label>
        </div>
      
    </div>
    <div class="input-group input-group-lg push-15-t col-sm-9">
      <input class="form-control" type="text" ng-model="searchKeyword" placeholder="Search keyword..">
      <div class="input-group-btn">
        <button class="btn btn-default" ng-click="search(searchType, searchKeyword)"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  
  <div class="block block-rounded block-opt-refresh-icon8" ng-show="searchType=='categories'">
    <div class="block-header text-primary font-w600" style="border-bottom: 1px solid #f4f4f4; font-size: 18px">
      Categories: 
      <span class="badge badge-info">1{{categories.length}}</span>
    </div>
    <div class="block-content block-content-full text-center comparison_height frame frame-white-track">
      
      <table class="table table-striped-gray table-header-bg">
        <colgroup>

          <col width="10%" />
          <col width="90%" />
        </colgroup>
        <tbody>

          <tr ng-repeat="row in categories">
            

          </tr>
        </tbody>
      </table>
    </div>

  </div>
  
</div>
<!-- END Dashboard Charts -->