<!-- Page Header -->
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7 push-5">
      <h1 class="page-heading">
        Search Tool<br>
        <small>- Find out trending keywords schools are using.</small>
      </h1>
    </div>

  </div>
</div>
<!-- END Page Header -->
<!-- Page Body -->
<div class="content content-full">
  <div class="row">
    <div class="col-sm-2">
      
        <div class="radio">
          <label class="css-input css-radio css-radio-primary" ng-click="clickCategoryRadio()" ng-keypress="pressedEnter($event)">
            <input type="radio" name="search-tool-group" ng-model="searchType" value="categories"><span></span> Categories
          </label>
        </div>
        <div class="radio">
          <label class="css-input css-radio css-radio-primary" ng-click="clickCourseRadio()" ng-keypress="pressedEnter($event)">
            <input type="radio" name="search-tool-group" ng-model="searchType" value="courses"><span></span> Courses
          </label>
        </div>
      
    </div>
    <div class="input-group input-group-lg push-15-t col-sm-9">
      <input id="input-search" class="form-control" type="search" maxlength="150" ng-model="inputKeywords" placeholder="Search keyword.." ng-keypress="pressedEnter($event)" uib-tooltip="Please enter at least 2 alphanumeric characters." tooltip-trigger="'none'" tooltip-placement="top-left" tooltip-is-open="inputAlertIsOpen">
      <div class="input-group-btn">
        <button class="btn btn-default" ng-click="search()"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <h5>Popular keywords: </h3>
    </div>
    <div class="col-sm-9">
      <button class="badge badge-info" ng-click="appendKeywords(keywords)" ng-repeat="(cluster, keywords) in keywordClusters" uib-tooltip-template="'keywordClusterTooltipTemplate.html'" tooltip-placement="bottom">
        {{cluster}}
      </button>
      <script type="text/ng-template" id="keywordClusterTooltipTemplate.html">

        <div style="text-align: left;">
          <span class="font-w600">{{cluster}}</span>
          <li ng-repeat="(keyword, frequency) in keywords" ng-if="$index>0">{{keyword}}</li>
        </div>

      </script>
    </div>
  </div>
  <!-- Category Table -->
  <div class="block block-rounded block-opt-refresh-icon8" id="loadingCategories" ng-show="showCategoryResults">
    <div class="block-content block-content-full frame frame-white-track">
      <div ng-show="results_categories.length==0" class="alert alert-warning">
        <p><i class="fa fa-info-circle"></i> No matching categories.</p>
      </div>
      <table ng-show="results_categories.length>0" class="table table-striped-gray table-header-bg" st-pipe="callServer_categories" st-table="results_categories" style="table-layout: fixed;">
        <colgroup>

          <col width="50%" />
          <col width="50%" />
        </colgroup>
        <thead>
          <th st-sort="name">Category <span class="badge badge-info">{{count}}</span></th>
          <th st-sort="university_school__school" st-sort-default="true">School</th>
        </thead>
        <tbody>
          <tr ng-repeat="row in results_categories">
            <td  class="result_name">
              <span ng-if="!row.URL">{{row.name}}</span>
              <a ng-if="row.URL" href="{{row.URL}}" target="_blank">{{row.name}}</a>
            </td>
            <td class="font-w600"text-left">
              <div class="row">
                <div class="col-sm-2">
                  <img ng-src="{{row.logo_url}}" height="40" width="40">
                </div>
                <div class="col-sm-10">{{row.school_name}}<br>
                  <span class="text-muted"><small class="text-uppercase" style="
                    font-weight: 300;
                    font-size: 12px;
                    ">{{row.university_name}}</small></span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <br><br>
              <div class="btn-group pull-left tablepagenum">

                <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>

              </div>
            </td>

            <td class="text-center">
              <br><br>
              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  <!-- END Category Table -->
  <!-- Course Table -->
  <div class="block block-rounded block-opt-refresh-icon8" id="loadingCourses" ng-show="showCourseResults">
    <div class="block-content block-content-full frame frame-white-track">
      <div ng-show="results_courses.length==0" class="alert alert-warning">
        <p><i class="fa fa-info-circle"></i> No matching courses.</p>
      </div>
      <table ng-show="results_courses.length>0" class="table table-striped-gray table-header-bg" st-pipe="callServer_courses" st-table="results_courses" style="table-layout: fixed;">
        <colgroup>

          <col width="30%" />
          <col width="30%" />
          <col width="40%" />
        </colgroup>
        <thead>
          <th st-sort="name">Course <span class="badge badge-info">{{count}}</span></th>
          <th>Category</th>
          <th st-sort="university_school__school" st-sort-default="true">School</th>
        </thead>
        <tbody>
          <tr ng-repeat="row in results_courses">
            <td class="result_name">
              <span ng-if="!row.URL">{{row.name}}</span>
              <a ng-if="row.URL" href="{{row.URL}}" target="_blank">{{row.name}}</a>
            </td>
            <td>
              <span ng-repeat="c in row.categories">{{c.name}}<br ng-if="!$last"></span>
            </td>
            <td class="font-w600"text-left">
              <div class="row">
                <div class="col-sm-2">
                  <img ng-src="{{row.logo_url}}" height="40" width="40">
                </div>
                <div class="col-sm-10">{{row.school_name}}<br>
                  <span class="text-muted"><small class="text-uppercase" style="
                    font-weight: 300;
                    font-size: 12px;
                    ">{{row.university_name}}</small></span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <br><br>
              <div class="btn-group pull-left tablepagenum">

                <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button>

              </div>
            </td>

            <td class="text-center" colspan="2">
              <br><br>
              <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  <!-- END Course Table -->
</div>
<!-- END Page Body -->