<!-- Page Header -->
<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7 push-5">
      <h1 class="page-heading">
        Search Tool<br><small>- Search categories and courses among all schools. </small>
      </h1>
    </div>

  </div>
</div>
<!-- END Page Header -->
<!-- Dashboard Charts -->
<div class="content content-full">
  <div class="input-group input-group-lg">
    <input class="form-control" type="text" placeholder="Search keyword..">
    <div class="input-group-btn">
      <button class="btn btn-default"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div>
    <span>Popular keywords: </span>
    <span>
      <span class="badge badge-default" ng-repeat="keyword in keywords">{{keyword}}</span>
    </span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="block block-rounded block-opt-refresh-icon8" style="border-radius: 6px 6px 0 0">
        <div class="block-header" style="border-bottom: 1px solid #f4f4f4; border-top: 6px solid #5c90d2; padding: 20px; border-top-left-radius: 6px;
    border-top-right-radius: 6px;">
          Categories: 
        </div>
        <div class="block-content block-content-full text-center comparison_height frame frame-white-track">
          <span class="badge badge-info push-10 pull-right">Categories: {{cat2.length}}</span>
          <table class="table table-striped-gray table-header-bg">
            <colgroup>

              <col width="10%" />
              <col width="90%" />
            </colgroup>
            <tbody>

              <tr ng-repeat="row in cat2">
                <td class="text-center"><label class="css-input css-radio css-radio-success css-radio-darker-outline push-10-r css-input-comparison">
                                              <input type="radio" name="radio-comparison2" value="{{row.object_id}}" ng-model="$parent.radio_value2" required="required" ng-change="get_courses2($parent.school2, $parent.radio_value2)"><span></span>
                                          </label>
                </td>
                <td class="text-right font-w600">{{row.name}}</td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="block block-rounded block-opt-refresh-icon8" style="border-radius: 6px 6px 0 0;">
        <div class="block-header" style="border-bottom: 1px solid #f4f4f4; border-top: 6px solid #46c37b; padding: 20px;padding: 20px; border-top-left-radius: 6px;
    border-top-right-radius: 6px;">
          Courses: 
          
        </div>
        <div class="block-content block-content-full text-center comparison_height frame frame-white-track">
          <span class="badge badge-info push-10 pull-right">Courses: {{cat2.length}}</span>
          <table class="table table-striped-gray table-header-bg">
            <colgroup>

              <col width="10%" />
              <col width="90%" />
            </colgroup>
            <tbody>
              <tr ng-repeat="row in cat2">
                <td class="text-center"><label class="css-input css-radio css-radio-success css-radio-darker-outline push-10-r css-input-comparison">
                                              <input type="radio" name="radio-comparison2" value="{{row.object_id}}" ng-model="$parent.radio_value2" required="required" ng-change="get_courses2($parent.school2, $parent.radio_value2)"><span></span>
                                          </label>
                </td>
                <td class="text-right font-w600">{{row.name}}</td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- END Dashboard Charts -->