<!-- Page Content -->
<div class="content content-boxed">


  <div class="block block-rounded">
    <div class="block-header">

      <div class="col-sm-7">
        <h1 class="page-heading">
          <img class="" src="/static/img/G-rid-6-logo.png" alt="" style="width:50px; vertical-align: middle">&nbsp;&nbsp;&nbsp;Technical Support
        </h1>


      </div>
    </div>
    <div class="block-content push-15-t">
      <h3 class="font-w400 text-primary-dark push-20 push-10-l help-point">If you are experiencing technical difficulties, please try the following steps: </h3>
      <ul>
        <li class="push-10"><span class="help-strong">Step 1: </span><br>Make sure that you have normal internet access. If no, please contact your technical support team at your institution.</li>
        <li class="push-10"><span class="help-strong">Step 2: </span><br>Empty your browser cache to ensure the activation of any product updates. Please find a complete set of instructions for how to do so for all possible web browsers: 
          <a href="http://www.refreshyourcache.com">http://www.refreshyourcache.com</a>
        </li>
        <li class="push-10"><span class="help-strong">Step 3: </span><br>If the aforementioned steps are not working, please contact the account manager.</li>
      </ul>
    </div>
  </div>
</div>
<!-- END Page Content -->