<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7 push-5">
      <h1 class="page-heading">
        Visualization Tool<br><small>- Compare courses at two different schools. </small>
      </h1>
    </div>

  </div>
</div>
<!-- END Page Header -->
<!-- Dashboard Charts -->
<div class="content content-full">



  <div class="col-sm-12">

    <div class="block block-rounded" id="chart_block">
      <div class="block-content" >

        <div class="row">
          <div class="form-group">
            
         

<!-- <div class="col-xs-12">
<label>Course format: &nbsp;</label>
<label class="radio-inline" for="example-inline-radio2">
<input type="radio" id="example-inline-radio2" name="example-inline-radios" ng-model="course_format" value="onsite" ng-change="refresh()"> Onsite
</label>

<label class="radio-inline" for="example-inline-radio1">
<input type="radio" id="example-inline-radio1" name="example-inline-radios" ng-model="course_format" value="online" ng-change="refresh()"> Online
</label>

<label class="radio-inline" for="example-inline-radio3">
<input type="radio" id="example-inline-radio3" name="example-inline-radios" ng-model="course_format" value="hybrid" ng-change="refresh()"> Hybrid
</label>
</div>
 -->


<div class="col-xs-12">
<label>Course format: &nbsp;</label>
<label class="checkbox-inline" for="course-format-checkbox1">
<input type="checkbox" id="course-format-checkbox1" name="course-format-checkbox1" value="option1" ng-model="course_format_onsite" ng-change="refresh()"> Onsite
</label>
<label class="checkbox-inline" for="course-format-checkbox2">
<input type="checkbox" id="course-format-checkbox2" name="course-format-checkbox2" value="option2" ng-model="course_format_online" ng-change="refresh()"> Online
</label>
<label class="checkbox-inline" for="course-format-checkbox3">
<input type="checkbox" id="course-format-checkbox3" name="course-format-checkbox3" value="option3" ng-model="course_format_hybrid" ng-change="refresh()"> Hybrid
</label>
</div>

          </div>
        </div>



        <div class="row push-15-t">
          <div class="form-group">
            


            <div class="col-xs-12">
            <label>Course type: &nbsp;</label>

<label class="checkbox-inline" for="course-type-checkbox1">
<input type="checkbox" id="course-type-checkbox1" name="course-type-checkbox1" value="option1" ng-change="refresh()" ng-model="course_type_amp"> AMP
</label>
<label class="checkbox-inline" for="course-type-checkbox2">
<input type="checkbox" id="course-type-checkbox2" name="course-type-checkbox2" value="option2" ng-change="refresh()" ng-model="course_type_non_amp"> Non-AMP
</label>

</div>
          </div>
        </div> 


        <div id="main" style="width: 950px;height:400px;"></div>

        <div style="width: 870px; margin-left: 50px">

          <table style="width: 100%;  table-layout: fixed;">
                   
              <tbody>

                <tr>

                <td ng-repeat="row in selection" class="text-center">

                  <div class="form-group" style="padding-left: 3px; padding-right: 3px">
                          
                              
                              
                                
                            <!-- <select class="form-control push-5" ng-model="row.school" id="simple-classic-school" name="simple-classic-school" ng-options="p.object_id as p.university_abbr + ' | ' + p.school for p in schools" ng-change="get_category(row.school, $index, false)"> -->
                            <select class="form-control push-5" ng-model="row.school" id="simple-classic-school" name="simple-classic-school" ng-options="p.object_id as p.university_abbr + ' | ' + p.school for p in schools">
                                                            <option value="">SCHOOL</option>
                            </select> 
                              
                           
                            <div class="dropup push-5">

                           
                            <div ng-dropdown-multiselect="" options="row.categories" selected-model="row.category" extra-settings="selection_settings" translation-texts="text_settings"></div>
                            


                            
                            </div>
                       
                       
           </div>



                </td>
                </tr>

              </tbody>
         

            </table></div>

      </div>
    </div>

  </div>




</div>
<!-- END Dashboard Charts