<div class="content bg-gray-lighter">
  <div class="row items-push">
    <div class="col-sm-7 push-5">
      <h1 class="page-heading">
        Visualization Tool<br><small>- Compare courses at two different schools. </small>
      </h1>
    </div>

  </div>
</div>
<!-- END Page Header -->
<!-- Dashboard Charts -->
<div class="content content-full">



  <div class="col-sm-12">

    <div class="block block-rounded">
      <div class="block-content" >

        <div class="row">
          <div class="form-group">
            
         

<!-- <div class="col-xs-12">
<label>Course format: &nbsp;</label>
<label class="radio-inline" for="example-inline-radio2">
<input type="radio" id="example-inline-radio2" name="example-inline-radios" ng-model="course_format" value="onsite" ng-change="refresh()"> Onsite
</label>

<label class="radio-inline" for="example-inline-radio1">
<input type="radio" id="example-inline-radio1" name="example-inline-radios" ng-model="course_format" value="online" ng-change="refresh()"> Online
</label>

<label class="radio-inline" for="example-inline-radio3">
<input type="radio" id="example-inline-radio3" name="example-inline-radios" ng-model="course_format" value="hybrid" ng-change="refresh()"> Hybrid
</label>
</div>
 -->


<div class="col-xs-12">
<label>Course format: &nbsp;</label>
<label class="checkbox-inline" for="course-format-checkbox1">
<input type="checkbox" id="course-format-checkbox1" name="course-format-checkbox1" value="option1" ng-model="course_format_onsite" ng-change="refresh()"> Onsite
</label>
<label class="checkbox-inline" for="course-format-checkbox2">
<input type="checkbox" id="course-format-checkbox2" name="course-format-checkbox2" value="option2" ng-model="course_format_online" ng-change="refresh()"> Online
</label>
<label class="checkbox-inline" for="example-inline-checkbox3">
<input type="checkbox" id="course-format-checkbox3" name="course-format-checkbox3" value="option3" ng-model="course_format_hybrid" ng-change="refresh()"> Hybrid
</label>
</div>

          </div>
        </div>



        <div class="row push-15-t">
          <div class="form-group">
            


            <div class="col-xs-12">
            <label>Course type: &nbsp;</label>

<label class="checkbox-inline" for="course-type-checkbox1">
<input type="checkbox" id="course-type-checkbox1" name="course-type-checkbox1" value="option1" ng-change="refresh()" ng-model="course_type_amp"> AMP
</label>
<label class="checkbox-inline" for="course-type-checkbox2">
<input type="checkbox" id="course-type-checkbox2" name="course-type-checkbox2" value="option2" ng-change="refresh()" ng-model="course_type_non_amp"> Non-AMP
</label>

</div>
          </div>
        </div> 


        <div id="main" style="width: 900px;height:400px;"></div>


        <div style="width:950px; margin-left:65px">
          
        <div class="row">
            
            <div ng-repeat = "row in selection">

            
            <div class="form-group col-sm-1" style="padding-left: 3px; padding-right: 3px">
                          
                              
                              
                                
                            <select class="form-control push-5" ng-model="row.school" id="simple-classic-school" name="simple-classic-school" ng-options="p.object_id as p.school+' | '+p.university for p in schools" ng-change="get_category(row.school, $index)">
                                                            <option value="">SCHOOl</option>
                            </select> 
                              
                             
                               
                              <!--     <select class="form-control" ng-model="row.category" id="simple-classic-category" name="simple-classic-category" ng-options="p.object_id as p.name for p in row.categories" ng-change="set_category(row.category, $index); refresh()">
                                                            <option value="">CATEGORIES</option>
                            </select> 
 -->

                            <div class="dropup push-5">

                           
                            <div ng-dropdown-multiselect="" options="row.categories" selected-model="row.category" extra-settings="selection_settings"></div>
                            

                            </div>
                            <button ng-click="reset($index)" class="btn btn-info btn-block"><i class="fa fa-undo"></i></button>
                            
                       
           </div>


<!-- 
           <div class="form-group">
                          
                              
                              
                       
           </div> -->



        </div>



        </div>

          

        </div>
      </div>
    </div>

  </div>




</div>
<!-- END Dashboard Charts