
    <!-- Page Content -->
    <div class="content content-boxed">
      <!-- Table Sections (data-js-table-sections attribute is initialized in js/directives.js) -->
      
      <!-- <button ng-click="addtest()">Add to table</button> -->
      <!-- Table Sections (data-js-table-checkable attribute is initialized in js/directives.js) -->
      <div class="block block-rounded">
        <div class="block-header" style="padding-bottom: 0">
                <!-- <div class="block-options">
                    <code>.data-js-table-checkable</code>
                  </div> -->
                  <!-- <h3 class="block-title">Checkable Table</h3> -->
                  <div class="col-sm-6 col-xs-6">
                    <h1 class="page-heading">
                      "Whoops!" Report <br><small> &nbsp;&nbsp;- Keep your website content flawless.</small>
                    </h1>                
                      
                      
                    <!-- <button class="btn btn-primary" type="button" ng-animate-children>
                      Messages
                      <span shake id="badgeMessage" class="badge" count="count" ng-show="count > 0">{{ count }}</span>
                    </button>
                    <button ng-click="addMessage()">Add Message</button> -->

                  </div>

                  <div class="col-sm-6 col-xs-6 text-right">
                      <!-- <div class="block-content">
                
                  <div class="progress" style="margin-bottom:30px;" ng-show="availablenum>0">
                    
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':width + '%'}" ng-if="availablenum!==0">{{availablenum}} / {{totalnum}} reports available</div>
                  </div>

                    </div> -->
                    <div class="pie-chart chart-1" data-js-pie-chart="{lineWidth: 5, size: 88, barColor: '#abe37d', trackColor: '#eeeeee', scaleColor: '#dddddd'}" data-percent="0">
                                <span data-uib-tooltip="{{availablenum}} out of {{totalnum}}  'Whoops!' Reports are available" data-tooltip-placement="top">{{availablenum}} <br><small class="text-muted">/{{totalnum}} </small></span>
                    </div>
                  </div>
                </div>
               <!--  <div class="block-content">
                 
                  <div class="progress" style="margin-bottom:30px;" ng-show="availablenum>0">
                    
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':width + '%'}" ng-if="availablenum!==0">{{availablenum}} / {{totalnum}} reports available</div>
                  </div>

                    </div> -->
        
        <!-- END Checkable Table -->

                    <div class="block block-rounded" id="loadingtable">
                                   
                        <div class="block-content" style="padding-left:30px; padding-right:30px">


                      <table st-table="data" st-pipe="whoopspipe" class="table table-hover block push-30" style="table-layout: fixed;">
                      <colgroup>
                      <col width="60px"/>
                      <col width="53%"/>
                      <col width="18%"/>
                      <col width="115px"/>
                      <col width="38px" />
                    </colgroup>
                    <thead class="thead-inverse">
                      
                      <tr class="bg-info" style="border: 1px solid #e3e3e3; color:white;">
                        <th></th>
                        <th st-sort="programName" style="padding-left:15px;" class="h4 font-w400">program</th>
                        <th st-sort="degreeName" style="padding-left:15px;" class="h4 font-w400 text-center">degree</th>
                        <th st-sort="whoops_status" style="padding-left:15px;" class="h4 font-w400 text-center">status</th>
                        <th  class="h4 font-w400 text-center"><i class="fa fa-exclamation-circle" aria-hidden="true" data-uib-tooltip="Newly updated report" data-tooltip-placement="top"></i></th>
                        
                      </tr>
                      <tr style="border: 1px solid #eee;" class="bg-gray-lighter ">

                    <th class="text-center th-bordered" style="width: 70px; vertical-align: middle; text-decoration: none; cursor: default;">
                      
                      <i class="fa fa-search search-icon"></i>
                    </th>
                      
                    <th class="th-bordered">
                     <input st-search="programName" placeholder="Search for a program..."  type="search" class="form-control font-w400" style="height:auto; width:100%;"/>
                   </th>

                   <th class="th-bordered">
                    <!-- <select st-search="degreeName"  class="form-control" st-input-event="change">
                      <option value="" style="text-align:center;">Select...</option>
                      <option ng-repeat="row in degreeSelection" value="{{row}}">{{row}}</option>
                    </select> -->

                    <input st-search="degreeName" placeholder="degree..."  type="search" class="form-control font-w400 text-center" style="height:auto; width:100%;"/>
                  </th>
                  <th class="th-bordered">
                    <select st-search="whoops_status" class="form-control font-w400" st-input-event="change">
                      <option value="">Select...</option>
                      <option value="True">Complete</option>
                      <option value="False">In Progress</option>
                    </select>
                  </th>

                   <th class="th-bordered">

                   </th>
                </tr>
              </thead>
              <tbody>

                <tr style="border: 1px solid #f0f0f0" ng-repeat="row in data" ng-class="{'bg-gray-lighter':!row.whoops_status}">

                  <!-- <td>
                    <md-checkbox md-no-ink='' aria-label="Checkbox No Ink" ng-model="$storage.upgrid[row.programName+row.degreeName].whoops" ng-change="selectOne()" class="md-primary" ng-disabled="row.status!=='T'||row.perfect==='T'"></md-checkbox>
                  </td> -->

                  <td class="text-center bg-gray-lighterer td-bordered">
                  <!-- checkbox one -->
                    <label class="css-input css-checkbox css-checkbox-primary" ng-class="{'css-input-disabled':row.whoops_status!=='True'||row.notes===false}" data-uib-tooltip="Add to the 'Report Manager'" data-tooltip-placement="top">

                      <input type="checkbox" ng-model="$storage.upgrid[row.programName+'|'+row.degreeName]['whoops']" ng-change="selectOne(row.programName, row.degreeName, row.objectId, row.whoops_status, row.enhancement_status, row.notes, row.confirm)" ng-disabled="row.whoops_status!=='True'||row.notes===false"><span></span>


                    </label>

                  </td>


                  <td class="font-w500 td-bordered" style="padding-left: 15px">{{row.programName}}</td>
                  <td style="text-align: center;" class="font-w500 td-bordered">{{row.degreeName}}</td>
                  <td class="text-center td-bordered">
                    <span ng-if="row.whoops_status==='True' && row.notes===false"><i class="fa fa-check-circle fa-2x text-success" data-uib-tooltip="No errors have been found in this program's website content at present." data-tooltip-placement="top"></i>

                     
                    </span>
                    <span ng-if="row.whoops_status==='True' && row.notes===true">

                      <div class="btn-group action-btns">
                        <button class="btn btn-default btn-white" data-toggle="modal" data-target="#WhoopsReport" ng-click = "WhoopsViewer(row.objectId)" data-js-blur>
                        <a class="fa fa-cloud-download text-primary" style="vertical-align: middle;">
                        </a>
                        </button>
                        
                        <button class="btn btn-default btn-white"  data-toggle="modal" data-target="#myModal1" ng-click ="htmlShare(row.objectId)" data-js-blur>
                          <a class="fa fa-share-alt text-orange">

                         </a> 


                        </button>
                        
                      </div>
                    </span>
                    <label ng-if="row.whoops_status==='False'">
                      <!-- <i class="fa fa-hourglass-half fa-1x"></i> -->
                      <!-- <span class="label label-default" style=font-weight:bold;""><span class="fa fa-clock-o"></span>&nbsp;&nbsp;In Progress</span> -->
                    <label class="label label-default"><i class="fa fa-refresh"></i> &nbsp;In Progress</label>
                    </label>
                    
                  </td>
                  
                  <td class="td-bordered text-center">
                    <i ng-show="row.updated" class="fa fa-exclamation-circle text-warning" aria-hidden="true" ></i>
                   
                  </td>
                </tr>

              </tbody>
         

              <tfoot ng-show="totalnum > 25">
                <tr>
                  

                  
                  <td colspan="2">
                    <br/>
                    <div class="btn-group pull-left ng-scope tablepagenum push-5-t text-muted" >
                     25 per page
                      <!-- <button type="button" ng-class="{'active':itemsByPage==25}" ng-click="itemsByPage=25" class="btn btn-default" data-js-blur>25</button>
                      <button type="button" ng-class="{'active':itemsByPage==50}" ng-click="itemsByPage=50" class="btn btn-default" data-js-blur>50</button> -->
                      <!-- data-toggle="tooltip" data-placement="top" title="25 per page" -->
                    </div>
                  </td>

                  <td colspan="3" class="text-center">
                    <br/>
                    <div st-template="/static/views/Home/pagination.custom.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" style="text-align:right;"></div>
                  </td>


                </tr>
              </tfoot>
            </table>  

                        </div>
                    </div>

                    
          </div>
      </div>
      <!-- END Page Content -->


    <!-- Modal of Share the Link-->
    <div class="modal fade" id="myModal1"  role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-header bg-primary-dark">
              <ul class="block-options">
                                    <!-- <li>
                                        <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                                      </li> -->
                                      <li>
                                        <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                      </li>
                                    </ul>
                                    <h3 class="block-title">Share the Report</h3>
                                  </div>
                                  <div class="block-content">
                                    <div class="form-group">
                                      <div class="spinner" style="position:absolute;margin:0 auto;top:85px;left:280px;" ng-show="shareLoading">
                                        <div class="rect1"></div>
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                        <div class="rect5"></div>
                                      </div>

                                      <label for="reportlink">Link: </label> 
                                      <label style="float:right" ng-show="copied">Copied!</label>
                                      <input type="url" ng-copy="copied=true" class="form-control" id="reportlink" ng-model= "url.text" select-on-click spellcheck="false">
                                      

                                    </div>
                                    <!-- Target -->
                                    <!-- Trigger -->

                                  </div>
                                  <div class="modal-footer">
                                    <span class="pull-left text-city">The report will expire in 48 hours</span>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button data-clipboard-target="#reportlink" type="button" class="btn btn-primary">Copy</button>
                                  </div>
                                </div>
                              </div>
                            </div>


                            </div>

       <!-- Modal of Pdf Viewer-->
      <div class="modal viewer fade" id="WhoopsReport"  role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b" id="whoops_loading">
              <div class="block-header bg-primary-dark">
                <ul class="block-options">
                                    <li>
                                        <button ng-click="printReport()" type="button" data-js-blur><i class="si si-printer"></i></button>
                                     </li>

                                    <li>
                                        <button type="button" ng-click="togglefull(); actualscreen = !actualscreen" data-js-blur><i ng-class="{'si si-size-fullscreen': !actualscreen, 'si si-size-actual': actualscreen }"></i></button>
                                      </li>
                                      
                                      <li>
                                        <button data-dismiss="modal" type="button" ng-click="scrolltop()" data-js-blur><i class="si si-close"></i></button>
                                      </li>
                                    </ul>
                                    <h3 class="block-title">Whoops Report</h3>

                                  </div>
                                  
                                  <div class="block-content fullscreen-container frame" style="width:auto;padding:0; " id="scrolltop_whoops_page">

               
                        <!-- SlimScroll Container -->
                       


                        <div class="block whoops_block" style="padding:7px 12px 12px 12px;margin:0; background:#6a7074" id="printWhoops">

                          <div ng-include src="'/static/views/Home/partials/whoops_template.html'"></div>
                        
                        </div>
                         
                        
                        <!-- END SlimScroll Container -->
                

                </div>
            </div>
          
        </div>
      </div>
    </div>





